---
# API pages style
---

@import "variables";
@import "markdown";


@mixin linearBackground($color) {
  background-color: $color;
  background: linear-gradient(to bottom, $color, lighten($color, 10));

}
#mission-statement {
  padding-top: 5%;
  padding-bottom: 5%;
  margin-bottom: 2%;
  h1 {
  	padding: .2em 0;
  	font-size: 200%;
  	line-height: 1.8;
  	letter-spacing: .08em;
  	text-transform: uppercase;
  }

  h2 {
  	padding: .2em 0;
  	font-size: 150%;
  	line-height: 1.4;
  	letter-spacing: .05em;
  	text-transform: uppercase;
  }

  &.confidential {
    @include linearBackground($confidential-color);
  }

  &.reference {
    @include linearBackground($reference-color);
  }

  &.simulation {
    @include linearBackground($simulation-color);
  }

  &.smartData {
    @include linearBackground($smartData-color);
  }
}
#description {
  .markdown-body {
    border: none;
    -webkit-box-shadow: none;
  	-moz-box-shadow: none;
  	box-shadow: none;
  }
}
#callToAction {
  margin-top: 3%;
  padding-top: 3%;
  padding-bottom: 2%;

  &.confidential {
    @include linearBackground($confidential-color);
  }

  &.reference {
    @include linearBackground($reference-color);
  }

  &.simulation {
    @include linearBackground($simulation-color);
  }

  &.smartData {
    @include linearBackground($smartData-color);
  }
}
