---
# API pages style
---

@import "variables";
@import "markdown";
@import "service";

.section-title {
  font-size: 1.3em;
  border-bottom: 1px solid #289fdc;
}

section + section {
  margin-top: 2em;
}

#mission-statement {
  padding-top: 5%;
  padding-bottom: 5%;
  margin-bottom: 2%;

  h1 {
    padding: .2em 0;
    i.icon {
      height: inherit;
    }
  }

  h2 {
    padding: .2em 0;
  }

  background: $backgroundBlue;

  .large.ui.secondary.button {
    margin: 10px;
  }
}
#description {
  .metadata {
    margin-top: -1em;
    z-index: -200;

    ul {
      margin-top: 0.3em;
      margin-bottom: 0.6em;
    }

    ul.unstyled {
      list-style: none;
      padding-left: 15px;
    }

    .check.icon {
      color: green;
    }

    .warning.icon {
      color: indianred;
    }
  }

  .ribbon {
    z-index: 200;
  }

  .logoWrapper {
    text-align: center;
  }

  .markdown-body {
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  .swagger-section {
    background-color: whitesmoke;
    padding: 10px 2em;

    hgroup.main h2 {
      font-size: 1em;
    }
    .info_title {
      display: none;
    }

    .swagger-ui .wrapper section.models {
      background-color: #fff;
    }

  }

  #validator {
    display: none
  }

  .ui.statistic {
    display: block;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    &>.value {
        font-size: 3rem!important;
    }
  }
}
#callToAction {
  margin-top: 3%;
  padding-top: 3%;
  padding-bottom: 2%;

  background: $backgroundBlue;
}

#services {
  margin-bottom: 3em;
}
