---
# Catalog pages style
---

@import "variables";
@import "mixins";

#list {

  &.main {
    @include linearBackground($main-color);
  }

  &.smartData {
    @include linearBackground($smartData-color);
  }

  &.confidential {
    @include linearBackground($confidential-color);
  }

  &.reference {
    @include linearBackground($reference-color);
  }

  &.simulation {
    @include linearBackground($simulation-color);
  }
}

.tag.label {
  color: white;

  &.smartData {
    background-color: $smartData-color;
  }

  &.confidential {
    background-color: $confidential-color;
  }

  &.reference {
    background-color: $reference-color;
  }

  &.simulation {
    background-color: $simulation-color;
  }
}
#apiButton {
  margin-top: 3%;
  margin-bottom: 3%;
}
