---
# Catalog pages style
---

@import "variables";

#list {
  background-color: #0E1546;
}

.tag.label {
  color: white;

  &.smartData {
    background-color: $smartData-color;
  }

  &.confidential {
    background-color: $confidential-color;
  }

  &.reference {
    background-color: $reference-color;
  }

  &.simulation {
    background-color: $simulation-color;
  }
}
#apiButton {
  margin-top: 3%;
  margin-bottom: 3%;
}
