---
# Error pages style
---

#errorContainer {
	margin-top: 15%;
	h1, h2 {
		text-align: center;
		font-size: 200%;
		line-height: 1.8;
		letter-spacing: .08em;
		text-transform: uppercase;
		margin: 0
	}
	div {
		margin: auto;
		width: 50%;
		border-top: 0.5em #3d4a99 solid;
		padding-top: 2em;
		p {
			display: flex;
			a {
				background-color: #3d4a99;
				color: white;
				text-align: center;
				margin: auto;
			}
		}
	}
}
