---
# Homepage pages style
---

@import "variables";
@import "mixins";
@import "service";

#mission-statement {
  padding-top: 8%;
  padding-bottom: 8%;
  @include linearBackground($main-color);


  .input {
    min-width: 60%;
    margin-bottom: 3%
 }

  h1 {
    padding: .2em 0;

    font-size: 200%;
    line-height: 1.8;
    letter-spacing: .08em;

    text-transform: uppercase;
  }
  .results {
    width: 100%;

    .searchError {
      margin-top: 1em;
    }

    .algolia__result-highlight {
      font-weight: 600;
      color: black;
    }
  }

  .poweredBy {
    font-size: 95%;
    padding: 0.5em;
    text-align: right;
    img {
      height: 1em;
      position: relative;
      top: 0.2em;
    }
  }
}

#description {
  margin-top: 5rem;
  margin-bottom: 5rem;
  img {
    width: 100%;
  }
  p, ul {
    line-height: 1.5em;
    color: #6f7c82
  }
  ul.link {
    display: flex;
    font-size: 1.1em;
    padding-top: 1em;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      position: relative;
      &:first-child {
        margin-right: 1.8em;
        &::after {
          content: "";
          position: absolute;
          right: -17px;
          top: calc(50% - 2px);
          width: 6px;
          height: 6px;
          background: #dde5eb;
          box-shadow: inset 0 1px 1px rgba(127,153,176,.3);
          border-radius: 3px;
        }
      }
      a {
        &:hover::before {
          transform: none;
          opacity: 1;
          transition-duration: 0.4s
        }
        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          bottom: -4px;
          background: #e5ebf0;
          transform: translateY(7px);
          opacity: 0;
          transition: 1.8s cubic-bezier(.2,1,.3,1);
          pointer-events: none;

        }
      }
    }
  }
}

$border-type-color: #eff3f6;

#type {
  margin-top: 5rem;
  margin-bottom: 5rem;
  li {
    padding-top: 60px;
    padding-bottom: 45px;
    border-top: 2px solid $border-type-color;
  }

  li:nth-child(2n+1) {
    border-right: 1px solid $border-type-color;
    padding-right: 65px;
  }

  li:nth-child(2n) {
    border-left: 1px solid $border-type-color;
    padding-left: 65px;
  }

  li:nth-child(n+3) {
    border-bottom: 2px solid $border-type-color;
  }

  li {
    .icon {
      color: white;
      height: 1.5em;
      width: 1.5em;
      border-radius: 50%;
      vertical-align: middle;
      display: table-cell;

      &.confidential {
        background-color: $confidential-color;
      }
      &.reference {
        background-color: $reference-color;
      }
      &.simulation {
        background-color: $simulation-color;
      }
      &.smartData {
        background-color: $smartData-color;
      }
    }
  }

  p.discoverAPI {
    a::after {
      content: url({{ site.baseurl }}/img/arrow-more.svg);
      display: inline-block;
      margin-left: 7px;
    }
    a:hover::after {
      animation:arrow-bounce 1s cubic-bezier(.4,.04,.4,1)
    }
    @keyframes arrow-bounce {
      60%{transform:translateX(8px)}
      70%{transform:translateX(-3px)}
      80%{transform:translateX(2px)}
      90%{transform:translateX(-1px)}
    }
  }
}

p.buttonContainer {
  text-align: center;
  a.ui.big.button.moreButton {
    margin-bottom: 4%;
    margin-top: 4%;
    box-shadow: 0 0 0 0 rgba(34,36,38,.15) inset;
    background-color: $service-color;
    color: #fff;
    text-shadow: none;
    background-image: none;

    &:hover {
      background-color: darken($service-color, 5%)
    }
  }
}
