---
# Homepage pages style
---


#mission-statement {
  padding-top: 8%;
  padding-bottom: 8%;
  background-color: #0E1546;

  .input {
   min-width: 60%;
   margin-bottom: 3%
 }

 h1 {
 	padding: .2em 0;

 	font-size: 200%;
 	line-height: 1.8;
 	letter-spacing: .08em;

 	text-transform: uppercase;
 }
 .results {
   width: 100%
 }
 .searchExamples {
   color: #BDBDBD;
   a {
     color: white;
     text-decoration: underline;
     &:hover {
      text-decoration: none;
    }
   }
 }
}

$border-type-color: #eff3f6;

#type {
  margin-top: 5rem;
  margin-bottom: 5rem;
  li {
    padding-top: 60px;
    padding-bottom: 45px;
    border-top: 2px solid $border-type-color;
  }

  li:nth-child(2n+1) {
    border-right: 1px solid $border-type-color;
    padding-right: 65px;
  }

  li:nth-child(2n) {
    border-left: 1px solid $border-type-color;
    padding-left: 65px;
  }

  li:nth-child(n+3) {
    border-bottom: 2px solid $border-type-color;
  }

  li:before {
    display: block;
    width: 80px;
    content: url(https://stripe.com/img/atlas/pillars/inc.svg);
  }

  p.discoverAPI {
    a:after {
      content: url({{ site.baseurl }}/img/arrow-more.svg);
      display: inline-block;
      margin-left: 7px;
    }
    a:hover:after {
      animation:arrow-bounce 1s cubic-bezier(.4,.04,.4,1)
    }
    @keyframes arrow-bounce {
      60%{transform:translateX(8px)}
      70%{transform:translateX(-3px)}
      80%{transform:translateX(2px)}
      90%{transform:translateX(-1px)}
    }
  }
}

#services {
  h2 {
      max-width: 60rem;
      margin: 1em auto;
      font-size: 150%;
  }
}

#apiButton {
  margin-bottom: 4%;
  margin-top: 4%;
}
