---
# Homepage pages style
---

@import "variables";
@import "service";

#mission-statement {
  padding-top: 4em;
  padding-bottom: 4em;

  .input {
    min-width: 60%;
    margin-bottom: 3%
 }

  h1 {
    padding: .2em 0;

    font-size: 200%;
    line-height: 1.8;
  }

  .header-with-image {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      margin-right: 3em;
    }
  }

  .results {
    width: 100%;

    .searchError {
      margin-top: 1em;
    }

    .result-highlight {
      font-weight: 600;
      color: black;
    }
  }

  .poweredBy {
    font-size: 95%;
    padding: 0.5em;
    text-align: right;
    img {
      height: 1em;
      position: relative;
      top: 0.2em;
    }
  }
}

section {
  padding: 4em 0;

  h2 {
    text-align: center;
  }
}

section#apis {
  background: $backgroundBlue;

  h2 {
    color: #fff;
  }
}

#description {

  .header.padded {
    margin: 2em 0 1em 0;
  }
}

p.buttonContainer {
  text-align: center;
}

a.ui.button.moreButton {
  background-color: $simulation-color;
  color: #fff;
  text-shadow: none;
  background-image: none;

  &:hover {
    background-color: darken($simulation-color, 5%)
  }
}

a.ui.big.button.moreButton {
  margin-top: 4%;
}

@media (max-width: 768px) {
	.header-with-image {
		flex-direction: column;
	}

  #mission-statement {
    padding: 4em 2em;
  }

  #mission-statement .header-with-image img {
    width: 30%;
    margin: 0;
  }

  #mission-statement h1 {
    padding: 0 10px;
    margin-top: 10px;
    font-size: 1.3em;
  }
}
