#mission-statement {
  padding-top: 10%;
  padding-bottom: 10%;
  background-color: #0E1546;
}

#mission-statement .input {
	min-width: 60%;
	margin-bottom: 5%
}

#mission-statement h1 {
	padding: .2em 0;

	font-size: 200%;
	line-height: 1.8;
	letter-spacing: .08em;

	text-transform: uppercase;
}

#mission-statement .results {
  width: 100%
}

#type h2 {
    max-width: 60rem;
    margin: 1em auto;
    font-size: 150%;
}

#type div {
    max-width: 60rem;
    margin: 1em auto;
}

#services h2 {
    max-width: 60rem;
    margin: 1em auto;
    font-size: 150%;
}

#services div {
  max-width: 100rem;
  margin: 1em auto;
}

#apiButton {
  margin-bottom: 3%
}
