---
# Main pages style
---

@import "variables";

#wrapper {
	min-height: 100%;
	position: relative;
}

#page {
	padding-bottom: 10rem;
}

header {
	background-image: url({{ site.baseurl }}/img/marianne.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: .8em;
	background-color: #FEFEFE;
	color: #555;

	.ui.secondary.menu {
		padding: 0.5em;
	}

	#logo {
		color: transparent;
		background-image: url(/img/logo.svg);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: left center;
		padding-right: 1.5em;
		margin-right: .8em;
	}
}

main {
	margin-bottom: 3em;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 10rem;
	padding: 1.5em 0;
	background-color: #f8f8f8;

	.incubateur {
		text-align: center;
	}
}

input:focus::-webkit-input-placeholder{
    color: transparent!important;
}
input:focus::-moz-placeholder{
    color: transparent!important;
}
