---
# Main pages style
---

@import "variables";

#wrapper {
	min-height: 100%;
	position: relative;
}

#page {
	padding-bottom: 10rem;
}

header {
	padding: 0.5em;
	background-color: #FEFEFE;
	color: #555;

	> nav.ui.secondary.menu {
	  background-image: url(/img/marianne.svg);
	  background-repeat: no-repeat;
	  background-size: contain;
	  background-position: 99%;
	}

	#logo {
		color: transparent;
		background-image: url(/img/logo.svg);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: left center;
		padding-right: 1.5em;
		margin-right: .8em;
	}
}

.ui.tiny.label {
	margin-bottom: 2px;
}

main {
	margin-bottom: 3em;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 10rem;
	padding: 1.5em 0;
	background-color: #f8f8f8;

	.incubateur {
		text-align: center;
	}
}

input:focus::-webkit-input-placeholder{
    color: transparent!important;
}
input:focus::-moz-placeholder{
    color: transparent!important;
}

@media (max-width: 30em) {
	.medium.screen.only {
		display: none !important;
	}
}
