---
# Ré-utilisation pages style
---

@import "variables";
@import "markdown";

#title {
  padding-top: 5%;
  padding-bottom: 5%;
  margin-bottom: 2%;
  h1 {
    padding: .2em 0;
  }

  h2 {
    padding: .2em 0;
  }

  background: $backgroundBlue;
}

.logoAPI {
  margin-top: 0.5em;
}

.markdown-body {
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-top: 2em;
  margin-bottom: 2em;
}

.content{
  margin-bottom: 3em;
}
