{
  "openapi": "3.0.3",
  "info": {
    "title": "Annuaire de l'éducation",
    "version": "2.0.0",
    "description": "\nCette API donne accès aux caractéristiques des établissements de l'Éducation nationale : Enseignement, Information et d'Orientation, Établissements administratifs.\n\nL'API est basée sur REST.\n\n- Seule la méthode HTTP `GET` est supportée.\n- Les points d'entrées retournent du JSON\n- Les points d'entrées utilisent [ODSQL](https://help.opendatasoft.com/apis/ods-search-v2/#odsql). Cela veut dire que les paramètres fonctionnent de la même manière sur tout les points d'entrées.\n",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://data.education.gouv.fr/api/v2"
    }
  ],
  "security": [
    {
      "api_key": []
    }
  ],
  "tags": [
    {
      "name": "Dataset"
    }
  ],
  "paths": {
    "/catalog/datasets/fr-en-annuaire-education": {
      "get": {
        "tags": ["Dataset"],
        "description": "Retourne les métadonnées de l'API et les différents points d'entrées disponibles.\n",
        "operationId": "getDataset",
        "parameters": [
          {
            "$ref": "#/components/parameters/timezone"
          },
          {
            "$ref": "#/components/parameters/select"
          }
        ],
        "responses": {
          "200": {
            "description": "The dataset",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dataset"
                }
              }
            }
          }
        },
        "summary": "Récupérer les métadonnées de l'annuaire",
        "x-internal": false
      },
      "parameters": []
    },
    "/catalog/datasets/fr-en-annuaire-education/query": {
      "get": {
        "tags": ["Dataset"],
        "description": "Réalise une requête sur l'annuaire pour récupérer les établissements.\n",
        "operationId": "getRecords",
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/order_by"
          },
          {
            "$ref": "#/components/parameters/select"
          },
          {
            "$ref": "#/components/parameters/timezone"
          },
          {
            "$ref": "#/components/parameters/where"
          },
          {
            "$ref": "#/components/parameters/group_by"
          }
        ],
        "responses": {
          "200": {
            "description": "Records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/record"
                  }
                }
              }
            }
          }
        },
        "summary": "Requêter l'annuaire"
      },
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "dataset": {
        "type": "object",
        "properties": {
          "dataset_id": {
            "type": "string"
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {}
            }
          },
          "has_records": {
            "type": "boolean"
          },
          "data_visible": {
            "type": "boolean"
          },
          "features": {
            "type": "array",
            "description": "A map of available features for a dataset, with the fields they apply to.\n",
            "items": {
              "type": "string"
            }
          },
          "metas": {
            "type": "object",
            "properties": {}
          },
          "fields": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "label": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "annotations": {
                  "type": "object",
                  "properties": {}
                },
                "description": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "record": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "dateTime"
          },
          "size": {
            "type": "integer"
          },
          "fields": {
            "type": "object",
            "properties": {}
          }
        }
      }
    },
    "parameters": {
      "where": {
        "name": "where",
        "in": "query",
        "description": "Un tableau de filtres.\n\nUn filtre est une expression effectuant une recherche qui peut éganelement inclure des opérateurs logiques\n(NOT, AND, OR...) ainsi que d'autres fonctions pour effectuer des opérations complexes.\n\nConsultez [la documentation de référence](https://help.opendatasoft.com/apis/ods-search-v2) pour plsus de détails.\n",
        "style": "form",
        "explode": true,
        "schema": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "limit": {
        "name": "limit",
        "in": "query",
        "description": "Nombre d'établissements à retourner.\n\nA utiliser avec offset pour la pagination.\n\nLa valeur maximum de limit est 100. Pour récupérer plus de données, vous pouvez utiliser les exports.\nLa valeur par défaut est 10.\n",
        "schema": {
          "maximum": 100,
          "minimum": -1,
          "type": "integer",
          "default": 10
        }
      },
      "offset": {
        "name": "offset",
        "in": "query",
        "description": "Index du premier établissement à retourner (démarre à 0).\n\nA utiliser avec limit pour la pagination.\n",
        "schema": {
          "minimum": 0,
          "type": "integer",
          "default": 0
        }
      },
      "select": {
        "name": "select",
        "in": "query",
        "description": "Expression select pour ajouter, supprimer, modifier les champs retournés.\nUne expression peut être:\n  - un joker ('*'): retoourne l'ensemble des champs\n  - un nom de champ: retourne seulement ce champ\n  - une expression complexe : retourne le resultat de l'expression. Un label peut être positionné pour cette expression. Par exemple : 'taille * 2 as taille_plus_grande' retournera un nouveau champ nommé taille_plus_grande et contennant le double de la valeur du cahmp taille.\n",
        "schema": {
          "type": "string"
        }
      },
      "group_by": {
        "name": "group_by",
        "in": "query",
        "description": "Expression group by défini un ensemble de fonction pour une aggregation.\nCela permet de grouper les resultats en fonction de chaque valeur du champ.\n",
        "schema": {
          "type": "string"
        }
      },
      "order_by": {
        "name": "order_by",
        "in": "query",
        "description": "Liste de nom de champ séparée par des virgules, suivi par une indication d'ordre (`asc` ou `desc`).\n\nTri les résultats selon les valeurs des champs par ordre croissant par défaut.\nPour trier par ordre décroissant, vous pouvez utiliser le mot clé `desc`.\n\nPar exemple : `sum(age) desc, name asc`\n",
        "style": "form",
        "explode": false,
        "schema": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "timezone": {
        "name": "timezone",
        "in": "query",
        "description": "Positionne le fuseau horaire pour les champs date",
        "schema": {
          "type": "string",
          "default": "UTC"
        }
      }
    },
    "securitySchemes": {
      "api_key": {
        "type": "apiKey",
        "name": "apikey",
        "in": "query"
      }
    }
  }
}
