$confidential: #10c6b0;
$reference: #23b0b7;
$smartData: #1e4c8e;
$grey: #888;
$lightGrey: #efefef;
$lightestGrey: #fafafa;
$white: #fff;
$darkestGrey: #373c42;
$darkGrey: #272c32;
$service: #af2341;
$main: #275166;
$darkBlue: #003189;
$blue: #0048b3;
$vividBlue: #0064f9;
$lightBlue: #e5efff;
$lightestBlue: #f8faff;
$backgroundBlueGradient: linear-gradient(45deg, #003189, #005adf);
$red: #dc3545;
$green: #17bd3d;
$lightOrange: #fff4d1;
$darkOrange: #3f3104;
$orange: #ffc107;
$lightOrange: #fff4d1;
$darkOrange: #3f3104;
