---
title: API XXX # 📍 Nom commercial de l'API, privilégier un nom court.
tagline: Interrogez l'API ... # 📍 Une phrase pour résumer le service rendu par l'API.
producer: identifiant_fournisseur # 📍 Identifiant du fournisseur de la donnée trouvable ou ajoutable dans le dossier `api_gouv/_data/producteurs`, pour en savoir plus consulter le read.me.
contact_link: contact@contact.fr # 📍 Adresse e-mail que les usagers peuvent utiliser pour vous contacter.
partners: # Liste des co-producteurs de l'API
  - dinum # Sera cliquable vers une page détaillant le partenaire car fait partie des fournisseurs référencés dans le dossier `api_gouv/_data/producteurs`
  - partenaire # Sera listé sans être cliquable.
is_open: 1 # 📍 1 si l'API est entièrement ouverte, 0 si un compte est nécessaire pour utiliser l'API.
account_link: https://site-api/user/register # URL de la page de demande d'habilitation si l'API nécessite un compte pour être utilisée.
rate_limiting_resume: 10 appels / minute / IP # 📍 Volumétrie maximale de votre API.
rate_limiting_description: |
  L'API est disponible à hauteur de 10 appels par minutes.
# Phrase descriptive de la volumétrie
doc_tech_link: https://swagger/api/open-api.yml # 📍 URL qui donne accès au swagger de votre API, sur la page API.gouv suivante : https://api.gouv.fr/documentation, accessible depuis le bouton "Tester l'API" sur la fiche de l'API. Pour en savoir plus, consulter le read.me.
doc_tech_external: https://doc-tech-de-votre-site.fr # 📍 URL vers la documentation technique de l'API
monitoring_link: https://page-statut-de-lapi # URL de la page de statut de l'API
stats_detail_resume: Les statistiques sont disponibles en temps réel # Résumer en un titre à quoi peut s'attendre l'usager en termes de statistiques de consommation de l'API. Cette phrase suit le titre "Stats:" qui permet de déplier un volet avec les détails ci-dessous (description et lien) :
stats_detail_description: |
  Accédez au suivi des consommations de l'API
stats_detail_link: http://page-stats-dusage-de-lapi # URL de la page des statistiques d'usage de l'API
uptime: 98.011 # 📍 Mettre le taux de disponibilité moyen du dernier mois
themes: # 📍 Ajouter un ou plusieurs thèmes, qui permettront aux usagers de trouver votre API en filtrant le catalogue par thématique. Pour ajouter un thème ci-dessous, supprimer simplement le # (sans retirer des blancs.)
#  - Administration
#  - Administration & législation
#  - Agriculture
#  - Culture
#  - Droit & Justice
#  - Education
#  - Emploi
#  - Energie
#  - Entreprise
#  - Environnement
#  - Géographie
#  - Particulier
#  - Professionnels
#  - Santé
#  - Sécurité
#  - Transport
keywords: # 📍 Ajouter des mots clés qui permettront aux usagers de trouver votre API avec le moteur de recherche.
  - associations
  - rna
last_update: 11/10/2023 # Date de la dernière mise à jour de la doc
datagouv_uuid: # Si l'API se base sur un jeu de données ouvertes accessibles depuis data.gouv.fr, ajouter l'uuid du jeu de données pour afficher automatiquement un bloc en fin de page référençant le jeu de données.
content_intro: |
  ### À quoi sert l'API XXX ?

  L'<External href="https://URL">API XXX</External> délivre les informations et documents de référence de XXX, informations issues du répertoire XXX et de la base YYY.
# 📍 Ce champ apparaîtra en haut de la fiche de l'API, sous le titre description. Le texte ci-dessus est un exemple et montre comment ajouter un lien vers l'extérieur.

---
<!-- Cette partie de la fiche permet d'ajouter du contenu en utilisant le langage markdown. Nous proposons ici une trame des informations utiles à fournir aux usagers, si votre API est une API permettant d'accéder à de la data. Pour en savoir plus sur la syntaxe markdown, vous pouvez consulter internet et cette page Github : https://docs.github.com/fr/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax -->

## Périmètre de l'API <!-- PARTIE 1  : Quel est le périmètre couvert (ou non couvert par l'API) ? -->

### Entitées concernés : <!-- Cette API délivre des informations sur des entités ? Qui sont-elles ? Quelles sont celles pour lesquelles l'API ne délivre pas d'informations-->

Cette API concerne ✅ **les associations inscrites au répertoire national des associations (RNA) et/ou au répertoire Sirene**.

Cette API ne concerne pas :
- ❌ les associations du régime Alsace-Moselle ;
- ❌ les associations XX.

### Périmètre géographique : <!-- Quelle est la localisation des entités concernées ?-->

- ✅ **Métropole** sauf ❌ Alsace-Moselle ;
- ✅ **DROM-COM** sauf ❌ les associations de Nouvelle-Calédonie, de la Polynésie française et de Wallis-et-Futuna qui ne sont pas immatriculées à l’INSEE, mais dans des bases locales

### Actualisation de la donnée <!-- Quelle est la fraicheur de la donnée transmise ?-->

Les données sont mises à jour quotidiennement :
- Les créations et modifications validées par les greffes des associations sont déversées et disponibles le lendemain dans le RNA. Les données du RNA sont transmises deux fois par jour à la DJEPVA pour être intégrées dans cette API.
- Pour le répertoire Sirene, la mise à jour des données est faite quotidiennement entre 0h et 3h à l’Insee.

## Modalités d'appel <!-- PARTIE 2  : Comment l'appel est effectué, avec quels paramètres ? -->

Cette API est appelable avec le SIRET de l'établissement

## Les données <!-- PARTIE 2  : Quelles sont les données ? -->

Cette API délivre ... <!-- Synthèse des informations transmises -->

Informations renvoyées en JSON : <!-- Tableau détaillé des données -->


| Donnée         | Exemple            | Description              |
| -------------- | ------------------ | ------------------------ |
| Nom de l'association     | `Sport pour tous` |  Il s'agit du nom de l'association tel que figurant sur ... |
| Date de création         | `2023-08-31` | Délivrée au format  |

## 🔎 En savoir plus <!-- PARTIE 3  : Des liens pour aller plus loin ? -->
- <External href="https://URL">API XXX</External>
- <External href="https://URL">API XXX</External>


