---
layout: default
additional_css: homepage
---

<section id="mission-statement" class="ui vertical center aligned segment">

  <div class="ui text container">
    <h1 class="ui inverted header">
      Fabriquez des services en ligne plus simples
    </h1>
    <div class="ui search">
		  <div class="ui left icon input">
		    <input class="prompt" placeholder="De quelles données avez-vous besoin ?" type="text">
		    <i class="search icon"></i>
		  </div>
		</div>
		<a class="ui big orange basic button" href="#type">Découvrez comment&nbsp;&nbsp;⬇︎</a>
		<a class="ui big teal button" href="{{ site.baseurl }}/api">Explorez les {{ site.api | size }} API déjà disponibles&nbsp;&nbsp;➤</a>
  </div>

</section>

<section id="type">
  <h2 class="ui divider horizontal">Les Différentes API</h2>
  <div class="ui items">
    {% for type in site.api_type %}
    <div class="item">
      <div class="ui small image">
        <img src="{{ site.baseurl }}/img/logo.svg" alt="logo">
      </div>
      <div class="content">
        <h3 class="header">{{ type.name }} &nbsp;&nbsp; <a class="ui button" href="{{ site.baseurl }}/api/{{ type.id }}">➤</a></h3>
        <div class="description">
          <p>
            {{ type.description }}
          </p>
        </div>
      </div>

    </div>
  	{% endfor %}
  </div>
</section>

<section id="services">
  <h2 class="ui divider horizontal">Ils l'utilisent déjà</h2>
  <div class="ui two stackable cards">
    {% for service in site.services %}
    <div class="ui card">
      <div class="image">
        <img src="{{ "/img/" | append: service.screenshot | append: ".jpg" | prepend: site.baseurl }}" alt="{{ service.name }} screenshot">
      </div>
      <div class="content">
        <a class="header" href="{{ service.url }}">{{ service.name }}</a>
        <div class="meta">
          {% for api in service.api %}
            <a class="ui label" href="{{ "/api/" | append: api.url | append: ".html" | prepend: site.baseurl }}">{{ api.name}}</a>
          {% endfor %}
        </div>
        <div class="description">
          {{ service.description }}
        </div>
      </div>
      <!--div class="extra content">
        {{ service.reutilisation }}
      </div -->
    </div>
  	{% endfor %}
  </div>
</section>

<div class="ui container">
	<a id="apiButton" class="ui right floated big orange button" href="{{ site.baseurl }}/api">Explorez les {{ site.api | size }} API déjà disponibles&nbsp;&nbsp;➤</a>
</div>
