---
layout: default
additional_css: homepage
searchExamples:
  - quotient familial
  - revenu fiscal de référence
  - cadastre

services:
  - name: La Bonne Boîte
    url: http://labonneboite.pole-emploi.fr
    description: Votre adresse se complète au fil de sa saisie
    api:
      - name: BAN
        url: api/ban
    screenshot: ecran_labonneboite.jpg
    reutilisation: En utilisant l'auto-completion de la Base Adresse Nationale, La Bonne Boîte simplifie la saisie d'une adresse pour l'usager en recherche d'emploi. Les adresses fournies par la BAN sont géocodées en latitude et longitude, ce qui permet ensuite à laBonneBoite de cibler les entreprises dans un rayon géographique autour de l'adresse.

  - name: Mes aides
    url: http://mes-aides.gouv.fr
    description: Simulez toutes vos aides sociales en ligne
    api:
      - name: OpenFisca
        url: openfisca
    screenshot: ecran_mesaides.png
    reutilisation: Dans le maquis des aides sociales, c'est à l'usager de déterminer le bon guichet pour connaître ses droits. Grâce à mes-aides, l'usager peut en quelques clics découvrir toutes les aides auxquelles il a droit en décrivant sa situation une seule fois. Le simulateur OpenFisca prend en compte toute la législation fiscale et sociale et permet donc de répondre précisément à la question &laquo;&nbsp;à quelles aides ai-je droit ?&nbsp;&raquo;

  - name: Vitiplantation
    url: http://www.franceagrimer.fr/filiere-vin-et-cidriculture/Vin/En-un-clic/Vitiplantation
    description: En quelques clics, les viticulteurs gèrent leur parcelle
    api:
      - name: API Carto
        url: apicarto
    screenshot: ecran_vitiplantation.jpg
    reutilisation: Pour un vigneron, réaliser un acte de gestion sur ses parcelles est un exercice compliqué car le formulaire Cerfa se prête mal à l'échange d'informations géographiques avec l'administration et conduit à des approximations, des erreurs et beaucoup de ressaisies dans les services instructeurs de FranceAgrimer. Pour réaliser des économies et simplifier la vie des vignerons, le téléservice Vitiplantation permet d'affecter à la vigne de nouvelles parcelles en quelques clics grâce à l'API Carto.

  - name: MPS
    url: https://www.marches-securises.fr/entreprise
    description: Un SIRET pour candidater uniquement pour un marché public
    api:
      - name: API Entreprise
        url: apientreprise
    screenshot: ecran_MPS.jpg
    reutilisation: En adoptant MPS, la plateforme de dématérialisation Marchés Sécurisés permet aux entreprises de candidater à un marché public sans remplir de formulaire complexe ni fournir de pièces justificatives. Les entreprises saisisissent leur numéro de SIRET, valident leur consentement à ce que l'acheteur public accède aux attestations sociales ou fiscales, et déposent simplement leur offre.

---

<section id="mission-statement" class="ui vertical center aligned segment">

  <div class="ui text container">
    <h1 class="ui inverted header">
      {{ site.description }}
    </h1>
    <div class="ui search">
		  <div class="ui fluid left icon input">
		    <input class="prompt" placeholder="De quelles données avez-vous besoin ?" type="text">
		    <i class="search icon"></i>
		  </div>
		</div>
    <p class="searchExamples">
      Exemples :
      {% for searchSample in page.searchExamples %}
        <a href="#">{{ searchSample }}</a>
        {% if forloop.last == false %}
        ,
        {% endif %}
      {% endfor %}
    </p>
  </div>
</section>

<section id="type" class="ui container">
  <ul class="ui fluid grid">
    {% for type in site.api_type %}
    <li class="eight wide column">
      <h3 class="header">{{ type.name }}</h3>
      <p>
        {{ type.description }}
      </p>
      {% assign api_type_size = site.api | where:"type", type.id |size %}

      <p class="discoverAPI">
        <a href="{{ site.baseurl }}/api/{{ type.id }}">
          {% if api_type_size == 0 %}
            Aucune API n'est encore disponible
          {% elsif api_type_size == 1 %}
            Explorer la première API
          {% else %}
            Explorer ces {{ api_type_size }} API
          {% endif %}
        </a>
      </p>
    </li>
    {% endfor %}
  </ul>
</section>

<section id="services" class="ui container">
  <h2 class="ui divider horizontal">Ils l'utilisent déjà</h2>
  <div class="ui two stackable cards">
    {% for service in page.services %}
    <div class="ui card">
      <div class="image">
        <img src="{{ site.baseurl }}/img/{{ service.screenshot }}" alt="{{ service.name }} screenshot">
      </div>
      <div class="content">
        <a class="header" href="{{ service.url }}">{{ service.name }}</a>
        <div class="meta">
          {% for api in service.api %}
            <a class="ui label" href="{{ site.baseurl }}/{{ api.url }}.html"> {{ api.name}}</a>
          {% endfor %}
        </div>
        <p class="description">
          {{ service.reutilisation }}
        </p>
      </div>
      <div class="extra content">
        {{ service.description }}
      </div>
    </div>
  	{% endfor %}
  </div>
</section>

<div class="ui container">
	<a id="apiButton" class="ui right floated big orange button" href="{{ site.baseurl }}/api">Explorez les {{ site.api | size }} API déjà disponibles&nbsp;&nbsp;➤</a>
</div>

<script>
$(document).ready(function() {
  var $searchDiv = $('.ui.search')
  var $searchInput = $searchDiv.find('.prompt')
  $(".searchExamples a").click(function(e) {
    var q = $(this).text()
    $searchInput.val(q)
    $searchDiv.search('query').search('show results')
  ;
  })
  function indexCollection(item, name) {
    item[name] = item[name].join('').replace(" ", "")
  }
  $.get( "{{ site.baseurl }}/api.json", function( data ) {
    $.each(data, function(index, item) {
      indexCollection(item, 'keywords');
      indexCollection(item, 'clients');
      indexCollection(item, 'partners');
    })
    $searchDiv.search({
      minCharacters : 2,
      searchFields   : [
        'title',
        'description',
        'keywords',
        'owner',
        'clients',
        'partners',
        'contract'
      ],
      searchFullText: true,
      source: data
    })
  });
})

</script>
