---
layout: default
additional_css: homepage
searchExamples:
  - quotient familial
  - revenu fiscal de référence
  - cadastre

---

<section id="mission-statement" class="ui vertical center aligned segment">

  <div class="ui text container">
    <h1 class="ui inverted header">
      {{ site.description }}
    </h1>
    <div class="ui search">
		  <div class="ui fluid left icon input">
		    <input class="prompt" placeholder="{{ page.searchExamples | join: ', '}}…" type="search">
		    <i class="search icon"></i>
		  </div>
		</div>
  </div>
</section>

<section id="type" class="ui container">
  <ul class="ui fluid stackable grid">
    {% for type in site.api_type %}
    <li class="eight wide column">
      <i class="icon huge {{ type.logo }} {{ type.id }}"></i>
      <h2 class="header">{{ type.name }}</h2>
      <p>
        {{ type.description }}
      </p>
      {% assign api_type_size = site.api | where:"type", type.id |size %}

      <p class="discoverAPI">
        <a href="{{ site.baseurl }}/api/{{ type.id }}">
          {% if api_type_size == 0 %}
            Aucune API n'est encore disponible
          {% elsif api_type_size == 1 %}
            Explorer la première API
          {% else %}
            Explorer ces {{ api_type_size }} API
          {% endif %}
        </a>
      </p>
    </li>
    {% endfor %}
  </ul>
</section>

<div class="ui container">
  <p>
	   <a class="ui big button moreButton" href="{{ site.baseurl }}/api">Explorez les {{ site.api | size }} API déjà disponibles&nbsp;&nbsp;➤</a>
  </p>
</div>

<section id="services" class="ui container">
  <h2 class="ui divider horizontal">Ils l'utilisent déjà</h2>
  <div class="ui two stackable cards">
    {% for service in site.reutilisation %}
      {% if service.featured %}
        {% include reuse-card.html reuse=service %}
      {% endif %}
  	{% endfor %}
  </div>
</section>

<div class="ui container">
  <p>
	   <a class="ui big button moreButton" href="{{ site.baseurl }}/reutilisation">Découvrez toutes les réutilisations&nbsp;&nbsp;➤</a>
  </p>
</div>

<script>
$(document).ready(function() {
  var $searchDiv = $('.ui.search');
  function indexCollection(item, name) {
    item[name] = item[name].join('').replace(" ", "");
  }
  $.get("{{ site.baseurl }}/api.json", function( data ) {
    $.each(data, function(index, item) {
      indexCollection(item, 'keywords');
      indexCollection(item, 'clients');
      indexCollection(item, 'partners');
    });
    $searchDiv.search({
      minCharacters : 2,
      searchFields   : [
        'title',
        'description',
        'keywords',
        'owner',
        'clients',
        'partners',
        'contract'
      ],
      searchFullText: true,
      source: data
    });
    $searchDiv.keyup(function(e) {
      if(e.keyCode == 13) {
        var $link = $searchDiv.find('.results.visible a.result.active');
         window.location.href = $link.attr('href');
      }
    })
  });
});

</script>
