{
	"openapi": "3.0.0",
	"info": {
		"version": "1.0.0",
		"title": "RNA as API",
		"description": "Cette API permet d'interroger le Répertoire National des Associations."
	},
	"servers": [
		{
			"url": "https://entreprise.data.gouv.fr"
		}
	],
	"paths": {
		"/api/rna/v1/siret/{siret}": {
			"get": {
				"summary": "Chercher une association par numéro SIRET",
				"parameters": [
					{
						"name": "siret",
						"in": "path",
						"description": "Le SIRET de l'association (14 chiffres). Toutes les associations n'ont pas un SIRET.",
						"required": true,
						"schema": {
							"type": "string",
							"example": 2185
						}
					},
					{
						"name": "per_page",
						"in": "query",
						"description": "Le nombre de résultats à renvoyer par page",
						"required": false,
						"schema": {
							"type": "integer",
							"minimum": 1,
							"maximum": 100
						}
					},
					{
						"name": "page",
						"in": "query",
						"description": "Le numéro de la page de résultats à renvoyer",
						"required": false,
						"schema": {
							"type": "integer"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Résultat(s) trouvés",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RnaInfo"
								}
							}
						}
					},
					"404": {
						"description": "Aucune association trouvée"
					}
				}
			}
		},
		"/api/rna/v1/id/{rna_id}": {
			"get": {
				"summary": "Chercher une association par Identifiant RNA",
				"parameters": [
					{
						"name": "rna_id",
						"in": "path",
						"description": "L'identifiant Association de l'association recherchée. En général un numéro Waldec (W + 9 chiffres)\nmais peut être un format complètement différent, en particulier pour les associations les plus anciennes.\n",
						"required": true,
						"schema": {
							"type": "string",
							"example": "W271000004"
						}
					},
					{
						"name": "per_page",
						"in": "query",
						"description": "Le nombre de résultats à renvoyer par page",
						"required": false,
						"schema": {
							"type": "integer",
							"minimum": 1,
							"maximum": 100
						}
					},
					{
						"name": "page",
						"in": "query",
						"description": "Le numéro de la page de résultats à renvoyer",
						"required": false,
						"schema": {
							"type": "integer"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Résultat(s) trouvés",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RnaInfo"
								}
							}
						}
					},
					"404": {
						"description": "Aucune association trouvée"
					}
				}
			}
		},
		"/api/rna/v1/full_text/{text}": {
			"get": {
				"summary": "Recherche par texte (Nom de l'association)",
				"parameters": [
					{
						"name": "text",
						"in": "path",
						"description": "Nom de l'association",
						"required": true,
						"schema": {
							"type": "string",
							"example": "LA CROIX ROUGE"
						}
					},
					{
						"name": "per_page",
						"in": "query",
						"description": "Le nombre de résultats à renvoyer par page",
						"required": false,
						"schema": {
							"type": "integer",
							"minimum": 1,
							"maximum": 100
						}
					},
					{
						"name": "page",
						"in": "query",
						"description": "Le numéro de la page de résultats à renvoyer",
						"required": false,
						"schema": {
							"type": "integer"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Résultat(s) trouvés",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RnaInfo"
								}
							}
						}
					},
					"404": {
						"description": "Aucune association trouvée"
					}
				}
			}
		}
	},
	"components": {
		"schemas": {
			"RnaInfo": {
				"type": "object",
				"properties": {
					"total_results": {
						"type": "integer",
						"description": "Le nombre total de résultats pour cette recherche"
					},
					"total_pages": {
						"type": "integer",
						"description": "Le nombre de pages de résultats ppour cette recherche"
					},
					"per_page": {
						"type": "integer",
						"description": "Le nombre de résultats par page"
					},
					"page": {
						"type": "integer",
						"description": "Le numéro de la page de résultat demandée"
					},
					"association": {
						"type": "array",
						"description": "An array of RNA information",
						"items": {
							"$ref": "#/components/schemas/Association"
						}
					}
				}
			},
			"Association": {
				"type": "object",
				"properties": {
					"id": {
						"type": "integer",
						"description": "ID unique dans notre base (non-RNA)"
					},
					"is_waldec": {
						"type": "string",
						"description": "Si l'association est enregistrée dans les fichiers WALDEC ou non"
					},
					"id_association": {
						"type": "string",
						"description": "Identifiant RNA unique de l'association"
					},
					"id_ex_association": {
						"type": "string",
						"description": "L'ancien ID RNA de l'association",
						"nullable": true
					},
					"siret": {
						"type": "string",
						"description": "Le numéro SIRET de l'association",
						"nullable": true
					},
					"numero_reconnaissance_utilite_publique": {
						"type": "string",
						"description": "Le numéro de reconnaissance d'utilité publique de l'association",
						"nullable": true
					},
					"code_gestion": {
						"type": "string",
						"description": "Le code de gestion de l'association",
						"nullable": true
					},
					"date_creation": {
						"type": "string",
						"format": "date",
						"description": "La date de création de l'association"
					},
					"date_derniere_declaration": {
						"type": "string",
						"format": "date",
						"description": "La date de la dernière déclaration de l'association"
					},
					"date_publication_creation": {
						"type": "string",
						"format": "date",
						"description": "La date de publication de la création de l'association"
					},
					"date_declaration_dissolution": {
						"type": "string",
						"format": "date",
						"description": "La date de déclaration de dissolution de l'association",
						"nullable": true
					},
					"nature": {
						"type": "string",
						"description": "La nature de l'association",
						"nullable": true
					},
					"groupement": {
						"type": "string",
						"description": "Groupement de l'association",
						"nullable": true
					},
					"titre": {
						"type": "string",
						"description": "Nom de l'association"
					},
					"titre_court": {
						"type": "string",
						"description": "Nom court de l'association",
						"nullable": true
					},
					"objet": {
						"type": "string",
						"description": "Objet de l'association (ou 'mission')",
						"nullable": true
					},
					"objet_social1": {
						"type": "string",
						"description": "Premier objet social de l'association",
						"nullable": true
					},
					"objet_social2": {
						"type": "string",
						"description": "Second objet social de l'association",
						"nullable": true
					},
					"l1_adresse_import": {
						"type": "string",
						"description": "Ligne 1 adresse de l'association",
						"nullable": true
					},
					"l2_adresse_import": {
						"type": "string",
						"description": "Ligne 2 adresse de l'association",
						"nullable": true
					},
					"l3_adresse_import": {
						"type": "string",
						"description": "Ligne 3 adresse de l'association",
						"nullable": true
					},
					"adresse_siege": {
						"type": "string",
						"description": "Adresse du siège de l'association",
						"nullable": true
					},
					"adresse_numero_voie": {
						"type": "string",
						"description": "Numéro voie adresse de l'association",
						"nullable": true
					},
					"adresse_repetition": {
						"type": "string",
						"description": "Répétition du numéro de voie de l'adresse ('BIS', 'TER', etc).",
						"nullable": true
					},
					"adresse_type_voie": {
						"type": "string",
						"description": "Type de la voie de l'adresse (AV pour Avenue, etc)",
						"nullable": true
					},
					"adresse_libelle_voie": {
						"type": "string",
						"description": "Libellé de la voie de l'adresse (Avenue, Rue, etc).",
						"nullable": true
					},
					"adresse_distribution": {
						"type": "string",
						"description": "Adresse de distribution de l'association",
						"nullable": true
					},
					"adresse_code_insee": {
						"type": "string",
						"description": "Code INSEE de l'adresse de l'association",
						"nullable": true
					},
					"adresse_code_postal": {
						"type": "string",
						"description": "Code postal de l'adresse de l'association",
						"nullable": true
					},
					"adresse_libelle_commune": {
						"type": "string",
						"description": "Libellé commune de l'adresse de l'association",
						"nullable": true
					},
					"adresse_gestion_nom": {
						"type": "string",
						"nullable": true
					},
					"adresse_gestion_format_postal": {
						"type": "string",
						"description": "Format postal de l'adresse de gestion de l'association",
						"nullable": true
					},
					"adresse_gestion_geo": {
						"type": "string",
						"nullable": true
					},
					"adresse_gestion_libelle_voie": {
						"type": "string",
						"description": "Libellé de la voie de l'adresse de gestion de l'association",
						"nullable": true
					},
					"adresse_gestion_distribution": {
						"type": "string",
						"nullable": true
					},
					"adresse_gestion_code_postal": {
						"type": "string",
						"description": "Code postal de l'adresse de gestion de l'association",
						"nullable": true
					},
					"adresse_gestion_acheminement": {
						"type": "string",
						"nullable": true
					},
					"adresse_gestion_pays": {
						"type": "string",
						"description": "Le pays de l'adresse de gestion de l'association"
					},
					"dirigeant_civilite": {
						"type": "string",
						"description": "La civilité du dirigeant de l'association"
					},
					"telephone": {
						"type": "string",
						"description": "Le numéro de téléphone de l'association"
					},
					"site_web": {
						"type": "string",
						"description": "Le site web de l'association"
					},
					"email": {
						"type": "string",
						"description": "L'adresse email de l'association"
					},
					"autorisation_publication_web": {
						"type": "string",
						"description": "Si l'association a autorisé la publication de ses informations sur le web"
					},
					"observation": {
						"type": "string",
						"description": "Une observation sur l'association"
					},
					"position_activite": {
						"type": "string",
						"description": "La position de l'association par rapport à son activité"
					},
					"derniere_maj": {
						"type": "string",
						"format": "date",
						"description": "La date de la dernière mise à jour de l'association"
					},
					"created_at": {
						"type": "timestamp",
						"format": "date",
						"description": "La date de création de l'enregistrement de l'association dans notre base (non-RNA)"
					},
					"updated_at": {
						"type": "timestamp",
						"format": "date",
						"description": "La date de mise à jour de l'enregistrement de l'association dans notre base (non-RNA)"
					}
				}
			}
		}
	}
}
