{"openapi":"3.1.0","info":{"title":"Impact CO₂","description":"Bienvenue sur la documentation technique de **API Impact CO₂**. Cette page présente les caractéristiques techniques de l’API. \n\nCette documentation interactive à destination des développeurs permet de consommer les données de nos ressources Impact CO₂.\n\nNous utilisons des clés API pour suivre son utilisation. Bien que celles ci ne soient pas obligatoire, nous nous réservons le droit de restreindre l'accès aux utilisateurs qui ne l'utilisant pas. N'hésitez pas à nous contacter via [impactco2@ademe.fr](mailto:impactco2@ademe.fr) pour en obtenir une gratuitement.\n\n**Comment utiliser la documentation ?**\n* Choisir le point d’API à tester\n* Cliquer sur ‘**Try it out**'\n* Remplir les champs obligatoires en fonction du chiffre, de l’ID ou du slug recherché\n* Sélectionner les paramètres des personnalisation\n* Cliquer sur '**Execute**' pour visualiser les données renvoyées\n* Cliquer sur '**Clear**' pour recommencer\n\n*Exemple : Je cherche à visualiser les données qui me sont retournées pour la thématique numerique.* \n* *Je clique sur le point d’API /thématiques/ecv/{id}*\n* *Je clique sur le bouton Tryout*\n* *Je renseigne dans le champs ID ou slug : numerique*\n* *Je souhaite avoir le détail de l’ACV, je sélectionne alors 1*\n* *Lorsque je clique sur Execute, je visualise  le détail des données sur la thématique numérique*","version":"1.0.0"},"servers":[{"url":"https://impactco2.fr/api/v1"}],"components":{"securitySchemes":{"APIKey":{"type":"http","description":"Nous utilisons des clés API pour monitorer son utilisation. Bien que celles ci ne soient pas obligatoire, nous nous réservons le droit de restreindre l'acces aux utilisateurs ne l'utilisant pas. N'hésitez pas à nous contacter via [impactco2@ademe.fr](mailto:impactco2@ademe.fr) pour en obtenir une gratuitement.","scheme":"bearer","bearerFormat":"UUID"}},"schemas":{"ECV":{"type":"object","required":["name","ecv","slug"],"properties":{"name":{"type":"string","example":"Eau en bouteille"},"ecv":{"type":"number","description":"l'emission totale en kg de CO₂e","example":50.3},"slug":{"type":"string","example":"eauenbouteille"},"footprint":{"type":"number","description":"l'emission de base de l'objet en kg de CO₂e [disponible uniquement en mode détaillé]","example":45.2},"footprintDetail":{"description":"l'emission de base détaillé de l'objet en kg de CO₂e [disponible uniquement en mode détaillé]","type":"array","items":{"type":"object","properties":{"id":{"type":"number","description":"id du poste détaillé\n- 1: Matières premières\n- 2: Approvisionnement\n- 3: Mise en forme\n- 4: Assemblage et distribution\n- 5: Construction\n- 6: Carburant\n- 7: Trainées de condensation\n- 8: Usage\n- 13: Construction des terminaux\n- 14: Usage des terminaux\n- 15: Transmission\n- 16: Construction des data-centers\n- 17: Usage des data-centers\n- 30: Agriculture\n- 31: Transformation\n- 32: Emballage\n- 33: Transport\n- 34: Supermarché et distribution\n- 35: Consommation","example":null},"value":{"type":"number","description":"emission du poste détaillé en kg de CO₂e","example":12.3}}}},"usage":{"description":"l'emission moyenne produite par l'utilisation de l'objet en kg de CO₂e [disponible uniquement en mode détaillé]","type":"object","properties":{"peryear":{"type":"number","description":"emission produite par l'utilisation de l'objet en kg de CO₂e par an","example":25.3},"defaultyears":{"type":"number","description":"duréé de vie moyenne de l'objet","example":5}}},"endOfLife":{"type":"number","description":"l'emission générée (ou économisée) en fin de vie de l'objet en kg de CO₂e [disponible uniquement en mode détaillé]","example":45.2}}},"Thématique":{"type":"object","required":["id","name","slug"],"properties":{"id":{"type":"integer","example":10},"name":{"type":"string","example":"Usage numérique"},"slug":{"type":"string","example":"usagenumerique"}}},"Transport":{"type":"object","required":["id","name","value"],"properties":{"id":{"type":"integer","example":11},"name":{"type":"string","example":"Métro"},"value":{"type":"number","description":"l'emission en kg de CO₂e pour la distance donnée","example":152.3}}}}},"security":[{"APIKey":[]}],"paths":{"/chauffage":{"get":{"tags":["Chauffage"],"summary":"Récupérer les données pour le chauffage","description":"Retourne les emissions par année pour un nombre de m<sup>2</sup> donnée par type de chauffage","parameters":[{"in":"query","name":"m2","schema":{"type":"integer"},"description":"Nombre de m<sup>2</sup> sur lequel calculer les emissions. Si non renseigné, utilise la taille moyenne d'un appartement en France : 63m<sup>2</sup>"},{"in":"query","name":"chauffages","schema":{"type":"string"},"description":"Liste des id de chauffage à retourner, séparés par des ','. Si non rempli, retourne l'integralité des résultats.\n- 1 : Chauffage au gaz\n- 2 : Chauffage au fioul\n- 3 : Chauffage électrique\n- 4 : Chauffage avec une pompe à chaleur\n- 5 : Chauffage avec un poêle à granulés\n- 6 : Chauffage avec un poêle à bois\n- 7 : Chauffage via un réseau de chaleur"},{"in":"query","name":"language","default":"fr","schema":{"type":"string","enum":["fr","en"]},"description":"Langue dans laquelle retourner les noms d'équivalent"}],"responses":{"200":{"description":"Les categories et leur metadata","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"warning":{"type":"string","example":"La requete n'est pas authentifée."},"data":{"type":"array","items":{"type":"object","required":["name","ecv","slug"],"properties":{"name":{"type":"string","example":"Chauffage au gaz"},"ecv":{"type":"number","description":"l'emission totale en kg de CO₂e","example":50.3},"slug":{"type":"string","example":"chauffagegaz"}}}}}}}}},"400":{"description":"Mauvais paramètres","content":{"application/json":{"schema":{"type":"object","description":"Erreur d'input générée via zod"}}}},"405":{"description":"Mauvais type de requete HTTP","content":{"text/plain":{"schema":{"type":"string","example":"Only GET queries are allowed"}}}}}}},"/fruitsetlegumes":{"get":{"tags":["Fruits et légumes de saisons"],"summary":"Récupérer les données pour les fruits et légumes de saisons","description":"Retourne les emissions des fruits et légumes de saisons pour un mois donné.","parameters":[{"in":"query","name":"month","schema":{"type":"integer"},"description":"Mois pour lequel récupérer les fruits et légumes de saisons (mois courant par défaut)."},{"in":"query","name":"language","default":"fr","schema":{"type":"string","enum":["fr","en"]},"description":"Langue dans laquelle retourner les noms d'équivalent"}],"responses":{"200":{"description":"Les categories et leur metadata","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"warning":{"type":"string","example":"La requete n'est pas authentifée."},"data":{"type":"array","items":{"type":"object","required":["name","months","ecv","slug"],"properties":{"name":{"type":"string","example":"Asperge"},"months":{"type":"array","items":{"type":"number"},"example":[4,5,6]},"ecv":{"type":"number","description":"l'emission totale en kg de CO₂e","example":1.559309081},"slug":{"type":"string","example":"asperge"}}}}}}}}},"400":{"description":"Mauvais paramètres","content":{"application/json":{"schema":{"type":"object","description":"Erreur d'input générée via zod"}}}},"405":{"description":"Mauvais type de requete HTTP","content":{"text/plain":{"schema":{"type":"string","example":"Only GET queries are allowed"}}}}}}},"/thematiques/ecv/{id}":{"get":{"tags":["ECV"],"summary":"Récupérer les données carbones pour chaque objet du site","description":"Retourne les emissions pour une thématique donnée","parameters":[{"in":"path","name":"id","schema":{"oneOf":[{"type":"string"},{"type":"integer"}]},"required":true,"description":"ID ou Slug de la thématique demandée\n- 1 : numerique\n- 2 : repas\n- 3 : boisson\n- 4 : transport\n- 5 : habillement\n- 6 : electromenager\n- 7 : mobilier\n- 8 : chauffage\n- 9 : fruitsetlegumes\n- 10 : usagenumerique\n- 13 : caspratiques"},{"in":"query","name":"detail","default":0,"schema":{"type":"integer","enum":[0,1]},"description":"Si 1, retourne le détail du calcul de l'ecv. Sinon retourne uniquement le total"},{"in":"query","name":"language","default":"fr","schema":{"type":"string","enum":["fr","en"]},"description":"Langue dans laquelle retourner les noms d'équivalent"}],"responses":{"200":{"description":"Les emissions de chaque objet de la catégorie","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"warning":{"type":"string","example":"La requete n'est pas authentifée."},"data":{"type":"array","items":{"$ref":"#/components/schemas/ECV"}}}}}}},"405":{"description":"Mauvais type de requete HTTP","content":{"text/plain":{"schema":{"type":"string","example":"Only GET queries are allowed"}}}}}}},"/thematiques":{"get":{"tags":["ECV"],"summary":"Récupérer les thématiques du site","description":"Retourne les thématiques gérées par Impact CO₂ ainsi que leurs metadata","responses":{"200":{"description":"Les thématiques et leur metadata","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"warning":{"type":"string","example":"La requete n'est pas authentifée."},"data":{"type":"array","items":{"$ref":"#/components/schemas/Thématique"}}}}}}},"405":{"description":"Mauvais type de requete HTTP","content":{"text/plain":{"schema":{"type":"string","example":"Only GET queries are allowed"}}}}}}},"/transport":{"get":{"tags":["Transport"],"summary":"Récupérer les données pour le transport","description":"Retourne les emissions pour un nombre de km donnée par type de transport","parameters":[{"in":"query","name":"km","schema":{"type":"integer"},"required":true,"description":"Nombre de km sur lequel calculer les emissions"},{"in":"query","name":"displayAll","default":0,"schema":{"type":"integer","enum":[0,1]},"description":"Si 1, retourne le calcul d'emission pour tout les transports disponibles. Sinon retourne seulement ceux qui ont du sens pour la distance donnée\n\n*Exemple : en dessous de 500km les données de l’avion ne seront pas visibles.*"},{"in":"query","name":"transports","schema":{"type":"string"},"description":"Liste des id de transport à retourner, séparés par des ','\n- 1 : Avion\n- 2 : TGV\n- 3 : Intercités\n- 4 : Voiture thermique\n- 5 : Voiture électrique\n- 6 : Autocar\n- 7 : Vélo ou marche\n- 8 : Vélo (ou trottinette) à assistance électrique\n- 9 : Bus thermique\n- 10 : Tramway\n- 11 : Métro\n- 12 : Scooter ou moto légère\n- 13 : Moto\n- 14 : RER ou Transilien\n- 15 : TER\n- 16 : Bus électrique\n- 21 : Bus (GNV)"},{"in":"query","name":"ignoreRadiativeForcing","default":0,"schema":{"type":"integer","enum":[0,1]},"description":"Si 1, ignore le forçage radiatif dans le calcul des émissions de l'avion. Sinon il est pris en compte"},{"in":"query","name":"numberOfPassenger","default":0,"schema":{"type":"integer"},"description":"Nombre de passager moyen à prendre en compte pour les modes de transports de type voiture ou moto"},{"in":"query","name":"includeConstruction","default":0,"schema":{"type":"integer"},"description":"Si 1, prend en compte l'emission lié à la construction. Sinon elle est ignorée"},{"in":"query","name":"language","default":"fr","schema":{"type":"string","enum":["fr","en"]},"description":"Langue dans laquelle retourner les noms d'équivalent"}],"responses":{"200":{"description":"Les categories et leur metadata","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"warning":{"type":"string","example":"La requete n'est pas authentifée."},"data":{"type":"array","items":{"$ref":"#/components/schemas/Transport"}}}}}}},"400":{"description":"Mauvais paramètres","content":{"application/json":{"schema":{"type":"object","description":"Erreur d'input générée via zod"}}}},"405":{"description":"Mauvais type de requete HTTP","content":{"text/plain":{"schema":{"type":"string","example":"Only GET queries are allowed"}}}}}}}},"tags":[]}