swagger: '2.0'
info:
  title: Dites-le nous une fois
  description: API qui permet de vérifier que les administrés sont en règle vis à vis de la JDC.
  version: '1.0.0'
# the domain of the service
host: presaje.sga.defense.gouv.fr
# array of all schemes that your API supports
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  Bearer:
    type: apiKey
    name: Authorization
    in: header
    description: 'Bearer authentification. La syntaxe est la suivante Bearer: cle'
# will be prefixed to all paths
basePath: /api
paths:
  /dln1f:
    post:
      produces:
        - 'application/json; charset=utf-8'
      consumes:
        - 'application/json; charset=utf-8'
      security:
        - Bearer: []
      summary: Point d'entrée du service Dites-le nous une fois
      description:
        "Afin de pouvoir utiliser le service vous devez préalablement effectuer une demande sur api.gouv.fr pour
        obtenir une clé d'API délivrée par la DSNJ."
      parameters:
        - in: body
          name: identites pivot
          description: Identités pivot
          required: true
          schema:
            $ref: '#/definitions/Identites'
      responses:
        200:
          description: Résultats
          schema:
            type: array
            items:
              $ref: '#/definitions/ResultIdentites'
        400:
          description: La requête est mal formée
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        403:
          description: "Accès non autorisé. Votre clé d'api n'est problablement pas valide ou vous n'avea pas fourni de clé."
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        500:
          description: Erreur technique inattendue
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'

definitions:
  ResultIdentites:
    type: object
    description: Retour du web service
    properties:
      return_code:
        type: string
        format: string
        description: Code retour général.<br>Valeurs possibles<ul><li>ERREUR_TECHNIQUE Erreur empêchant de traiter la demande Le traitement s’est correctement déroulé</li><li>OK</li></ul>
      results:
        type: array
        items:
          $ref: '#/definitions/ResultIdentite'
        description: Liste des identités pivot
  ResultIdentite:
    description: Retour du web service pour un administré
    type: object
    properties:
      code:
        type: string
        format: string
        description: Code de retour pour un administré. <br>Valeurs possibles<ul><li>OK</li><li>NON_TROUVE</li><li>ERREUR_FORMAT</li></ul>
      en_regle:
        type: string
        format: string
        description: "Indique si l'administré est en règle vis-à-vis de la JDC. <br>Valeurs possibles<ul><li>Pas en règle</li><li>En règle</li><li>Indéterminé</li><li>Non concerné</li></ul>"
      identite_pivot:
        $ref: '#/definitions/Identite'
      complement:
        type: string
        format: string
        description: 'Commentaire sur la situation de ladministré vis-à-vis de la JDC.'
  Identites:
    type: object
    properties:
      identites_pivot:
        type: array
        items:
          $ref: '#/definitions/Identite'
        description: Liste des identités pivot
  Identite:
    type: object
    description: Données qui permettent d’identifier l'administré
    properties:
      given_name:
        type: string
        description: Prénom de l'administré (obligatoire)
      family_name:
        type: string
        description: Nom de famille de l'administré  (obligatoire)
      birthdate:
        type: string
        description: Date de naissance de l'administré au format AAAA-MM-JJ  (obligatoire)
      gender:
        type: string
        description: Genre de l'administré. Valeurs possibles<ul><li>male</li><li>female</li></ul>  (obligatoire)
      birthplace:
        type: string
        description: Code Insee du lieu de naissance ou null si commune étrangère
      birthcountry:
        type: string
        description: Code Insee du pays de naissance  (obligatoire)
  Error:
    type: object
    properties:
      return_code:
        type: string
        format: string
        description: Code d'erreur
      error_msg:
        type: string
        format: string
        description: Message explicitant l'erreur survenue
