{
  "swagger": "2.0",
  "host": "api.aife.economie.gouv.fr",
  "basePath": "/dila/legifrance-beta/lf-engine-app",
  "schemes": ["https"],
  "paths": {
    "/consult/jorfCont": {
      "post": {
        "description": "Récupère la liste de conteneurs/sommaires JORF",
        "operationId": "displayJorfContUsingPOST",
        "summary": "Liste de sommaire JORF",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "description": "request",
            "required": true,
            "in": "body",
            "name": "request",
            "schema": {
              "$ref": "#/definitions/JorfContConsultRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetJosResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/chrono/textCid/{textCid}": {
      "get": {
        "description": "Indique si un texte possède des versions chrono à partir de l'identifiant du texte",
        "operationId": "hasVersionByTextCidUsingGET",
        "summary": "Vérifie si un texte possède des versions",
        "produces": ["application/json"],
        "parameters": [
          {
            "description": "Chronical ID",
            "required": true,
            "in": "path",
            "name": "textCid",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/HasChronolegiResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/list/docsAdmins": {
      "post": {
        "description": "Permet de récupérer la liste des documents administratifs pour une période donnée",
        "operationId": "listDocsAdminsUsingPOST",
        "summary": "Liste des documents administratifs",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "description": "request",
            "required": true,
            "in": "body",
            "name": "request",
            "schema": {
              "$ref": "#/definitions/DocsAdminsListRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DocsAdminsListResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/consult/dossierLegislatif": {
      "post": {
        "description": "Récupère le contenu d'un dossier legislatif par son identifiant",
        "operationId": "displayDossierLegislatifUsingPOST",
        "summary": "Contenu d'un dossier législatif",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "description": "request",
            "required": true,
            "in": "body",
            "name": "request",
            "schema": {
              "$ref": "#/definitions/DossierLegislatifRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ConsultDossierLegislatifResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/suggest/acco": {
      "post": {
        "description": "Effectue les suggestions siret et raisons sociales sur les accords d'entreprise à partir d'une chaine de caractères",
        "operationId": "siretRcSuggestUsingPOST",
        "summary": "Suggestions des siret et raisons sociale pour les accords",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "description": "request",
            "required": true,
            "in": "body",
            "name": "request",
            "schema": {
              "$ref": "#/definitions/SuggestRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SuggestAccoResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/consult/juri": {
      "post": {
        "description": "Récupère le contenu d'un texte du fonds JURI à partir de son identifiant",
        "operationId": "displayJuriUsingPOST",
        "summary": "Contenu texte fonds JURI",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "description": "request",
            "required": true,
            "in": "body",
            "name": "request",
            "schema": {
              "$ref": "#/definitions/JuriConsultRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ConsultJuriTextResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/chrono/textCid": {
      "post": {
        "description": "Récupère une version spécifique d'un texte à partir de l'identifiant du texte",
        "operationId": "getVersionByTextCidUsingPOST",
        "summary": "Version d'un texte",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "description": "request",
            "required": true,
            "in": "body",
            "name": "request",
            "schema": {
              "$ref": "#/definitions/ChronoLegiTextRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ChronolegiResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/consult/getTables": {
      "post": {
        "description": "Permet de récupérer l'ensemble des tables annuelles pour une période donnée",
        "operationId": "getTablesUsingPOST",
        "summary": "Liste des tables annuelles",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "description": "request",
            "required": true,
            "in": "body",
            "name": "request",
            "schema": {
              "$ref": "#/definitions/TableRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetTableResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/consult/legiPart": {
      "post": {
        "description": "Récupère le contenu d'un texte du fonds LEGI à partir de son identifiant et de sa date de vigueur",
        "operationId": "displayLegiPartUsingPOST",
        "summary": "Contenu texte fonds LEGI",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "description": "legiConsultRequest",
            "required": true,
            "in": "body",
            "name": "legiConsultRequest",
            "schema": {
              "$ref": "#/definitions/LegiConsultRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ConsultTextResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/misc/commitId": {
      "get": {
        "description": "Récupère les informations relatives au déploiement et au versionning de l'application",
        "operationId": "getCommitIdUsingGET",
        "summary": "Informations déploiement et versionning",
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/list/dossiersLegislatifs": {
      "post": {
        "description": "Récupère les dossiers législatifs dans une liste paginée",
        "operationId": "listDossiersLegislatifsUsingPOST",
        "summary": "Liste paginée des dossiers législatifs",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "description": "request",
            "required": true,
            "in": "body",
            "name": "request",
            "schema": {
              "$ref": "#/definitions/DossiersLegislatifsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DossiersLegislatifsListResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/misc/datesWithoutJo": {
      "get": {
        "description": "Permet de récupérer l'ensemble des dates pour lesquelles il n'existe pas de Journal Officiel",
        "operationId": "getDatesWithoutJoUsingGET",
        "summary": "Liste des dates sans JO",
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DatesWithNoJoResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/list/conventions": {
      "post": {
        "description": "Récupère les conventions dans une liste paginée",
        "operationId": "listConventionsUsingPOST",
        "summary": "Liste paginée des conventions",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "description": "request",
            "required": true,
            "in": "body",
            "name": "request",
            "schema": {
              "$ref": "#/definitions/ConventionsListRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ConventionsListResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/consult/jorf": {
      "post": {
        "description": "Récupère le contenu d'un texte du fonds JORF à partir de son identifiant",
        "operationId": "displayJorfUsingPOST",
        "summary": "Contenu texte fonds JORF",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "description": "jorfConsultRequest",
            "required": true,
            "in": "body",
            "name": "jorfConsultRequest",
            "schema": {
              "$ref": "#/definitions/JorfConsultRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ConsultJorfResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/consult/lastNJo": {
      "post": {
        "description": "Récupère les derniers journaux officiels",
        "operationId": "getLastNJoUsingPOST",
        "summary": "Derniers journaux officels",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "description": "request",
            "required": true,
            "in": "body",
            "name": "request",
            "schema": {
              "$ref": "#/definitions/LastNElementRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetJorfContResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/consult/ping": {
      "get": {
        "description": "Retourne pong",
        "operationId": "pingUsingGET_1",
        "summary": "Teste le controller",
        "produces": ["text/plain"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/consult/kaliArticle": {
      "post": {
        "description": "Récupère le contenu d'un texte du fonds des conventions collectives (KALI) à partir de l'identifiant de son article",
        "operationId": "displayKaliArticleUsingPOST",
        "summary": "Contenu des conventions collectives depuis un article",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "description": "request",
            "required": true,
            "in": "body",
            "name": "request",
            "schema": {
              "$ref": "#/definitions/KaliTextConsultArticleRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ConsultKaliTextResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/list/loda": {
      "post": {
        "description": "Récupère les éléments de type LODA dans une liste paginée",
        "operationId": "listLODAUsingPOST",
        "summary": "Liste paginée des textes de type LODA",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "description": "Critères de pagination de la liste LODA",
            "required": false,
            "in": "body",
            "name": "request",
            "schema": {
              "$ref": "#/definitions/LODAListRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LODAListResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/consult/kaliSection": {
      "post": {
        "description": "Récupère le contenu d'un texte du fonds des conventions collectives (KALI) à partir de l'identifiant de sa section",
        "operationId": "displayKaliSectionUsingPOST",
        "summary": "Contenu des conventions collectives depuis une section",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "description": "request",
            "required": true,
            "in": "body",
            "name": "request",
            "schema": {
              "$ref": "#/definitions/KaliTextConsultSectionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ConsultKaliTextResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/consult/kaliCont": {
      "post": {
        "description": "Récupère le contenu d'un conteneur du fonds des conventions collectives (KALI) à partir de son identifiant",
        "operationId": "displayKaliContUsingPOST",
        "summary": "Contenu des conteneurs des conventions collectives",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "description": "request",
            "required": true,
            "in": "body",
            "name": "request",
            "schema": {
              "$ref": "#/definitions/KaliContConsultRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ConsultKaliContResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/list/legislatures": {
      "post": {
        "description": "Récupère les législatures",
        "operationId": "listLegislaturesUsingPOST",
        "summary": "Liste des législatures",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LegislaturesListResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/search/nearestVersion": {
      "post": {
        "description": "Permet de récupérer le titre et la section de la version d'un texte la plus proche d'une date donnée",
        "operationId": "searchNearestVersionUsingPOST",
        "summary": "Récupération des infos de la version la plus proche",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "description": "request",
            "required": true,
            "in": "body",
            "name": "request",
            "schema": {
              "$ref": "#/definitions/SearchNearestVersionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SearchNearestVersionResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/consult/code/tableMatieres": {
      "post": {
        "description": "Récupère la table des matières d'un texte de type CODE à partir de son identifiant et de sa date de vigueur",
        "operationId": "displayCodeTableOfContentsUsingPOST",
        "summary": "Contenu table des matières d'un CODE",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "description": "codeConsultRequest",
            "required": true,
            "in": "body",
            "name": "codeConsultRequest",
            "schema": {
              "$ref": "#/definitions/CodeConsultRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ConsultTextResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/consult/sameNumArticle": {
      "post": {
        "description": "Permet de récupérer les liens des articles ayant eu le même numéro que l'article en cours dans des versions précédentes du texte",
        "operationId": "displaySameNumArticleUsingPOST",
        "summary": "Liste des articles ayant eu le même numéro",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "description": "sameNumArticleRequest",
            "required": true,
            "in": "body",
            "name": "sameNumArticleRequest",
            "schema": {
              "$ref": "#/definitions/SameNumArticleRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SectionsRevisionArticleResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/consult/concordanceLinksArticle": {
      "post": {
        "description": "Permet de récupérer les liens de concordance d'un article",
        "operationId": "displayConcordanceLinksArticleUsingPOST",
        "summary": "Liste des liens de concordance d'un article",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "description": "concordanceLinksRequest",
            "required": true,
            "in": "body",
            "name": "concordanceLinksRequest",
            "schema": {
              "$ref": "#/definitions/ConcordanceLinksRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SectionsRevisionArticleResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/consult/code": {
      "post": {
        "description": "Récupère le contenu d'un texte de type CODE à partir de son identifiant et de sa date de vigueur",
        "operationId": "displayCodeUsingPOST",
        "summary": "Contenu texte type CODE",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "description": "codeConsultRequest",
            "required": true,
            "in": "body",
            "name": "codeConsultRequest",
            "schema": {
              "$ref": "#/definitions/CodeConsultRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ConsultTextResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/search": {
      "post": {
        "description": "Permet de faire une recherche de documents. On peut préciser le fond, les filtres textuels, les facettes et la pagination",
        "operationId": "searchUsingPOST",
        "summary": "Recherche générique des documents indexés",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "description": "jsonRequest",
            "required": true,
            "in": "body",
            "name": "jsonRequest",
            "schema": {
              "$ref": "#/definitions/SearchRequestDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SearchResponseDTO"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/list/ping": {
      "get": {
        "description": "Retourne pong",
        "operationId": "pingUsingGET_3",
        "summary": "Teste le controller",
        "produces": ["text/plain"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/chrono/ping": {
      "get": {
        "description": "Retourne pong",
        "operationId": "pingUsingGET",
        "summary": "Teste le controller",
        "produces": ["text/plain"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/consult/kaliText": {
      "post": {
        "description": "Récupère le contenu d'un texte du fonds des conventions collectives (KALI) à partir de son identifiant",
        "operationId": "displayKaliTextUsingPOST",
        "summary": "Contenu des conventions collectives",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "description": "request",
            "required": true,
            "in": "body",
            "name": "request",
            "schema": {
              "$ref": "#/definitions/KaliTextConsultRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ConsultKaliTextResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/consult/getArticle": {
      "post": {
        "description": "Récupère un article par son identifiant",
        "operationId": "getArticleUsingPOST",
        "summary": "Contenu d'un article",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "description": "articleRequest",
            "required": true,
            "in": "body",
            "name": "articleRequest",
            "schema": {
              "$ref": "#/definitions/ArticleRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetArticleResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/consult/lawDecree": {
      "post": {
        "description": "Récupère le contenu d'un texte de type LODA à partir de son identifiant et de sa date de vigueur",
        "operationId": "displayLawDecreeUsingPOST",
        "summary": "Contenu texte type LODA",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "description": "lawDecreeConsultRequest",
            "required": true,
            "in": "body",
            "name": "lawDecreeConsultRequest",
            "schema": {
              "$ref": "#/definitions/LawDecreeConsultRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ConsultTextResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/consult/kaliContIdcc": {
      "post": {
        "description": "Récupère le contenu d'un conteneur du fonds des conventions collectives (KALI) à partir de son idcc",
        "operationId": "displayKaliContByIdccUsingPOST",
        "summary": "Contenu des conteneurs des conventions collectives",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "description": "request",
            "required": true,
            "in": "body",
            "name": "request",
            "schema": {
              "$ref": "#/definitions/KaliContConsultIdccRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ConsultKaliContResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/suggest": {
      "post": {
        "description": "Effectue les diverses suggestions sur les différents fonds à partir d'une chaine de caractères et de la liste des fonds sélectionnés",
        "operationId": "crossSearchUsingPOST",
        "summary": "Suggestions de résultats",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "description": "request",
            "required": true,
            "in": "body",
            "name": "request",
            "schema": {
              "$ref": "#/definitions/SuggestSupplyRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SuggestResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/consult/getArticleByCid": {
      "post": {
        "description": "Récupère la liste des articles par leur identifiant commun",
        "operationId": "getArticleByCidUsingPOST",
        "summary": "Contenu des versions d'un article",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "description": "request",
            "required": true,
            "in": "body",
            "name": "request",
            "schema": {
              "$ref": "#/definitions/ArticleCidRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetListArticleResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/consult/eliAndAliasRedirectionTexte": {
      "post": {
        "description": "Récupère le contenu d'un texte du fonds JORF à partir de son idEli ou idEliAlias",
        "operationId": "getJoCidWithEliOrAliasUsingPOST",
        "summary": "Contenu des textes du JO.",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "description": "jorfConsultWithIdEliAliasRequest",
            "required": true,
            "in": "body",
            "name": "jorfConsultWithIdEliAliasRequest",
            "schema": {
              "$ref": "#/definitions/JorfConsultWithIdEliAliasRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ConsultJorfResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/misc/yearsWithoutTable": {
      "get": {
        "description": "Permet de récupérer l'ensemble des années sans table annuelle",
        "operationId": "getYearsWithoutTableUsingGET",
        "summary": "Liste des années sans table",
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/YearsWithNoTableResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/list/code": {
      "post": {
        "description": "Récupère les codes dans une liste paginée",
        "operationId": "listCodeUsingPOST",
        "summary": "Liste paginée des codes",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "description": "request",
            "required": true,
            "in": "body",
            "name": "request",
            "schema": {
              "$ref": "#/definitions/CodeListRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CodeListResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/consult/acco": {
      "post": {
        "description": "Récupère le contenu d'un accord d'entreprise à partir de son identifiant",
        "operationId": "displayAccoUsingPOST",
        "summary": "Contenu d'un accord d'entreprise",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "description": "request",
            "required": true,
            "in": "body",
            "name": "request",
            "schema": {
              "$ref": "#/definitions/AccoConsultRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ConsultAccoResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/consult/cnil": {
      "post": {
        "description": "Récupère le contenu d'un texte du fonds CNIL à partir de son identifiant",
        "operationId": "displayCnilUsingPOST",
        "summary": "Contenu texte fonds CNIL",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "description": "request",
            "required": true,
            "in": "body",
            "name": "request",
            "schema": {
              "$ref": "#/definitions/CnilConsultRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ConsultCnilTextResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/search/ping": {
      "get": {
        "description": "Retourne pong",
        "operationId": "pingUsingGET_4",
        "summary": "Teste le controller",
        "produces": ["text/plain"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/chrono/textCidAndElementCid": {
      "post": {
        "description": "Récupère un extrait (section ou article) d'une version spécifique d'un texte à partir des identifiants du texte et de l'extrait (section ou article)",
        "operationId": "getVersionByTextCidAndElementCidUsingPOST",
        "summary": "Extrait d'une version d'un texte",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "description": "request",
            "required": true,
            "in": "body",
            "name": "request",
            "schema": {
              "$ref": "#/definitions/ChronoLegiArticleRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ChronolegiResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/suggest/ping": {
      "get": {
        "description": "Retourne pong",
        "operationId": "pingUsingGET_5",
        "summary": "Teste le controller",
        "produces": ["text/plain"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/consult/jorfPart": {
      "post": {
        "description": "Récupère le contenu d'un texte du fonds JORF à partir de l'identifiant d'une de ses sections ou articles",
        "operationId": "displayJorfPartUsingPOST",
        "summary": "Contenu texte fonds JORF",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "description": "request",
            "required": true,
            "in": "body",
            "name": "request",
            "schema": {
              "$ref": "#/definitions/JorfConsultRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ConsultJorfResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/consult/relatedLinksArticle": {
      "post": {
        "description": "Permet de récupérer les liens relatifs d'un article donné",
        "operationId": "displayRelatedLinksArticleUsingPOST",
        "summary": "Liste des liens relatifs d'un article",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "description": "relatedLinksArticleRequest",
            "required": true,
            "in": "body",
            "name": "relatedLinksArticleRequest",
            "schema": {
              "$ref": "#/definitions/RelatedLinksArticleRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RelatedLinksArticleResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/consult/circulaire": {
      "post": {
        "description": "Récupère le contenu d'une circulaire à partir de son identifiant",
        "operationId": "displayCirculaireUsingPOST",
        "summary": "Contenu d'une circualire",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "description": "request",
            "required": true,
            "in": "body",
            "name": "request",
            "schema": {
              "$ref": "#/definitions/CirculaireConsultRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ConsultCirculaireResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    }
  },
  "definitions": {
    "KaliTextConsultArticleRequest": {
      "title": "KaliTextConsultArticleRequest",
      "description": "Requête de consultation d'un texte d'une convention collective",
      "required": ["id"],
      "properties": {
        "id": {
          "description": "Identifiant du texte ou d'un de ses éléments enfants (section/article)",
          "example": "KALIARTI000005833238",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SuggestRequest": {
      "title": "SuggestRequest",
      "description": "Requête de suggestion d'une recherche textuelle",
      "properties": {
        "searchText": {
          "description": "Texte à rechercher",
          "example": "mariage",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DossierResult": {
      "title": "DossierResult",
      "description": "Objet représentant un dossier",
      "properties": {
        "idTexte": {
          "description": "Identifiant du texte",
          "example": "JORFTEXT000037882341",
          "type": "string"
        },
        "libelleTexte": {
          "description": "Titre du texte",
          "example": "LOI n° 2018-1317 du 28 décembre 2018 de finances pour 2019",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GetArticleResponse": {
      "title": "GetArticleResponse",
      "description": "réponse de consultation d'un article",
      "properties": {
        "article": {
          "$ref": "#/definitions/Article"
        },
        "dereferenced": {
          "description": "Identifie si le contenu est référençable par les robots d'indexation",
          "example": true,
          "type": "boolean"
        },
        "executionTime": {
          "description": "Temps d'exécution",
          "format": "int64",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "ModificateurDTO": {
      "title": "ModificateurDTO",
      "description": "Objet représentant un modificateur",
      "properties": {
        "id": {
          "description": "Identifiant",
          "example": "LEGIARTI000006687518",
          "type": "string"
        },
        "idParent": {
          "description": "Identifiant de l'élément parent du modificateur (texte/section ...)",
          "type": "string"
        },
        "idText": {
          "description": "Identifiant du texte du modificateur",
          "example": "LEGITEXT000006072665",
          "type": "string"
        },
        "name": {
          "description": "Titre du modificateur",
          "example": "Code de la santé publique - art. L2211-1 (V)",
          "type": "string"
        },
        "nature": {
          "description": "Nature",
          "example": "CODE",
          "type": "string",
          "enum": ["LODA", "JORF", "CODE", "KALI", "JORFCONT"]
        }
      },
      "type": "object"
    },
    "Legislature": {
      "title": "Legislature",
      "description": "Objet représentant une législature",
      "properties": {
        "dateDebut": {
          "description": "Date de début",
          "format": "date-time",
          "example": 1340668800000,
          "type": "string"
        },
        "dateFin": {
          "description": "Date de fin",
          "format": "date-time",
          "example": 1498435200000,
          "type": "string"
        },
        "id": {
          "description": "Identifiant",
          "example": 14,
          "type": "string"
        },
        "libelle": {
          "description": "libellé",
          "example": "XIVème législature",
          "type": "string"
        }
      },
      "type": "object"
    },
    "LODAListResponse": {
      "title": "LODAListResponse",
      "description": "Résultat d'une requête paginée pour lister les textes Lois, Décrets, Arrêtés",
      "properties": {
        "executionTime": {
          "description": "Temps d'exécution",
          "format": "int64",
          "type": "integer"
        },
        "legalStatus": {
          "$ref": "#/definitions/Facet"
        },
        "natures": {
          "$ref": "#/definitions/Facet"
        },
        "results": {
          "description": "Liste des résultats de la page",
          "items": {
            "$ref": "#/definitions/LODAListResult"
          },
          "type": "array"
        },
        "totalResultNumber": {
          "description": "Nombre de résultats",
          "format": "int64",
          "example": 12,
          "type": "integer"
        }
      },
      "type": "object"
    },
    "SearchResponseDTO": {
      "title": "SearchResponseDTO",
      "description": "Page des résultats demandée lors d'une recherche paginée",
      "properties": {
        "executionTime": {
          "description": "Temps d'exécution",
          "format": "int64",
          "type": "integer"
        },
        "facets": {
          "description": "Liste des facettes liées",
          "items": {
            "$ref": "#/definitions/Facet"
          },
          "type": "array"
        },
        "results": {
          "description": "Liste des résultats de la page",
          "items": {
            "$ref": "#/definitions/SearchResult"
          },
          "type": "array"
        },
        "totalResultNumber": {
          "description": "Nombre de résultats",
          "format": "int64",
          "example": 1560,
          "type": "integer"
        },
        "typePagination": {
          "description": "Type de pagination. Spécifique pour les recherches dans les articles d'un texte spécifique, dans les autres cas la valeur sera toujours DEFAULT.",
          "example": "DEFAULT",
          "type": "string",
          "enum": ["DEFAUT", "ARTICLE"]
        }
      },
      "type": "object"
    },
    "GetJorfContResponse": {
      "title": "GetJorfContResponse",
      "description": "Réponse à une requête de N derniers JO",
      "properties": {
        "containers": {
          "description": "Liste des N derniers conteneurs",
          "items": {
            "$ref": "#/definitions/Conteneur"
          },
          "type": "array"
        },
        "executionTime": {
          "description": "Temps d'exécution",
          "format": "int64",
          "type": "integer"
        },
        "totalNbResult": {
          "description": "Nombre de résultats",
          "format": "int64",
          "example": 5,
          "type": "integer"
        }
      },
      "type": "object"
    },
    "RelatedLinksArticleRequest": {
      "title": "RelatedLinksArticleRequest",
      "description": "requête de récupération des liens de citation d'un article",
      "required": ["articleId"],
      "properties": {
        "articleId": {
          "description": "Identifiant de l'article",
          "example": "LEGIARTI000032207188",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ConsultKaliTextResponse": {
      "title": "ConsultKaliTextResponse",
      "description": "Réponse à une requête de consultation d'un texte d'une convention collective",
      "properties": {
        "alias": {
          "description": "Alias",
          "type": "string"
        },
        "articles": {
          "description": "Liste des articles racine du texte. La liste est ordonnée",
          "items": {
            "$ref": "#/definitions/ConsultArticle"
          },
          "type": "array"
        },
        "cid": {
          "description": "Chronical ID du texte",
          "example": "JORFTEXT000000882738",
          "type": "string"
        },
        "codesNomenclature": {
          "description": "Liste des codes de nomenclature",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "conditionDiffere": {
          "description": "Condition différée",
          "type": "string"
        },
        "conteneurs": {
          "description": "Liste des conteneurs du texte",
          "items": {
            "$ref": "#/definitions/Conteneur"
          },
          "type": "array"
        },
        "dateDebutVersion": {
          "description": "Date de début de la version",
          "type": "string"
        },
        "dateFinVersion": {
          "description": "Date de fin de la version",
          "type": "string"
        },
        "dateParution": {
          "description": "Date de parution",
          "format": "date-time",
          "type": "string"
        },
        "dereferenced": {
          "description": "Identifie si le contenu est référençable par les robots d'indexation",
          "example": true,
          "type": "boolean"
        },
        "dossiersLegislatifs": {
          "description": "Liste des dossiers legislatifs",
          "items": {
            "$ref": "#/definitions/DossierLegislatif"
          },
          "type": "array"
        },
        "eli": {
          "description": "identifiant européen de la ‎législation ou European Legislation Identifier",
          "example": "/eli/arrete/2019/1/18/TREK1901124A/jo/texte",
          "type": "string"
        },
        "etat": {
          "description": "Etat du texte",
          "type": "string"
        },
        "executionTime": {
          "description": "Temps d'exécution",
          "format": "int64",
          "type": "integer"
        },
        "id": {
          "description": "Identifiant du texte",
          "example": "LEGITEXT000006070994_01-08-2016",
          "type": "string"
        },
        "idConteneur": {
          "description": "Identifiant du conteneur du texte lorsqu'il en existe un.",
          "type": "string"
        },
        "inap": {
          "description": "INAP",
          "type": "boolean"
        },
        "jorfText": {
          "description": "Titre du texte correspondant",
          "type": "string"
        },
        "jurisDate": {
          "description": "Date d'état juridique",
          "type": "string"
        },
        "jurisState": {
          "description": "Etat juridique du texte",
          "type": "string"
        },
        "liens": {
          "description": "Liens",
          "items": {
            "$ref": "#/definitions/TexteLien"
          },
          "type": "array"
        },
        "modifDate": {
          "description": "Date de modification",
          "type": "string"
        },
        "motsCles": {
          "description": "Liste des mots clés",
          "items": {
            "type": "string"
          },
          "example": ["LIEN FAMILIAL", "CENTRES SOCIAUX"],
          "type": "array"
        },
        "nature": {
          "description": "Nature",
          "type": "string"
        },
        "nor": {
          "description": "Numéro NOR",
          "example": "NCCX8900064L",
          "type": "string"
        },
        "nota": {
          "description": "Nota",
          "type": "string"
        },
        "notice": {
          "description": "Notice",
          "type": "string"
        },
        "numParution": {
          "description": "Numéro de parution",
          "type": "string"
        },
        "numeroBo": {
          "description": "Numéro Bulletin Officiel",
          "type": "string"
        },
        "observations": {
          "description": "Observations",
          "type": "string"
        },
        "originePubli": {
          "description": "Origine de la publication",
          "type": "string"
        },
        "prepWork": {
          "description": "Travaux préparatoires",
          "type": "string"
        },
        "rectificatif": {
          "description": "Rectificatif",
          "type": "string"
        },
        "resume": {
          "description": "Résumé",
          "type": "string"
        },
        "sections": {
          "description": "Liste des sections de premier niveau du texte. La liste est ordonnée",
          "items": {
            "$ref": "#/definitions/ConsultSection"
          },
          "type": "array"
        },
        "signataires": {
          "$ref": "#/definitions/SignataireKali"
        },
        "signers": {
          "description": "Signataires",
          "type": "string"
        },
        "textAbroge": {
          "description": "Indique si le texte est abrogé",
          "type": "boolean"
        },
        "textNumber": {
          "description": "Numéro de texte",
          "type": "string"
        },
        "title": {
          "description": "Titre du texte",
          "example": "Loi contenant organisation du notariat (loi 25 ventôse an XI)",
          "type": "string"
        },
        "typeTexte": {
          "description": "Type de texte",
          "example": "TEXTE_BASE",
          "type": "string"
        },
        "visa": {
          "description": "Visas",
          "type": "string"
        }
      },
      "type": "object"
    },
    "HasChronolegiResponse": {
      "title": "HasChronolegiResponse",
      "description": "Réponse indiquant s'il existe un chronolegi (plusieurs versions) pour le texte.",
      "properties": {
        "chronolegiExists": {
          "description": "Indique si un versionning existe",
          "example": true,
          "type": "boolean"
        },
        "executionTime": {
          "description": "Temps d'exécution",
          "format": "int64",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "TexteSimple": {
      "title": "TexteSimple",
      "description": "Objet représentant un texte simple",
      "properties": {
        "annePublicationBulletin": {
          "description": "Année de publication au bulletin",
          "type": "string"
        },
        "appliGeo": {
          "description": "Portée géographique",
          "example": "NATIONAL",
          "type": "string"
        },
        "autorite": {
          "description": "Autorité",
          "type": "string"
        },
        "avocatGl": {
          "description": "Avocat général",
          "type": "string"
        },
        "avocats": {
          "description": "Avocats",
          "type": "string"
        },
        "cid": {
          "description": "Chronical ID du texte",
          "type": "string"
        },
        "citationJp": {
          "description": "Citations jurisprudentielles",
          "type": "string"
        },
        "citationJpHtml": {
          "description": "Texte HTML des citations jurisprudentielles",
          "type": "string"
        },
        "codesNomenclatures": {
          "description": "Liste des codes de nomenclature",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "commissaire": {
          "description": "Commissaire",
          "type": "string"
        },
        "conditionDiffere": {
          "description": "Condition de différé",
          "example": "Le présent avenant entrera en vigueur le premier jour du mois suivant la date de parution du Journal officiel de son arrêté d'extension.",
          "type": "string"
        },
        "conteneurs": {
          "description": "Liste des conteneurs",
          "items": {
            "$ref": "#/definitions/Conteneur"
          },
          "type": "array"
        },
        "dateDebut": {
          "description": "Date de début",
          "format": "date-time",
          "type": "string"
        },
        "dateDerniereModif": {
          "description": "Date de dernière modification",
          "format": "date-time",
          "example": 1546819200000,
          "type": "string"
        },
        "dateFin": {
          "description": "Date de fin",
          "format": "date-time",
          "type": "string"
        },
        "dateJo": {
          "description": "Date du JO",
          "format": "date-time",
          "type": "string"
        },
        "dateLoiDef": {
          "description": "Date de signature de la loi déférée",
          "format": "date-time",
          "type": "string"
        },
        "datePubli": {
          "description": "Date de publication",
          "format": "date-time",
          "example": 1546819200000,
          "type": "string"
        },
        "datePubliComputed": {
          "description": "Date de publication si la date est valide, vide autrement (elle vaut null si la date du texte est null ou >= 2222-01-01)",
          "format": "date-time",
          "example": 1546819200000,
          "type": "string"
        },
        "dateTexte": {
          "description": "Date du texte",
          "format": "date-time",
          "example": 1546819200000,
          "type": "string"
        },
        "dateTexteComputed": {
          "description": "Date du texte si la date est valide, vide autrement (elle vaut null si la date du texte est null ou >= 2222-01-01)",
          "format": "date-time",
          "example": 1546819200000,
          "type": "string"
        },
        "dateVersement": {
          "description": "Date de versement",
          "format": "date-time",
          "type": "string"
        },
        "decisionAttaquee": {
          "$ref": "#/definitions/DecisionAttaquee"
        },
        "dossiersLegislatifs": {
          "description": "Liste des dossiers législatifs",
          "items": {
            "$ref": "#/definitions/DossierLegislatif"
          },
          "type": "array"
        },
        "ecli": {
          "description": "ECLI",
          "type": "string"
        },
        "emetteur": {
          "description": "Emetteur",
          "type": "string"
        },
        "etat": {
          "description": "Etat juridique",
          "type": "string"
        },
        "formation": {
          "description": "formation",
          "example": "JX",
          "type": "string"
        },
        "id": {
          "description": "Identifiant du texte",
          "example": "JURITEXT000037999394",
          "type": "string"
        },
        "idConteneur": {
          "description": "Identifiant du conteneur",
          "type": "string"
        },
        "idEli": {
          "description": "Lien ELI",
          "type": "string"
        },
        "idEliAlias": {
          "description": "Alias ELI",
          "type": "string"
        },
        "idTechInjection": {
          "description": "Identifiant technique permettant le suivi d'injection du mode delta",
          "type": "string"
        },
        "idTexteJo": {
          "description": "Identifiant du JO",
          "type": "string"
        },
        "inap": {
          "description": "INAP",
          "type": "boolean"
        },
        "juridiction": {
          "description": "Juridiction",
          "example": "Cour d'appel de Nancy",
          "type": "string"
        },
        "juridictionJudiciaire": {
          "description": "Juridiction judiciaire",
          "example": "Juridictions d'appel",
          "type": "string"
        },
        "lienJo": {
          "description": "Lien vers le JO",
          "type": "string"
        },
        "liens": {
          "description": "Liste de liens vers d'autres textes",
          "items": {
            "$ref": "#/definitions/TexteLien"
          },
          "type": "array"
        },
        "ministere": {
          "description": "Ministere",
          "type": "string"
        },
        "motsCles": {
          "description": "Liste des mots clés",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nature": {
          "description": "Nature du texte",
          "example": "ARRET",
          "type": "string"
        },
        "natureDelib": {
          "description": "Nature de la délibération",
          "example": "AUTORISATION DE TRANSFERTS",
          "type": "string"
        },
        "natureJuridiction": {
          "description": "Nature de la juridiction",
          "example": "Cour d'appel",
          "type": "string"
        },
        "natureNumero": {
          "type": "string"
        },
        "natureQualifiee": {
          "description": "Nature qualifiée",
          "type": "string"
        },
        "nor": {
          "description": "Numéro NOR",
          "type": "string"
        },
        "nota": {
          "description": "Notas",
          "type": "string"
        },
        "notaHtml": {
          "description": "Texte HTML des notas",
          "type": "string"
        },
        "notice": {
          "description": "Notice",
          "type": "string"
        },
        "noticeHtml": {
          "description": "Texte HTML de la notice",
          "type": "string"
        },
        "num": {
          "description": "Numéro du texte",
          "type": "string"
        },
        "numJo": {
          "description": "Numéro du JO",
          "type": "string"
        },
        "numLoiDef": {
          "description": "Numéro de la loi déférée",
          "example": "2001-419",
          "type": "string"
        },
        "numParution": {
          "description": "Numéro de parution",
          "type": "string"
        },
        "numTexteJo": {
          "description": "Numéro du texte JO",
          "type": "string"
        },
        "numeroAffaire": {
          "description": "Liste des numéros d'affaire",
          "items": {
            "type": "string"
          },
          "example": ["17/030701", "17/030702"],
          "type": "array"
        },
        "numeroBo": {
          "description": "Numéro BO",
          "type": "string"
        },
        "numeroPublicationBulletin": {
          "description": "Numéro de publication au bulletin",
          "type": "string"
        },
        "numsequence": {
          "description": "Numéro de séquence",
          "type": "string"
        },
        "observations": {
          "description": "Observations d'une directive européenne",
          "type": "string"
        },
        "origine": {
          "description": "Origine du texte",
          "example": "JURI",
          "type": "string"
        },
        "originePubli": {
          "description": "Origine de la publication",
          "type": "string"
        },
        "president": {
          "description": "Président",
          "type": "string"
        },
        "provenance": {
          "description": "provenance",
          "example": "CAPP",
          "type": "string"
        },
        "publicationRecueil": {
          "description": "Indique la publication au recueil Lebon",
          "example": "C",
          "type": "string"
        },
        "rapporteur": {
          "description": "Rapporteur",
          "type": "string"
        },
        "rectificatif": {
          "description": "Rectificatif d'une directive européenne",
          "type": "string"
        },
        "refInjection": {
          "description": "référence permettant le suivi d'injection du mode delta",
          "type": "string"
        },
        "relevantDate": {
          "description": "Contient la date du texte si elle existe (!= null && != 2999-01-01) sinon contient la date de publication  pour les texte",
          "format": "date-time",
          "example": 1546819200000,
          "type": "string"
        },
        "resume": {
          "description": "Résumé d'une directive européenne",
          "type": "string"
        },
        "resumeHtml": {
          "description": "Texte HTML des résumés de directive européenne",
          "type": "string"
        },
        "siegeAppel": {
          "description": "Siège d'appel",
          "example": "NANCY",
          "type": "string"
        },
        "signataireKali": {
          "$ref": "#/definitions/SignataireKali"
        },
        "signataires": {
          "description": "Signataires",
          "type": "string"
        },
        "signatairesHtml": {
          "description": "Texte HTML des signataires",
          "type": "string"
        },
        "solution": {
          "description": "Solution",
          "type": "string"
        },
        "sommaire": {
          "description": "Liste des éléments de sommaire",
          "items": {
            "$ref": "#/definitions/TexteSommaire"
          },
          "type": "array"
        },
        "texte": {
          "description": "Contenu du texte",
          "type": "string"
        },
        "texteHtml": {
          "description": "Texte au format HTML",
          "type": "string"
        },
        "titre": {
          "description": "Titre du texte",
          "type": "string"
        },
        "titreJo": {
          "description": "Titre du JO lié",
          "type": "string"
        },
        "titreLoiDef": {
          "description": "Titre de la loi déférée",
          "type": "string"
        },
        "titreLong": {
          "description": "Titre long du texte",
          "type": "string"
        },
        "travauxPreparatoires": {
          "description": "Travaux préparatoires",
          "type": "string"
        },
        "travauxPreparatoiresHtml": {
          "description": "Texte HTML des travaux préparatoires",
          "type": "string"
        },
        "typeControleNormes": {
          "description": "Type de contrôle",
          "example": "Contrôle de constitutionnalité",
          "type": "string"
        },
        "typeDecision": {
          "description": "Type de décision",
          "type": "string"
        },
        "typePublicationBulletin": {
          "description": "Type de publication",
          "type": "string"
        },
        "typeTexte": {
          "description": "Type de texte",
          "example": "TEXTE_BASE",
          "type": "string",
          "enum": [
            "TEXTE_ATTACHE",
            "TEXTE_BASE",
            "TEXTE_SALAIRE",
            "TEXTE_EXTENSION"
          ]
        },
        "urlCC": {
          "description": "Chemin vers la convention collective",
          "type": "string"
        },
        "version": {
          "description": "Version",
          "type": "string"
        },
        "visas": {
          "description": "Visas",
          "type": "string"
        },
        "visasHtml": {
          "description": "Texte HTML des visas",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ArticleVersion": {
      "title": "ArticleVersion",
      "description": "Objet représentant les métadonnées d'une version d'un article",
      "properties": {
        "dateDebut": {
          "description": "Date de début de la version",
          "format": "date-time",
          "type": "string"
        },
        "dateFin": {
          "description": "Date de fin de la version",
          "format": "date-time",
          "type": "string"
        },
        "etat": {
          "description": "Etat juridique",
          "type": "string"
        },
        "id": {
          "description": "Identifiant de l'article",
          "type": "string"
        },
        "numero": {
          "description": "Numéro de l'article",
          "type": "string"
        },
        "ordre": {
          "description": "Numéro d'ordre de l'article. Sert au tri des articles au sein de leur élément parent (section ou texte)",
          "format": "int32",
          "type": "integer"
        },
        "version": {
          "description": "Version",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DossierLegislatif": {
      "title": "DossierLegislatif",
      "description": "Objet représentant un dossier législatif",
      "properties": {
        "ancienId": {
          "description": "Ancien ID",
          "example": "JORFDOLE000028196699",
          "type": "string"
        },
        "arborescence": {
          "$ref": "#/definitions/Arborescence"
        },
        "dateCreation": {
          "description": "Date de création",
          "format": "date-time",
          "example": 1388361600000,
          "type": "string"
        },
        "dateDerniereModification": {
          "description": "Date de dernière modification",
          "format": "date-time",
          "example": 1391990400000,
          "type": "string"
        },
        "dossiers": {
          "description": "Liste des dossiers",
          "items": {
            "$ref": "#/definitions/Dossier"
          },
          "type": "array"
        },
        "echeancier": {
          "description": "Echéancier",
          "type": "string"
        },
        "exposeMotif": {
          "description": "Texte html des motifs",
          "type": "string"
        },
        "id": {
          "description": "Identifiant du dossier",
          "example": "JORFDOLE000028196681",
          "type": "string"
        },
        "idTechInjection": {
          "description": "Identifiant technique de l'élément injecté",
          "type": "string"
        },
        "legislature": {
          "$ref": "#/definitions/Legislature"
        },
        "nature": {
          "description": "nature",
          "type": "string"
        },
        "origine": {
          "description": "Origine",
          "example": "JORF",
          "type": "string"
        },
        "refInjection": {
          "description": "Référence technique permettant d'identifier la date d'injection",
          "type": "string"
        },
        "titre": {
          "description": "Titre du dossier legislatif",
          "example": "LOI n° 2013-1279 du 29 décembre 2013 de finances rectificative pour 2013",
          "type": "string"
        },
        "type": {
          "description": "type",
          "example": "LOI_PUBLIEE",
          "type": "string"
        },
        "url": {
          "description": "chemin relatif vers le fichier xml",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Lien": {
      "title": "Lien",
      "description": "Objet représentant un lien dans l'arborescence d'un dossier législatif",
      "properties": {
        "data": {
          "description": "Texte associé",
          "type": "string"
        },
        "id": {
          "description": "Identifiant du lien",
          "example": 1415810924079,
          "type": "string"
        },
        "libelle": {
          "description": "Libellé",
          "example": "Dossier législatif du Sénat",
          "type": "string"
        },
        "lien": {
          "description": "Lien vers le dossier législatif",
          "example": "http://www.senat.fr/dossier-legislatif/pjl14-096.html",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DossierLegislatifResult": {
      "title": "DossierLegislatifResult",
      "description": "Objet représentant le résultat d'un dossier législatif",
      "properties": {
        "dateCreation": {
          "description": "Date de création",
          "example": "2019-01-21",
          "type": "string"
        },
        "dateDerniereModification": {
          "description": "Date de dernière modification",
          "example": "2019-01-21",
          "type": "string"
        },
        "dossiers": {
          "description": "Liste des dossiers",
          "items": {
            "$ref": "#/definitions/DossierResult"
          },
          "type": "array"
        },
        "id": {
          "description": "Identifiant",
          "example": "JORFDOLE000037460423",
          "type": "string"
        },
        "titre": {
          "description": "Titre",
          "example": "LOI n° 2019-30 du 20 janvier 2019 habilitant le Gouvernement à prendre par ordonnance les mesures de préparation au retrait du Royaume-Uni de l'Union européenne",
          "type": "string"
        },
        "type": {
          "description": "Type",
          "example": "LOI_PUBLIEE",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AdressePostale": {
      "title": "AdressePostale",
      "description": "Objet représentant une adresse postale",
      "properties": {
        "codePostal": {
          "description": "Code postal",
          "example": 75005,
          "type": "string"
        },
        "ville": {
          "description": "Ville",
          "example": "PARIS",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ConsultJorfResponse": {
      "title": "ConsultJorfResponse",
      "description": "Réponse à une requête de consultation d'un texte JORF",
      "properties": {
        "alias": {
          "description": "Alias",
          "type": "string"
        },
        "articles": {
          "description": "Liste des articles racine du texte. La liste est ordonnée",
          "items": {
            "$ref": "#/definitions/ConsultArticle"
          },
          "type": "array"
        },
        "cid": {
          "description": "Chronical ID du texte",
          "example": "JORFTEXT000000882738",
          "type": "string"
        },
        "dateDebutVersion": {
          "description": "Date de début de la version",
          "type": "string"
        },
        "dateFinVersion": {
          "description": "Date de fin de la version",
          "type": "string"
        },
        "dateParution": {
          "description": "Date de parution",
          "format": "date-time",
          "type": "string"
        },
        "dereferenced": {
          "description": "Identifie si le contenu est référençable par les robots d'indexation",
          "example": true,
          "type": "boolean"
        },
        "dossiersLegislatifs": {
          "description": "Liste des dossiers legislatifs",
          "items": {
            "$ref": "#/definitions/DossierLegislatif"
          },
          "type": "array"
        },
        "eli": {
          "description": "identifiant européen de la ‎législation ou European Legislation Identifier",
          "example": "/eli/arrete/2019/1/18/TREK1901124A/jo/texte",
          "type": "string"
        },
        "etat": {
          "description": "Etat du texte",
          "type": "string"
        },
        "executionTime": {
          "description": "Temps d'exécution",
          "format": "int64",
          "type": "integer"
        },
        "id": {
          "description": "Identifiant du texte",
          "example": "LEGITEXT000006070994_01-08-2016",
          "type": "string"
        },
        "idConteneur": {
          "description": "Identifiant du conteneur du texte lorsqu'il en existe un.",
          "type": "string"
        },
        "inap": {
          "description": "INAP",
          "type": "boolean"
        },
        "jorfFileMetadata": {
          "description": "Liste des métadonnées des fichiers attachés au document",
          "items": {
            "$ref": "#/definitions/FileMetadata"
          },
          "type": "array"
        },
        "jorfText": {
          "description": "Titre du texte correspondant",
          "type": "string"
        },
        "jurisDate": {
          "description": "Date d'état juridique",
          "type": "string"
        },
        "jurisState": {
          "description": "Etat juridique du texte",
          "type": "string"
        },
        "liens": {
          "description": "Liens",
          "items": {
            "$ref": "#/definitions/TexteLien"
          },
          "type": "array"
        },
        "modifDate": {
          "description": "Date de modification",
          "type": "string"
        },
        "motsCles": {
          "description": "Mots-clés",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nature": {
          "description": "Nature",
          "type": "string"
        },
        "nor": {
          "description": "Numéro NOR",
          "example": "NCCX8900064L",
          "type": "string"
        },
        "nota": {
          "description": "Nota",
          "type": "string"
        },
        "notice": {
          "description": "Notice",
          "type": "string"
        },
        "numParution": {
          "description": "Numéro de parution",
          "type": "string"
        },
        "observations": {
          "description": "Observations",
          "type": "string"
        },
        "prepWork": {
          "description": "Travaux préparatoires",
          "type": "string"
        },
        "rectificatif": {
          "description": "Rectificatif",
          "type": "string"
        },
        "resume": {
          "description": "Résumé",
          "type": "string"
        },
        "sections": {
          "description": "Liste des sections de premier niveau du texte. La liste est ordonnée",
          "items": {
            "$ref": "#/definitions/ConsultSection"
          },
          "type": "array"
        },
        "signers": {
          "description": "Signataires",
          "type": "string"
        },
        "textAbroge": {
          "description": "Indique si le texte est abrogé",
          "type": "boolean"
        },
        "textNumber": {
          "description": "Numéro de texte",
          "type": "string"
        },
        "title": {
          "description": "Titre du texte",
          "example": "Loi contenant organisation du notariat (loi 25 ventôse an XI)",
          "type": "string"
        },
        "visa": {
          "description": "Visas",
          "type": "string"
        }
      },
      "type": "object"
    },
    "JuriConsultRequest": {
      "title": "JuriConsultRequest",
      "description": "requête de consultation d'un texte de Jurisprudence judiciaire",
      "required": ["textId"],
      "properties": {
        "textId": {
          "description": "Identifiant du texte",
          "example": "JURITEXT000037999394",
          "type": "string"
        }
      },
      "type": "object"
    },
    "LODAListResult": {
      "title": "LODAListResult",
      "description": "Objet représentant un résultat LODA",
      "properties": {
        "cid": {
          "description": "Chronical ID",
          "example": "JORFTEXT000033279563",
          "type": "string"
        },
        "dateDebut": {
          "description": "Date de début",
          "format": "date-time",
          "example": 1477094400000,
          "type": "string"
        },
        "dateFin": {
          "description": "Date de fin",
          "format": "date-time",
          "example": 32472144000000,
          "type": "string"
        },
        "dossiersLegislatifs": {
          "description": "Liste des dossiers législatifs",
          "items": {
            "$ref": "#/definitions/DossierLegislatif"
          },
          "type": "array"
        },
        "etat": {
          "description": "Etat juridique",
          "example": "VIGUEUR",
          "type": "string"
        },
        "id": {
          "description": "Identifiant unique",
          "example": "LEGITEXT000033280430",
          "type": "string"
        },
        "lastUpdate": {
          "description": "Date de dernière mise à jour",
          "format": "date-time",
          "example": 1477094400000,
          "type": "string"
        },
        "titre": {
          "description": "Titre",
          "example": "Ordonnance n° 2016-1406 du 20 octobre 2016 portant adaptation et simplification de la législation relative à l'Etablissement français du sang et aux activités liées à la transfusion sanguine",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SignataireKali": {
      "title": "SignataireKali",
      "description": "Objet représentant un signataire KALI",
      "properties": {
        "adhesion": {
          "description": "Adhésion",
          "type": "string"
        },
        "denonciation": {
          "description": "Dénonciation",
          "type": "string"
        },
        "execution": {
          "description": "Exécution",
          "type": "string"
        },
        "faitA": {
          "description": "Fait A",
          "type": "string"
        },
        "patron": {
          "description": "Patronat",
          "type": "string"
        },
        "signExt": {
          "description": "Signataire extérieur",
          "type": "string"
        },
        "syndic": {
          "description": "Syndicat",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ConventionsListRequest": {
      "title": "ConventionsListRequest",
      "description": "Requête paginée pour lister les conventions collectives",
      "required": ["pageNumber", "pageSize"],
      "properties": {
        "keyWords": {
          "description": "Liste des mots clés à filtrer",
          "items": {
            "type": "string"
          },
          "example": ["ABATTOIRS", "CHAUX HYDRAULIQUES"],
          "type": "array"
        },
        "legalStatus": {
          "description": "Liste des états juridique à filtrer",
          "items": {
            "type": "string",
            "enum": [
              "VIGUEUR",
              "ABROGE_DIFF",
              "VIGUEUR_DIFF",
              "VIGUEUR_ETEN",
              "ABROGE",
              "PERIME",
              "ANNULE",
              "MODIFIE",
              "DISJOINT",
              "SUBSTITUE",
              "TRANSFERE",
              "INITIALE",
              "MODIFIE_MORT_NE",
              "SANS_ETAT",
              "DENONCE",
              "REMPLACE",
              "VIGUEUR_NON_ETEN"
            ]
          },
          "example": ["VIGUEUR", "ABROGE", "VIGUEUR_DIFF"],
          "type": "array"
        },
        "pageNumber": {
          "description": "Numéro de la page à consulter",
          "format": "int32",
          "example": 1,
          "type": "integer"
        },
        "pageSize": {
          "description": "Nombre de résultats par page (max 100)",
          "format": "int32",
          "example": 10,
          "type": "integer"
        },
        "searchValue": {
          "description": "Texte à rechercher dans les titres ou IDCC permettant de filtrer le résultat",
          "example": "Industrie",
          "type": "string"
        },
        "sort": {
          "description": "Ordre de tri",
          "example": "DATE_PUBLI_ASC",
          "type": "string",
          "enum": ["DATE_UPDATE", "DATE_PUBLI_ASC", "DATE_PUBLI_DESC"]
        }
      },
      "type": "object"
    },
    "FullConteneur": {
      "title": "FullConteneur",
      "description": "Objet représentant un conteneur",
      "properties": {
        "ancienId": {
          "description": "Ancien Identifiant",
          "type": "string"
        },
        "datePubli": {
          "description": "Date de publication",
          "format": "date-time",
          "example": 1548374400000,
          "type": "string"
        },
        "etat": {
          "description": "Etat juridique du conteneur",
          "type": "string"
        },
        "id": {
          "description": "Identifiant du conteneur",
          "example": "JORFCONT000038052140",
          "type": "string"
        },
        "idEli": {
          "description": "Identifiant ELI",
          "example": "/eli/jo/2019/1/25/0021",
          "type": "string"
        },
        "idTechInjection": {
          "description": "Identifiant technique de l'élément injecté",
          "type": "string"
        },
        "nature": {
          "description": "Nature du conteneur",
          "example": "JO",
          "type": "string"
        },
        "num": {
          "description": "Numéro de JO",
          "example": "0021",
          "type": "string"
        },
        "numero": {
          "type": "string"
        },
        "origine": {
          "description": "Origine",
          "example": "JORF",
          "type": "string"
        },
        "refInjection": {
          "description": "Référence technique permettant d'identifier la date d'injection",
          "type": "string"
        },
        "relevantDate": {
          "format": "date-time",
          "type": "string"
        },
        "structure": {
          "$ref": "#/definitions/StructureTxt"
        },
        "titre": {
          "description": "Titre",
          "example": "JORF n°0021 du 25 janvier 2019",
          "type": "string"
        },
        "url": {
          "description": "chemin vers le conteneur",
          "example": "conteneur/JORF/CONT/00/00/38/05/21/JORFCONT000038052140.xml",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SuggestSupplyRequest": {
      "title": "SuggestSupplyRequest",
      "description": "Requête de suggestion d'une recherche textuelle dans un ou plusieurs fonds",
      "properties": {
        "searchText": {
          "description": "Texte à rechercher",
          "example": "mariage",
          "type": "string"
        },
        "supplies": {
          "description": "Liste des fonds dans lesquels exécuter la recherche pour la suggestion",
          "items": {
            "type": "string",
            "enum": [
              "ALL",
              "ALL_SUGGEST",
              "LODA_LIST",
              "CODE_LIST",
              "CODE_RELEASE_DATE",
              "CODE_RELEASE_DATE_SUGGEST",
              "CODE_LEGAL_STATUS",
              "LODA_RELEASE_DATE",
              "LODA_RELEASE_DATE_SUGGEST",
              "LODA_LEGAL_STATUS",
              "KALI",
              "KALI_TEXT",
              "CONSTIT",
              "CETAT",
              "JURI",
              "JORF",
              "JORF_SUGGEST",
              "CNIL",
              "ARTICLE",
              "CIRC",
              "ACCO"
            ]
          },
          "example": ["JORF", "JURI"],
          "type": "array"
        }
      },
      "type": "object"
    },
    "SearchNearestVersionRequest": {
      "title": "SearchNearestVersionRequest",
      "description": "Requête de récupération de la version d'un texte (et d'une section) la plus proche d'une date demandée",
      "required": ["cidText", "date"],
      "properties": {
        "cidSection": {
          "description": "Chronical ID de la section",
          "example": "LEGISCTA000006117894",
          "type": "string"
        },
        "cidText": {
          "description": "Chronical ID du texte",
          "example": "LEGITEXT000006070721",
          "type": "string"
        },
        "date": {
          "description": "Date de référence pour la recherche",
          "format": "date-time",
          "example": "2015-01-01",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Circulaire": {
      "title": "Circulaire",
      "description": "Objet représentant une circulaire",
      "properties": {
        "annexes": {
          "description": "Annexes",
          "example": 4,
          "type": "string"
        },
        "attachment": {
          "$ref": "#/definitions/Attachment"
        },
        "attachmentName": {
          "description": "Nom du fichier PDF lié",
          "example": "cir_44128.pdf",
          "type": "string"
        },
        "attachmentUrl": {
          "description": "Chemin vers le fichier PDF",
          "type": "string"
        },
        "auteur": {
          "description": "Auteur",
          "example": "Le ministre de l'éducation nationale et de la jeunesse",
          "type": "string"
        },
        "categories": {
          "description": "Liste des catégories",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "data": {
          "description": "Contenu du fichier en base64",
          "type": "string"
        },
        "dateDepot": {
          "description": "Date de dépôt",
          "format": "date-time",
          "example": 1543449600000,
          "type": "string"
        },
        "dateExport": {
          "description": "Date d'export",
          "format": "date-time",
          "example": 1543536000000,
          "type": "string"
        },
        "dateMiseApplication": {
          "description": "Date de mise en application",
          "format": "date-time",
          "type": "string"
        },
        "dateOpposabilite": {
          "description": "Date de déclaration d'opposabilité",
          "format": "date-time",
          "example": 1543190400000,
          "type": "string"
        },
        "dateSignature": {
          "description": "Date de signature",
          "format": "date-time",
          "example": 1543190400000,
          "type": "string"
        },
        "destinataire": {
          "description": "Destinataire",
          "type": "string"
        },
        "domaines": {
          "description": "Liste des domaines",
          "items": {
            "type": "string"
          },
          "example": ["Jeunesse, sports, vie associative"],
          "type": "array"
        },
        "emailDeposant": {
          "description": "Email déposant",
          "type": "string"
        },
        "etat": {
          "description": "Etat",
          "example": "V",
          "type": "string"
        },
        "id": {
          "description": "Identifiant",
          "example": 44128,
          "type": "string"
        },
        "idTechInjection": {
          "description": "Identifiant technique de l'élément injecté",
          "type": "string"
        },
        "ministeresDeposants": {
          "description": "Liste des ministères déposants",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "motsCles": {
          "description": "Liste des mots clés",
          "items": {
            "type": "string"
          },
          "example": ["Enseignement, Education  et Sciences et techniques"],
          "type": "array"
        },
        "motsClesLibres": {
          "description": "Liste des mots clés libres",
          "example": "périscolaire ; accueils collectifs de mineurs ; Plan mercredi",
          "type": "string"
        },
        "nor": {
          "description": "Numéro NOR",
          "example": "MENV1829930J",
          "type": "string"
        },
        "numeroCerfa": {
          "description": "Numéro CERFA",
          "type": "string"
        },
        "numeroInterne": {
          "description": "Numéro interne",
          "example": "2018-139",
          "type": "string"
        },
        "opposable": {
          "description": "Indique si la circulaire est opposable",
          "example": "O",
          "type": "string"
        },
        "origine": {
          "description": "Origine",
          "example": "CIRC",
          "type": "string"
        },
        "refInjection": {
          "description": "Référence technique permettant d'identifier la date d'injection",
          "type": "string"
        },
        "referencePublicationJoBo": {
          "description": "Référence de publication",
          "example": 7293,
          "type": "string"
        },
        "relevantDate": {
          "format": "date-time",
          "type": "string"
        },
        "remplace": {
          "example": "À compter du 15 décembre 2017 : Instruction n° 225/DEF/TM/T du 29 mars 1995 (BOC, p. 1661 ; BOEM 404.3.3).",
          "type": "string"
        },
        "resume": {
          "description": "Résumé",
          "type": "string"
        },
        "signataire": {
          "description": "Signataire",
          "example": "A LAURENT, SG-MCAS, JP VINQUANT, DGCS et A BURSTIN, Directrice de la CNSA",
          "type": "string"
        },
        "sizeToDisplay": {
          "description": "Taille du fichier PDF avec son unité",
          "example": "629,7 Ko",
          "type": "string"
        },
        "tailleFichierPdf": {
          "description": "Taille du fichier PDF en octets",
          "format": "int64",
          "example": 644810,
          "type": "integer"
        },
        "textesReferences": {
          "description": "Liste des textes de référence",
          "items": {
            "$ref": "#/definitions/TexteReference"
          },
          "type": "array"
        },
        "titre": {
          "description": "Titre de la circulaire",
          "example": "Instruction relative à la mise en oeuvre du Plan mercredi",
          "type": "string"
        },
        "typeGouv": {
          "example": "oui",
          "type": "string"
[...]
