{
  "swagger" : "2.0",
  "info" : {
    "description" : "\nAfin de faciliter la réutilisation des données juridiques, la DILA met à disposition du public une API de Légifrance.\nCe document a pour objectif de décrire les méthodes de l'API Légifrance, présentées à l'aide du framework Swagger.\nVous pouvez également télécharger une [documentation complémentaire](https://www.legifrance.gouv.fr/contenu/Media/Files/pied-de-page/description-des-tris-et-filtres-de-l-api.xlsx) ainsi que des [exemples d’utilisation](https://www.legifrance.gouv.fr/contenu/Media/Files/pied-de-page/exemples-d-utilisation-de-l-api.docx) de l'API.\n\nCet accès vous permet d’expérimenter l'API sur un environnement de test et de vous familiariser avec les différentes méthodes.\n\nÀ noter :\n- L'environnement de test peut être indisponible.\n- Les appels sont limités par quotas.\n\nLes mises à jour correctives et évolutives sont réalisées dans un premier temps sur cet environnement.\nLa version de l'API correspond à celle du site de Légifrance.\n\nLes données ne sont pas identiques à celles de Production.\n\nL'API Légifrance est mise à disposition sous [conditions](https://www.legifrance.gouv.fr/contenu/pied-de-page/open-data-et-api).\n\nPour toute question, vous pouvez écrire à l'adresse retours-legifrance-modernise@dila.gouv.fr.",
    "version" : "1.6.2.5",
    "title" : "DILA - Légifrance",
    "contact" : {
      "name" : "DILA",
      "url" : "https://www.dila.premier-ministre.gouv.fr",
      "email" : "retours-legifrance-modernise@dila.gouv.fr"
    },
    "license" : {
      "name" : "Licence ouverte v2.0",
      "url" : "https://www.etalab.gouv.fr/wp-content/uploads/2017/04/ETALAB-Licence-Ouverte-v2.0.pdf"
    }
  },
  "host" : "sandbox-api.piste.gouv.fr",
  "basePath" : "/dila/legifrance-beta/lf-engine-app",
  "tags" : [ {
    "name" : "Chrono Controller",
    "description" : "Accès aux versions de texte"
  }, {
    "name" : "Consult Controller",
    "description" : "Accès aux textes"
  }, {
    "name" : "List Controller",
    "description" : "Liste les textes"
  }, {
    "name" : "Misc Controller",
    "description" : "Services divers"
  }, {
    "name" : "Search Controller",
    "description" : "Recherche sur les textes"
  }, {
    "name" : "Suggest Controller",
    "description" : "Autosuggestion/Autocompletion sur les textes et articles"
  } ],
  "schemes" : [ "https" ],
  "security" : [ {
    "OAuthImplicit" : [ "openid" ]
  }, {
    "OAuthAccessCode" : [ "openid" ]
  } ],
  "paths" : {
    "/consult/getCnilWithAncienId" : {
      "post" : {
        "tags" : [ "Consult Controller" ],
        "summary" : "Contenu d'un texte CNIL",
        "description" : "Récupère un texte du fond CNIL en fonction de son Ancien ID",
        "operationId" : "getCnilWithAncienIdUsingPOST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "request",
          "description" : "request",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CnilConsultWithAncienId"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/ConsultCnilTextResponse"
            }
          },
          "201" : {
            "description" : "Created"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/list/docsAdmins" : {
      "post" : {
        "tags" : [ "List Controller" ],
        "summary" : "Liste des documents administratifs",
        "description" : "Permet de récupérer la liste des documents administratifs pour une période donnée",
        "operationId" : "listDocsAdminsUsingPOST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "request",
          "description" : "request",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/DocsAdminsListRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/DocsAdminsListResponse"
            }
          },
          "201" : {
            "description" : "Created"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/suggest/acco" : {
      "post" : {
        "tags" : [ "Suggest Controller" ],
        "summary" : "Suggestions des siret et raisons sociale pour les accords",
        "description" : "Effectue les suggestions siret et raisons sociales sur les accords d'entreprise à partir d'une chaine de caractères",
        "operationId" : "siretRcSuggestUsingPOST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "request",
          "description" : "request",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/SuggestRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/SuggestAccoResponse"
            }
          },
          "201" : {
            "description" : "Created"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/consult/getTables" : {
      "post" : {
        "tags" : [ "Consult Controller" ],
        "summary" : "Liste des tables annuelles",
        "description" : "Permet de récupérer l'ensemble des tables annuelles pour une période donnée",
        "operationId" : "getTablesUsingPOST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "request",
          "description" : "request",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/TableRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/GetTableResponse"
            }
          },
          "201" : {
            "description" : "Created"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/misc/commitId" : {
      "get" : {
        "tags" : [ "Misc Controller" ],
        "summary" : "Informations déploiement et versionning",
        "description" : "Récupère les informations relatives au déploiement et au versionning de l'application",
        "operationId" : "getCommitIdUsingGET",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "type" : "object",
              "additionalProperties" : {
                "type" : "string"
              }
            }
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/list/dossiersLegislatifs" : {
      "post" : {
        "tags" : [ "List Controller" ],
        "summary" : "Liste paginée des dossiers législatifs",
        "description" : "Récupère les dossiers législatifs dans une liste paginée",
        "operationId" : "listDossiersLegislatifsUsingPOST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "request",
          "description" : "request",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/DossiersLegislatifsRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/DossiersLegislatifsListResponse"
            }
          },
          "201" : {
            "description" : "Created"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/list/questionsEcritesParlementaires" : {
      "post" : {
        "tags" : [ "List Controller" ],
        "summary" : "Liste paginée des questions écrites parlementaires",
        "description" : "Permet de récupérer la liste paginée des questions écrites parlementaires",
        "operationId" : "listQuestionsEcritesUsingPOST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "request",
          "description" : "request",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/QuestionsEcritesParlementairesListRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/QuestionsEcritesParlementairesListResponse"
            }
          },
          "201" : {
            "description" : "Created"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/list/conventions" : {
      "post" : {
        "tags" : [ "List Controller" ],
        "summary" : "Liste paginée des conventions",
        "description" : "Récupère les conventions dans une liste paginée",
        "operationId" : "listConventionsUsingPOST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "request",
          "description" : "request",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ConventionsListRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/ConventionsListResponse"
            }
          },
          "201" : {
            "description" : "Created"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/consult/getArticleWithIdEliOrAlias" : {
      "post" : {
        "tags" : [ "Consult Controller" ],
        "summary" : "Contenu d'un article",
        "description" : "Récupère un article par son identifiant Eli ou Alias",
        "operationId" : "getArticleWithIdEliOrAliasUsingPOST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "request",
          "description" : "request",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ArticleIdEliOrAliasRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/GetArticleResponse"
            }
          },
          "201" : {
            "description" : "Created"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/consult/ping" : {
      "get" : {
        "tags" : [ "Consult Controller" ],
        "summary" : "Teste le controller",
        "description" : "Retourne pong",
        "operationId" : "pingUsingGET_1",
        "produces" : [ "text/plain" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "type" : "string"
            }
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/consult/kaliArticle" : {
      "post" : {
        "tags" : [ "Consult Controller" ],
        "summary" : "Contenu des conventions collectives depuis un article",
        "description" : "Récupère le contenu d'un texte du fonds des conventions collectives (KALI) à partir de l'identifiant de son article",
        "operationId" : "displayKaliArticleUsingPOST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "request",
          "description" : "request",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/KaliTextConsultArticleRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/ConsultKaliTextResponse"
            }
          },
          "201" : {
            "description" : "Created"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/list/loda" : {
      "post" : {
        "tags" : [ "List Controller" ],
        "summary" : "Liste paginée des textes de type LODA",
        "description" : "Récupère les éléments de type LODA dans une liste paginée",
        "operationId" : "listLODAUsingPOST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "request",
          "description" : "Critères de pagination de la liste LODA",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/LODAListRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/LODAListResponse"
            }
          },
          "201" : {
            "description" : "Created"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/consult/sameNumArticle" : {
      "post" : {
        "tags" : [ "Consult Controller" ],
        "summary" : "Liste des articles ayant eu le même numéro",
        "description" : "Permet de récupérer les liens des articles ayant eu le même numéro que l'article en cours dans des versions précédentes du texte",
        "operationId" : "displaySameNumArticleUsingPOST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "sameNumArticleRequest",
          "description" : "sameNumArticleRequest",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/SameNumArticleRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/SectionsRevisionArticleResponse"
            }
          },
          "201" : {
            "description" : "Created"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/consult/concordanceLinksArticle" : {
      "post" : {
        "tags" : [ "Consult Controller" ],
        "summary" : "Liste des liens de concordance d'un article",
        "description" : "Permet de récupérer les liens de concordance d'un article",
        "operationId" : "displayConcordanceLinksArticleUsingPOST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "concordanceLinksRequest",
          "description" : "concordanceLinksRequest",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ConcordanceLinksRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/SectionsRevisionArticleResponse"
            }
          },
          "201" : {
            "description" : "Created"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/consult/code" : {
      "post" : {
        "tags" : [ "Consult Controller" ],
        "summary" : "Contenu texte type CODE",
        "description" : "Récupère le contenu d'un texte de type CODE à partir de son identifiant et de sa date de vigueur",
        "operationId" : "displayCodeUsingPOST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "codeConsultRequest",
          "description" : "codeConsultRequest",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CodeConsultRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/ConsultTextResponse"
            }
          },
          "201" : {
            "description" : "Created"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/search" : {
      "post" : {
        "tags" : [ "Search Controller" ],
        "summary" : "Recherche générique des documents indexés",
        "description" : "Permet de faire une recherche de documents. On peut préciser le fond, les filtres textuels, les facettes et la pagination",
        "operationId" : "searchUsingPOST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "jsonRequest",
          "description" : "jsonRequest",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/SearchRequestDTO"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/SearchResponseDTO"
            }
          },
          "201" : {
            "description" : "Created"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/list/boccTexts" : {
      "post" : {
        "tags" : [ "List Controller" ],
        "summary" : "Liste paginée des textes unitaires des bulletins officiels des conventions collectives",
        "description" : "Permet de récupérer la liste paginée des textes des bulletins officiels des conventions collectives",
        "operationId" : "listTextsBoccUsingPOST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "request",
          "description" : "request",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/BoccListRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/BoccTextsListResponse"
            }
          },
          "201" : {
            "description" : "Created"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/list/ping" : {
      "get" : {
        "tags" : [ "List Controller" ],
        "summary" : "Teste le controller",
        "description" : "Retourne pong",
        "operationId" : "pingUsingGET_3",
        "produces" : [ "text/plain" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "type" : "string"
            }
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/consult/kaliContIdcc" : {
      "post" : {
        "tags" : [ "Consult Controller" ],
        "summary" : "Contenu des conteneurs des conventions collectives",
        "description" : "Récupère le contenu d'un conteneur du fonds des conventions collectives (KALI) à partir de son idcc",
        "operationId" : "displayKaliContByIdccUsingPOST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "request",
          "description" : "request",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/KaliContConsultIdccRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/ConsultKaliContResponse"
            }
          },
          "201" : {
            "description" : "Created"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/suggest" : {
      "post" : {
        "tags" : [ "Suggest Controller" ],
        "summary" : "Suggestions de résultats",
        "description" : "Effectue les diverses suggestions sur les différents fonds à partir d'une chaine de caractères et de la liste des fonds sélectionnés",
        "operationId" : "crossSearchUsingPOST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "request",
          "description" : "request",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/SuggestSupplyRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/SuggestResponse"
            }
          },
          "201" : {
            "description" : "Created"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/consult/getArticleByCid" : {
      "post" : {
        "tags" : [ "Consult Controller" ],
        "summary" : "Contenu des versions d'un article",
        "description" : "Récupère la liste des articles par leur identifiant commun",
        "operationId" : "getArticleByCidUsingPOST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "request",
          "description" : "request",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ArticleCidRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/GetListArticleResponse"
            }
          },
          "201" : {
            "description" : "Created"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/list/bocc" : {
      "post" : {
        "tags" : [ "List Controller" ],
        "summary" : "Liste paginée des bulletins officiels des conventions collectives",
        "description" : "Permet de récupérer la liste paginée des bulletins officiels des conventions collectives",
        "operationId" : "listBoccUsingPOST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "request",
          "description" : "request",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/GlobalBoccListRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/BoccGlobalListResponse"
            }
          },
          "201" : {
            "description" : "Created"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/list/code" : {
      "post" : {
        "tags" : [ "List Controller" ],
        "summary" : "Liste paginée des codes",
        "description" : "Récupère les codes dans une liste paginée",
        "operationId" : "listCodeUsingPOST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "request",
          "description" : "request",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CodeListRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/CodeListResponse"
            }
          },
          "201" : {
            "description" : "Created"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/list/debatsParlementaires" : {
      "post" : {
        "tags" : [ "List Controller" ],
        "summary" : "Liste des débats parlementaires",
        "description" : "Permet de récupérer la liste des débats parlementaires",
        "operationId" : "listDebatsParlementairesUsingPOST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "request",
          "description" : "request",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/DebatsParlementairesListRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/DebatsParlementairesListResponse"
            }
          },
          "201" : {
            "description" : "Created"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/consult/cnil" : {
      "post" : {
        "tags" : [ "Consult Controller" ],
        "summary" : "Contenu texte fonds CNIL",
        "description" : "Récupère le contenu d'un texte du fonds CNIL à partir de son identifiant",
        "operationId" : "displayCnilUsingPOST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "request",
          "description" : "request",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CnilConsultRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/ConsultCnilTextResponse"
            }
          },
          "201" : {
            "description" : "Created"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/search/ping" : {
      "get" : {
        "tags" : [ "Search Controller" ],
        "summary" : "Teste le controller",
        "description" : "Retourne pong",
        "operationId" : "pingUsingGET_4",
        "produces" : [ "text/plain" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "type" : "string"
            }
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/chrono/textCidAndElementCid" : {
      "post" : {
        "tags" : [ "Chrono Controller" ],
        "summary" : "Extrait d'une version d'un texte",
        "description" : "Récupère un extrait (section ou article) d'une version spécifique d'un texte à partir des identifiants du texte et de l'extrait (section ou article)",
        "operationId" : "getVersionByTextCidAndElementCidUsingPOST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "request",
          "description" : "request",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ChronoLegiArticleRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/ChronolegiResponse"
            }
          },
          "201" : {
            "description" : "Created"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/suggest/ping" : {
      "get" : {
        "tags" : [ "Suggest Controller" ],
        "summary" : "Teste le controller",
        "description" : "Retourne pong",
        "operationId" : "pingUsingGET_5",
        "produces" : [ "text/plain" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "type" : "string"
            }
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/search/canonicalArticleVersion" : {
      "post" : {
        "tags" : [ "Search Controller" ],
        "summary" : "Récupération des versions de l'article",
        "description" : "Permet de récupérer les versions d'un article",
        "operationId" : "searchCanonicalArticleVersionUsingPOST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "request",
          "description" : "request",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ArticleRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/SearchCanonicalArticleVersionResponse"
            }
          },
          "201" : {
            "description" : "Created"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/search/canonicalVersion" : {
      "post" : {
        "tags" : [ "Search Controller" ],
        "summary" : "Récupération des infos de la version canonique",
        "description" : "Permet de récupérer la date de debut de la version canonique d'un texte",
        "operationId" : "searchCanonicalVersionUsingPOST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "request",
          "description" : "request",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/SearchCanonicalVersionRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/SearchCanonicalVersionResponse"
            }
          },
          "201" : {
            "description" : "Created"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/consult/jorfCont" : {
      "post" : {
        "tags" : [ "Consult Controller" ],
        "summary" : "Liste de sommaire JORF",
        "description" : "Récupère la liste de conteneurs/sommaires JORF",
        "operationId" : "displayJorfContUsingPOST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "request",
          "description" : "request",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/JorfContConsultRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/GetJosResponse"
            }
          },
          "201" : {
            "description" : "Created"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/chrono/textCid/{textCid}" : {
      "get" : {
        "tags" : [ "Chrono Controller" ],
        "summary" : "Vérifie si un texte possède des versions",
        "description" : "Indique si un texte possède des versions chrono à partir de l'identifiant du texte",
        "operationId" : "hasVersionByTextCidUsingGET",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "textCid",
          "in" : "path",
          "description" : "Chronical ID",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/HasChronolegiResponse"
            }
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/consult/dossierLegislatif" : {
      "post" : {
        "tags" : [ "Consult Controller" ],
        "summary" : "Contenu d'un dossier législatif",
        "description" : "Récupère le contenu d'un dossier legislatif par son identifiant",
        "operationId" : "displayDossierLegislatifUsingPOST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "request",
          "description" : "request",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/DossierLegislatifRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/ConsultDossierLegislatifResponse"
            }
          },
          "201" : {
            "description" : "Created"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/consult/juri" : {
      "post" : {
        "tags" : [ "Consult Controller" ],
        "summary" : "Contenu texte fonds JURI",
        "description" : "Récupère le contenu d'un texte du fonds JURI à partir de son identifiant",
        "operationId" : "displayJuriUsingPOST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "request",
          "description" : "request",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/JuriConsultRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/ConsultJuriTextResponse"
            }
          },
          "201" : {
            "description" : "Created"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/chrono/textCid" : {
      "post" : {
        "tags" : [ "Chrono Controller" ],
        "summary" : "Version d'un texte",
        "description" : "Récupère une version spécifique d'un texte à partir de l'identifiant du texte",
        "operationId" : "getVersionByTextCidUsingPOST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "request",
          "description" : "request",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ChronoLegiTextRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/ChronolegiResponse"
            }
          },
          "201" : {
            "description" : "Created"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/consult/legiPart" : {
      "post" : {
        "tags" : [ "Consult Controller" ],
        "summary" : "Contenu texte fonds LEGI",
        "description" : "Récupère le contenu d'un texte du fonds LEGI à partir de son identifiant et de sa date de vigueur",
        "operationId" : "displayLegiPartUsingPOST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "legiConsultRequest",
          "description" : "legiConsultRequest",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/LegiConsultRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/ConsultTextResponse"
            }
          },
          "201" : {
            "description" : "Created"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/consult/getJuriWithAncienId" : {
      "post" : {
        "tags" : [ "Consult Controller" ],
        "summary" : "Contenu d'un texte juri",
        "description" : "Récupère un texte du fond juri en fonction de son Ancien ID",
        "operationId" : "getJuriWithAncienIdUsingPOST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "request",
          "description" : "request",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/JuriConsultWithAncienId"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/ConsultJuriTextResponse"
            }
          },
          "201" : {
            "description" : "Created"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/misc/datesWithoutJo" : {
      "get" : {
        "tags" : [ "Misc Controller" ],
        "summary" : "Liste des dates sans JO",
        "description" : "Permet de récupérer l'ensemble des dates pour lesquelles il n'existe pas de Journal Officiel",
        "operationId" : "getDatesWithoutJoUsingGET",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/DatesWithNoJoResponse"
            }
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/consult/jorf" : {
      "post" : {
        "tags" : [ "Consult Controller" ],
        "summary" : "Contenu texte fonds JORF",
        "description" : "Récupère le contenu d'un texte du fonds JORF à partir de son identifiant",
        "operationId" : "displayJorfUsingPOST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "jorfConsultRequest",
          "description" : "jorfConsultRequest",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/JorfConsultRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/ConsultJorfResponse"
            }
          },
          "201" : {
            "description" : "Created"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/consult/getCodeWithAncienId" : {
      "post" : {
        "tags" : [ "Consult Controller" ],
        "summary" : "Contenu d'un Code",
        "description" : "Récupère un Code en fonction de son Ancien ID",
        "operationId" : "getCodeWithAncienIdUsingPOST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "request",
          "description" : "request",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CodeConsultWithAncienId"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/ConsultTextResponse"
            }
          },
          "201" : {
            "description" : "Created"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/consult/getJoWithNor" : {
      "post" : {
        "tags" : [ "Consult Controller" ],
        "summary" : "Contenu d'un JO",
        "description" : "Récupère un JO en fonction de son NOR",
        "operationId" : "getJoWithNorUsingPOST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "request",
          "description" : "request",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/JorfConsultWithNorRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/ConsultJorfResponse"
            }
          },
          "201" : {
            "description" : "Created"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/consult/lastNJo" : {
      "post" : {
        "tags" : [ "Consult Controller" ],
        "summary" : "Derniers journaux officels",
        "description" : "Récupère les derniers journaux officiels",
        "operationId" : "getLastNJoUsingPOST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "request",
          "description" : "request",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/LastNElementRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/GetJorfContResponse"
            }
          },
          "201" : {
            "description" : "Created"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/consult/kaliSection" : {
      "post" : {
        "tags" : [ "Consult Controller" ],
        "summary" : "Contenu des conventions collectives depuis une section",
        "description" : "Récupère le contenu d'un texte du fonds des conventions collectives (KALI) à partir de l'identifiant de sa section",
        "operationId" : "displayKaliSectionUsingPOST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "request",
          "description" : "request",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/KaliTextConsultSectionRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/ConsultKaliTextResponse"
            }
          },
          "201" : {
            "description" : "Created"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/consult/kaliCont" : {
      "post" : {
        "tags" : [ "Consult Controller" ],
        "summary" : "Contenu des conteneurs des conventions collectives",
        "description" : "Récupère le contenu d'un conteneur du fonds des conventions collectives (KALI) à partir de son identifiant",
        "operationId" : "displayKaliContUsingPOST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "request",
          "description" : "request",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/KaliContConsultRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/ConsultKaliContResponse"
            }
          },
          "201" : {
            "description" : "Created"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/list/legislatures" : {
      "post" : {
        "tags" : [ "List Controller" ],
        "summary" : "Liste des législatures",
        "description" : "Récupère les législatures",
        "operationId" : "listLegislaturesUsingPOST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/LegislaturesListResponse"
            }
          },
          "201" : {
            "description" : "Created"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/search/nearestVersion" : {
      "post" : {
        "tags" : [ "Search Controller" ],
        "summary" : "Récupération des infos de la version la plus proche",
        "description" : "Permet de récupérer le titre et la section de la version d'un texte la plus proche d'une date donnée",
        "operationId" : "searchNearestVersionUsingPOST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "request",
          "description" : "request",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/SearchNearestVersionRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/SearchNearestVersionResponse"
            }
          },
          "201" : {
            "description" : "Created"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/consult/code/tableMatieres" : {
      "post" : {
        "tags" : [ "Consult Controller" ],
        "summary" : "Contenu table des matières d'un CODE",
        "description" : "Récupère la table des matières d'un texte de type CODE à partir de son identifiant et de sa date de vigueur",
        "operationId" : "displayCodeTableOfContentsUsingPOST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "CodetableMatieresConsultRequest",
          "description" : "CodetableMatieresConsultRequest",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CodetableMatieresConsultRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/ConsultTextResponse"
            }
          },
          "201" : {
            "description" : "Created"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/consult/getBoccTextPdfMetadata" : {
      "post" : {
        "tags" : [ "Consult Controller" ],
        "summary" : "Métadonnées d'un PDF lié à un texte unitaire BOCC",
        "operationId" : "getBoccTextPdfMetadataUsingPOST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "request",
          "description" : "request",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/BoccConsultRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/ConsultBoccResponse"
            }
          },
          "201" : {
            "description" : "Created"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/consult/getSectionByCid" : {
      "post" : {
        "tags" : [ "Consult Controller" ],
        "summary" : "Contenu d'une section",
        "description" : "Récupère la liste des section par leur identifiant commun",
        "operationId" : "getSectionByCidUsingPOST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "request",
          "description" : "request",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/SectionCidRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/GetListSectionResponse"
            }
          },
          "201" : {
            "description" : "Created"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/consult/debat" : {
      "post" : {
        "tags" : [ "Consult Controller" ],
        "summary" : "Contenu d'un débat parlementaire",
        "description" : "Récupère le contenu d'un débat parlementaire à partir de son identifiant",
        "operationId" : "displayDebatUsingPOST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "request",
          "description" : "request",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/DebatParlementaireConsultRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/ConsultDebatResponse"
            }
          },
          "201" : {
            "description" : "Created"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/chrono/ping" : {
      "get" : {
        "tags" : [ "Chrono Controller" ],
        "summary" : "Teste le controller",
        "description" : "Retourne pong",
        "operationId" : "pingUsingGET",
        "produces" : [ "text/plain" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "type" : "string"
            }
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/consult/kaliText" : {
      "post" : {
        "tags" : [ "Consult Controller" ],
        "summary" : "Contenu des conventions collectives",
        "description" : "Récupère le contenu d'un texte du fonds des conventions collectives (KALI) à partir de son identifiant",
        "operationId" : "displayKaliTextUsingPOST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "request",
          "description" : "request",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/KaliTextConsultRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/ConsultKaliTextResponse"
            }
          },
          "201" : {
            "description" : "Created"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/consult/getArticle" : {
      "post" : {
        "tags" : [ "Consult Controller" ],
        "summary" : "Contenu d'un article",
        "description" : "Récupère un article par son identifiant",
        "operationId" : "getArticleUsingPOST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "articleRequest",
          "description" : "articleRequest",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ArticleRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/GetArticleResponse"
            }
          },
          "201" : {
            "description" : "Created"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/consult/lawDecree" : {
      "post" : {
        "tags" : [ "Consult Controller" ],
        "summary" : "Contenu texte type LODA",
        "description" : "Récupère le contenu d'un texte de type LODA à partir de son identifiant et de sa date de vigueur",
        "operationId" : "displayLawDecreeUsingPOST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "lawDecreeConsultRequest",
          "description" : "lawDecreeConsultRequest",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/LawDecreeConsultRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/ConsultTextResponse"
            }
          },
          "201" : {
            "description" : "Created"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/consult/getArticleWithIdAndNum" : {
      "post" : {
        "tags" : [ "Consult Controller" ],
        "summary" : "Contenu d'un Article",
        "description" : "Récupère un Article en fonction de son  ID et Numéro article",
        "operationId" : "getArticleWithIdAndNumUsingPOST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "request",
          "description" : "request",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ArticleConsultWithIdAndNum"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/GetArticleResponse"
            }
          },
          "201" : {
            "description" : "Created"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/consult/eliAndAliasRedirectionTexte" : {
      "post" : {
        "tags" : [ "Consult Controller" ],
        "summary" : "Contenu des textes du JO.",
        "description" : "Récupère le contenu d'un texte du fonds JORF à partir de son idEli ou idEliAlias",
        "operationId" : "getJoCidWithEliOrAliasUsingPOST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "jorfConsultWithIdEliAliasRequest",
          "description" : "jorfConsultWithIdEliAliasRequest",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/JorfConsultWithIdEliAliasRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/ConsultJorfResponse"
            }
          },
          "201" : {
            "description" : "Created"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/misc/yearsWithoutTable" : {
      "get" : {
        "tags" : [ "Misc Controller" ],
        "summary" : "Liste des années sans table",
        "description" : "Permet de récupérer l'ensemble des années sans table annuelle",
        "operationId" : "getYearsWithoutTableUsingGET",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/YearsWithNoTableResponse"
            }
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/consult/acco" : {
      "post" : {
        "tags" : [ "Consult Controller" ],
        "summary" : "Contenu d'un accord d'entreprise",
        "description" : "Récupère le contenu d'un accord d'entreprise à partir de son identifiant",
        "operationId" : "displayAccoUsingPOST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "request",
          "description" : "request",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/AccoConsultRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/ConsultAccoResponse"
            }
          },
          "201" : {
            "description" : "Created"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/consult/jorfPart" : {
      "post" : {
        "tags" : [ "Consult Controller" ],
        "summary" : "Contenu texte fonds JORF",
        "description" : "Récupère le contenu d'un texte du fonds JORF à partir de l'identifiant d'une de ses sections ou articles",
        "operationId" : "displayJorfPartUsingPOST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "request",
          "description" : "request",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/JorfConsultRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/ConsultJorfResponse"
            }
          },
          "201" : {
            "description" : "Created"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/consult/relatedLinksArticle" : {
      "post" : {
        "tags" : [ "Consult Controller" ],
        "summary" : "Liste des liens relatifs d'un article",
        "description" : "Permet de récupérer les liens relatifs d'un article donné",
        "operationId" : "displayRelatedLinksArticleUsingPOST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "relatedLinksArticleRequest",
          "description" : "relatedLinksArticleRequest",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/RelatedLinksArticleRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/RelatedLinksArticleResponse"
            }
          },
          "201" : {
            "description" : "Created"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/consult/circulaire" : {
      "post" : {
        "tags" : [ "Consult Controller" ],
        "summary" : "Contenu d'une circualire",
        "description" : "Récupère le contenu d'une circulaire à partir de son identifiant",
        "operationId" : "displayCirculaireUsingPOST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "request",
          "description" : "request",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CirculaireConsultRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/ConsultCirculaireResponse"
            }
          },
          "201" : {
            "description" : "Created"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "OAuthImplicit" : {
      "description" : "OAuth",
      "type" : "oauth2",
      "authorizationUrl" : "https://sandbox-oauth.piste.gouv.fr/api/oauth/authorize",
      "flow" : "implicit",
      "scopes" : {
        "openid" : ""
      }
    },
    "OAuthAccessCode" : {
      "description" : "OAuth",
      "type" : "oauth2",
      "authorizationUrl" : "https://sandbox-oauth.piste.gouv.fr/api/oauth/authorize",
      "tokenUrl" : "https://sandbox-oauth.piste.gouv.fr/api/oauth/token",
      "flow" : "accessCode",
      "scopes" : {
        "openid" : ""
      }
    }
  },
  "definitions" : {
    "KaliTextConsultArticleRequest" : {
      "type" : "object",
      "required" : [ "id" ],
      "properties" : {
        "id" : {
          "type" : "string",
          "example" : "KALIARTI000005833238",
          "description" : "Identifiant du texte ou d'un de ses éléments enfants (section/article)"
        }
      },
      "title" : "KaliTextConsultArticleRequest",
      "description" : "Requête de consultation d'un texte d'une convention collective"
    },
    "SuggestRequest" : {
      "type" : "object",
      "properties" : {
        "searchText" : {
          "type" : "string",
          "example" : "mariage",
          "description" : "Texte à rechercher"
        }
      },
      "title" : "SuggestRequest",
      "description" : "Requête de suggestion d'une recherche textuelle"
    },
    "DossierResult" : {
      "type" : "object",
      "properties" : {
        "idTexte" : {
          "type" : "string",
          "example" : "JORFTEXT000037882341",
          "description" : "Identifiant du texte"
        },
        "libelleTexte" : {
          "type" : "string",
          "example" : "LOI n° 2018-1317 du 28 décembre 2018 de finances pour 2019",
          "description" : "Titre du texte"
        }
      },
      "title" : "DossierResult",
      "description" : "Objet représentant un dossier"
    },
    "GetArticleResponse" : {
      "type" : "object",
      "properties" : {
        "article" : {
          "description" : "Détail de l'article",
          "$ref" : "#/definitions/Article"
        },
        "dereferenced" : {
          "type" : "boolean",
          "example" : true,
          "description" : "Identifie si le contenu est référençable par les robots d'indexation"
        },
        "executionTime" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Temps d'exécution"
        }
      },
      "title" : "GetArticleResponse",
      "description" : "réponse de consultation d'un article"
    },
    "ModificateurDTO" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string",
          "example" : "LEGIARTI000006687518",
          "description" : "Identifiant"
        },
        "idParent" : {
          "type" : "string",
          "description" : "Identifiant de l'élément parent du modificateur (texte/section ...)"
        },
        "idText" : {
          "type" : "string",
          "example" : "LEGITEXT000006072665",
          "description" : "Identifiant du texte du modificateur"
        },
        "name" : {
          "type" : "string",
          "example" : "Code de la santé publique - art. L2211-1 (V)",
          "description" : "Titre du modificateur"
        },
        "nature" : {
          "type" : "string",
          "example" : "CODE",
          "description" : "Nature",
          "enum" : [ "LODA", "JORF", "CODE", "KALI", "JORFCONT" ]
        }
      },
      "title" : "ModificateurDTO",
      "description" : "Objet représentant un modificateur"
    },
    "Legislature" : {
      "type" : "object",
      "properties" : {
        "dateDebut" : {
          "type" : "string",
          "format" : "date-time",
          "example" : "1340668800000",
          "description" : "Date de début"
        },
        "dateFin" : {
          "type" : "string",
          "format" : "date-time",
          "example" : "1498435200000",
          "description" : "Date de fin"
        },
        "id" : {
          "type" : "string",
          "example" : "14",
          "description" : "Identifiant"
        },
        "libelle" : {
          "type" : "string",
          "example" : "XIVème législature",
          "description" : "libellé"
        }
      },
      "title" : "Legislature",
      "description" : "Objet représentant une législature"
    },
    "QuestionsEcritesParlementairesListResponse" : {
      "type" : "object",
      "properties" : {
        "displaySize" : {
          "type" : "string",
          "example" : "45,24 Ko",
          "description" : "Taille du fichier avec son unité"
        },
        "executionTime" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Temps d'exécution"
        },
        "results" : {
          "type" : "array",
          "description" : "Liste des résultats de la page",
          "items" : {
            "$ref" : "#/definitions/EsQuestionsEcritesParlementaires"
          }
        },
        "totalResultNumber" : {
          "type" : "integer",
          "format" : "int64",
          "example" : 20,
          "description" : "Nombre total de résultats"
        },
        "typesParlement" : {
          "description" : "Facette listant les types de parlement (Assemblée ou Sénat)",
          "$ref" : "#/definitions/Facet"
        }
      },
      "title" : "QuestionsEcritesParlementairesListResponse",
      "description" : "Résultat d'une requête pour lister les questions écrites parlementaires."
    },
    "LODAListResponse" : {
      "type" : "object",
      "properties" : {
        "executionTime" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Temps d'exécution"
        },
        "legalStatus" : {
          "description" : "Facette listant les différents états juridiques",
          "$ref" : "#/definitions/Facet"
        },
        "natures" : {
          "description" : "Facette listant les différentes natures de texte",
          "$ref" : "#/definitions/Facet"
        },
        "results" : {
          "type" : "array",
          "description" : "Liste des résultats de la page",
          "items" : {
            "$ref" : "#/definitions/LODAListResult"
          }
        },
        "totalResultNumber" : {
          "type" : "integer",
          "format" : "int64",
          "example" : 12,
          "description" : "Nombre de résultats"
        }
      },
      "title" : "LODAListResponse",
      "description" : "Résultat d'une requête paginée pour lister les textes Lois, Décrets, Arrêtés"
    },
    "SearchResponseDTO" : {
      "type" : "object",
      "properties" : {
        "executionTime" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Temps d'exécution"
        },
        "facets" : {
          "type" : "array",
          "description" : "Liste des facettes liées",
          "items" : {
            "$ref" : "#/definitions/Facet"
          }
        },
        "results" : {
          "type" : "array",
          "description" : "Liste des résultats de la page",
          "items" : {
            "$ref" : "#/definitions/SearchResult"
          }
        },
        "totalResultNumber" : {
          "type" : "integer",
          "format" : "int64",
          "example" : 1560,
          "description" : "Nombre de résultats"
        },
        "typePagination" : {
          "type" : "string",
          "example" : "DEFAULT",
          "description" : "Type de pagination. Spécifique pour les recherches dans les articles d'un texte spécifique, dans les autres cas la valeur sera toujours DEFAULT.",
          "enum" : [ "DEFAUT", "ARTICLE" ]
        }
      },
      "title" : "SearchResponseDTO",
      "description" : "Page des résultats demandée lors d'une recherche paginée"
    },
    "GetJorfContResponse" : {
      "type" : "object",
      "properties" : {
        "containers" : {
          "type" : "array",
          "description" : "Liste des N derniers conteneurs",
          "items" : {
            "$ref" : "#/definitions/Conteneur"
          }
        },
        "executionTime" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Temps d'exécution"
        },
        "totalNbResult" : {
          "type" : "integer",
          "format" : "int64",
          "example" : 5,
          "description" : "Nombre de résultats"
        }
      },
      "title" : "GetJorfContResponse",
      "description" : "Réponse à une requête de N derniers JO"
    },
    "DebatsParlementairesListRequest" : {
      "type" : "object",
      "required" : [ "pageNumber", "pageSize" ],
      "properties" : {
        "dateParution" : {
          "type" : "string",
          "example" : "01/01/2020 > 31/01/2020"
        },
        "pageNumber" : {
          "type" : "integer",
          "format" : "int32",
          "example" : 1,
          "description" : "Numéro de la page à consulter"
        },
        "pageSize" : {
          "type" : "integer",
          "format" : "int32",
          "example" : 10,
          "description" : "Nombre de résultats par page (max 100)"
        },
        "sortValue" : {
          "type" : "string",
          "example" : "DEBAT_PARLEMENTAIRE_DESC"
        },
        "typesPublication" : {
          "type" : "array",
          "items" : {
            "type" : "string",
            "example" : "AN"
          }
        }
      },
      "title" : "DebatsParlementairesListRequest"
    },
    "RelatedLinksArticleRequest" : {
      "type" : "object",
      "required" : [ "articleId" ],
      "properties" : {
        "articleId" : {
          "type" : "string",
          "example" : "LEGIARTI000032207188",
          "description" : "Identifiant de l'article"
        }
      },
      "title" : "RelatedLinksArticleRequest",
      "description" : "requête de récupération des liens de citation d'un article"
    },
    "ConsultKaliTextResponse" : {
      "type" : "object",
      "properties" : {
        "alias" : {
          "type" : "string",
          "description" : "Alias"
        },
        "articles" : {
          "type" : "array",
          "description" : "Liste des articles racine du texte. La liste est ordonnée",
          "items" : {
            "$ref" : "#/definitions/ConsultArticle"
          }
        },
        "cid" : {
          "type" : "string",
          "example" : "JORFTEXT000000882738",
          "description" : "Chronical ID du texte"
        },
        "codesNomenclature" : {
          "type" : "array",
          "description" : "Liste des codes de nomenclature",
          "items" : {
            "type" : "string"
          }
        },
        "conditionDiffere" : {
          "type" : "string",
          "description" : "Condition différée"
        },
        "conteneurs" : {
          "type" : "array",
          "description" : "Liste des conteneurs du texte",
          "items" : {
            "$ref" : "#/definitions/Conteneur"
          }
        },
        "dateDebutVersion" : {
          "type" : "string",
          "description" : "Date de début de la version"
        },
        "dateFinVersion" : {
          "type" : "string",
          "description" : "Date de fin de la version"
        },
        "dateParution" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "Date de parution"
        },
        "dereferenced" : {
          "type" : "boolean",
          "example" : true,
          "description" : "Identifie si le contenu est référençable par les robots d'indexation"
        },
        "dossiersLegislatifs" : {
          "type" : "array",
          "description" : "Liste des dossiers legislatifs",
          "items" : {
            "$ref" : "#/definitions/DossierLegislatif"
          }
        },
        "eli" : {
          "type" : "string",
          "example" : "/eli/arrete/2019/1/18/TREK1901124A/jo/texte",
          "description" : "identifiant européen de la ‎législation ou European Legislation Identifier"
        },
        "etat" : {
          "type" : "string",
          "description" : "Etat du texte"
        },
        "executionTime" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Temps d'exécution"
        },
        "fileName" : {
          "type" : "string"
        },
        "filePath" : {
          "type" : "string"
        },
        "fileSize" : {
          "type" : "string"
        },
        "id" : {
          "type" : "string",
          "example" : "LEGITEXT000006070994_01-08-2016",
          "description" : "Identifiant du texte"
        },
        "idConteneur" : {
          "type" : "string",
          "description" : "Identifiant du conteneur du texte lorsqu'il en existe un."
        },
        "inap" : {
          "type" : "boolean",
          "description" : "INAP"
        },
        "jorfText" : {
          "type" : "string",
          "description" : "Titre du texte correspondant"
        },
        "jurisDate" : {
          "type" : "string",
          "description" : "Date d'état juridique"
        },
        "jurisState" : {
          "type" : "string",
          "description" : "Etat juridique du texte"
        },
        "libelleElargissement" : {
          "type" : "string"
        },
        "libelleExtension" : {
          "type" : "string"
        },
        "liens" : {
          "type" : "array",
          "description" : "Liens",
          "items" : {
            "$ref" : "#/definitions/TexteLien"
          }
        },
        "modifDate" : {
          "type" : "string",
          "description" : "Date de modification"
        },
        "motsCles" : {
          "type" : "array",
          "example" : [ "LIEN FAMILIAL", "CENTRES SOCIAUX" ],
          "description" : "Liste des mots clés",
          "items" : {
            "type" : "string"
          }
        },
        "nature" : {
          "type" : "string",
          "description" : "Nature"
        },
        "nor" : {
          "type" : "string",
          "example" : "NCCX8900064L",
          "description" : "Numéro NOR"
        },
        "nota" : {
          "type" : "string",
          "description" : "Nota"
        },
        "notice" : {
          "type" : "string",
          "description" : "Notice"
        },
        "numParution" : {
          "type" : "string",
          "description" : "Numéro de parution"
        },
        "numeroBo" : {
          "type" : "string",
          "description" : "Numéro Bulletin Officiel"
        },
        "observations" : {
          "type" : "string",
          "description" : "Observations"
        },
        "originePubli" : {
          "type" : "string",
          "description" : "Origine de la publication"
        },
        "prepWork" : {
          "type" : "string",
          "description" : "Travaux préparatoires"
        },
        "rectificatif" : {
          "type" : "string",
          "description" : "Rectificatif"
        },
        "resume" : {
          "type" : "string",
          "description" : "Résumé"
        },
        "sections" : {
          "type" : "array",
          "description" : "Liste des sections de premier niveau du texte. La liste est ordonnée",
          "items" : {
            "$ref" : "#/definitions/ConsultSection"
          }
        },
        "signataires" : {
          "description" : "Signataire",
          "$ref" : "#/definitions/SignataireKali"
        },
        "signers" : {
          "type" : "string",
          "description" : "Signataires"
        },
        "textAbroge" : {
          "type" : "boolean",
          "description" : "Indique si le texte est abrogé"
        },
        "textNumber" : {
          "type" : "string",
          "description" : "Numéro de texte"
        },
        "title" : {
          "type" : "string",
          "example" : "Loi contenant organisation du notariat (loi 25 ventôse an XI)",
          "description" : "Titre du texte"
        },
        "typeTexte" : {
          "type" : "string",
          "example" : "TEXTE_BASE",
          "description" : "Type de texte"
        },
        "versionLabel" : {
          "type" : "string"
        },
        "visa" : {
          "type" : "string",
          "description" : "Visas"
        }
      },
      "title" : "ConsultKaliTextResponse",
      "description" : "Réponse à une requête de consultation d'un texte d'une convention collective"
    },
    "EsQuestionsEcritesParlementaires" : {
      "type" : "object",
      "properties" : {
        "dateParution" : {
          "type" : "string",
          "format" : "date-time"
        },
        "displaySize" : {
          "type" : "string"
        },
        "emetteur" : {
          "type" : "string"
        },
        "id" : {
          "type" : "string"
        },
        "idTechInjection" : {
          "type" : "string"
        },
        "numeroParution" : {
          "type" : "string"
        },
        "origine" : {
          "type" : "string"
        },
        "pathToFile" : {
          "type" : "string"
        },
        "pdfName" : {
          "type" : "string"
        },
        "refInjection" : {
          "type" : "string"
        },
        "url" : {
          "type" : "string"
        }
      },
      "title" : "EsQuestionsEcritesParlementaires"
    },
    "HasChronolegiResponse" : {
      "type" : "object",
      "properties" : {
        "chronolegiExists" : {
          "type" : "boolean",
          "example" : true,
          "description" : "Indique si un versionning existe"
        },
        "executionTime" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Temps d'exécution"
        }
      },
      "title" : "HasChronolegiResponse",
      "description" : "Réponse indiquant s'il existe un chronolegi (plusieurs versions) pour le texte."
    },
    "TexteSimple" : {
      "type" : "object",
      "properties" : {
        "ancienId" : {
          "type" : "string"
        },
        "annePublicationBulletin" : {
          "type" : "string",
          "description" : "Année de publication au bulletin"
        },
        "appliGeo" : {
          "type" : "string",
          "example" : "NATIONAL",
          "description" : "Portée géographique"
        },
        "autorite" : {
          "type" : "string",
          "description" : "Autorité"
        },
        "avocatGl" : {
          "type" : "string",
          "description" : "Avocat général"
        },
        "avocats" : {
          "type" : "string",
          "description" : "Avocats"
        },
        "cid" : {
          "type" : "string",
          "description" : "Chronical ID du texte"
        },
        "citationJp" : {
          "type" : "string",
          "description" : "Citations jurisprudentielles"
        },
        "citationJpHtml" : {
          "type" : "string",
          "description" : "Texte HTML des citations jurisprudentielles"
        },
        "codesNomenclatures" : {
          "type" : "array",
          "description" : "Liste des codes de nomenclature",
          "items" : {
            "type" : "string"
          }
        },
        "commissaire" : {
          "type" : "string",
          "description" : "Commissaire"
        },
        "conditionDiffere" : {
          "type" : "string",
          "example" : "Le présent avenant entrera en vigueur le premier jour du mois suivant la date de parution du Journal officiel de son arrêté d'extension.",
          "description" : "Condition de différé"
        },
        "conteneurs" : {
          "type" : "array",
          "description" : "Liste des conteneurs",
          "items" : {
            "$ref" : "#/definitions/Conteneur"
          }
        },
        "dateDebut" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "Date de début"
        },
        "dateDerniereModif" : {
          "type" : "string",
          "format" : "date-time",
          "example" : "1546819200000",
          "description" : "Date de dernière modification"
        },
        "dateFin" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "Date de fin"
        },
        "dateJo" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "Date du JO"
        },
        "dateLoiDef" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "Date de signature de la loi déférée"
        },
        "datePubli" : {
          "type" : "string",
          "format" : "date-time",
          "example" : "1546819200000",
          "description" : "Date de publication"
        },
        "datePubliComputed" : {
          "type" : "string",
          "format" : "date-time",
          "example" : "1546819200000",
          "description" : "Date de publication si la date est valide, vide autrement (elle vaut null si la date du texte est null ou >= 2222-01-01)"
        },
        "dateTexte" : {
          "type" : "string",
          "format" : "date-time",
          "example" : "1546819200000",
          "description" : "Date du texte"
        },
        "dateTexteComputed" : {
          "type" : "string",
          "format" : "date-time",
          "example" : "1546819200000",
          "description" : "Date du texte si la date est valide, vide autrement (elle vaut null si la date du texte est null ou >= 2222-01-01)"
        },
        "dateVersement" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "Date de versement"
        },
        "decisionAttaquee" : {
          "description" : "Décision attaquée",
          "$ref" : "#/definitions/DecisionAttaquee"
        },
        "demandeur" : {
          "type" : "string",
          "description" : "Demandeur du texte"
        },
        "dossiersLegislatifs" : {
          "type" : "array",
          "description" : "Liste des dossiers législatifs",
          "items" : {
            "$ref" : "#/definitions/DossierLegislatif"
          }
        },
        "ecli" : {
          "type" : "string",
          "description" : "ECLI"
        },
        "emetteur" : {
          "type" : "string",
          "description" : "Emetteur"
        },
        "etat" : {
          "type" : "string",
          "description" : "Etat juridique"
        },
        "formation" : {
          "type" : "string",
          "example" : "JX",
          "description" : "formation"
        },
        "id" : {
          "type" : "string",
          "example" : "JURITEXT000037999394",
          "description" : "Identifiant du texte"
        },
        "idConteneur" : {
          "type" : "string",
          "description" : "Identifiant du conteneur"
        },
        "idEli" : {
          "type" : "string",
          "description" : "Lien ELI"
        },
        "idEliAlias" : {
          "type" : "string",
          "description" : "Alias ELI"
        },
        "idTechInjection" : {
          "type" : "string",
          "description" : "Identifiant technique permettant le suivi d'injection du mode delta"
        },
        "idTexteJo" : {
          "type" : "string",
          "description" : "Identifiant du JO"
        },
        "inap" : {
          "type" : "boolean",
          "description" : "INAP"
        },
        "juridiction" : {
          "type" : "string",
          "example" : "Cour d'appel de Nancy",
          "description" : "Juridiction"
        },
        "juridictionJudiciaire" : {
          "type" : "string",
          "example" : "Juridictions d'appel",
          "description" : "Juridiction judiciaire"
        },
        "lienJo" : {
          "type" : "string",
          "description" : "Lien vers le JO"
        },
        "liens" : {
          "type" : "array",
          "description" : "Liste de liens vers d'autres textes",
          "items" : {
            "$ref" : "#/definitions/TexteLien"
          }
        },
        "ministere" : {
          "type" : "string",
          "description" : "Ministere"
        },
        "motsCles" : {
          "type" : "array",
          "description" : "Liste des mots clés",
          "items" : {
            "type" : "string"
          }
        },
        "nature" : {
          "type" : "string",
          "example" : "ARRET",
          "description" : "Nature du texte"
        },
        "natureDelib" : {
          "type" : "string",
          "example" : "AUTORISATION DE TRANSFERTS",
          "description" : "Nature de la délibération"
        },
        "natureJuridiction" : {
          "type" : "string",
          "example" : "Cour d'appel",
          "description" : "Nature de la juridiction"
        },
        "natureNumero" : {
          "type" : "string"
        },
        "natureQualifiee" : {
          "type" : "string",
          "description" : "Nature qualifiée"
        },
        "nor" : {
          "type" : "string",
          "description" : "Numéro NOR"
        },
        "nota" : {
          "type" : "string",
          "description" : "Notas"
        },
        "notaHtml" : {
          "type" : "string",
          "description" : "Texte HTML des notas"
        },
        "notice" : {
          "type" : "string",
          "description" : "Notice"
        },
        "noticeHtml" : {
          "type" : "string",
          "description" : "Texte HTML de la notice"
        },
        "num" : {
          "type" : "string",
          "description" : "Numéro du texte"
        },
        "numJo" : {
          "type" : "string",
          "description" : "Numéro du JO"
        },
        "numLoiDef" : {
          "type" : "string",
          "example" : "2001-419",
          "description" : "Numéro de la loi déférée"
        },
        "numParution" : {
          "type" : "string",
          "description" : "Numéro de parution"
        },
        "numTexteJo" : {
          "type" : "string",
          "description" : "Numéro du texte JO"
        },
        "numeroAffaire" : {
          "type" : "array",
          "example" : [ "17/030701", "17/030702" ],
          "description" : "Liste des numéros d'affaire",
          "items" : {
            "type" : "string"
          }
        },
        "numeroBo" : {
          "type" : "string",
          "description" : "Numéro BO"
        },
        "numeroPublicationBulletin" : {
          "type" : "string",
          "description" : "Numéro de publication au bulletin"
        },
        "numsequence" : {
          "type" : "string",
          "description" : "Numéro de séquence"
        },
        "observations" : {
          "type" : "string",
          "description" : "Observations d'une directive européenne"
        },
        "origine" : {
          "type" : "string",
          "example" : "JURI",
          "description" : "Origine du texte"
        },
        "originePubli" : {
          "type" : "string",
          "description" : "Origine de la publication"
        },
        "president" : {
          "type" : "string",
          "description" : "Président"
        },
        "provenance" : {
          "type" : "string",
          "example" : "CAPP",
          "description" : "provenance"
        },
        "publicationRecueil" : {
          "type" : "string",
          "example" : "C",
          "description" : "Indique la publication au recueil Lebon"
        },
        "rapporteur" : {
          "type" : "string",
          "description" : "Rapporteur"
        },
        "rectificatif" : {
          "type" : "string",
          "description" : "Rectificatif d'une directive européenne"
        },
        "refInjection" : {
          "type" : "string",
          "description" : "référence permettant le suivi d'injection du mode delta"
        },
        "relevantDate" : {
          "type" : "string",
          "format" : "date-time",
          "example" : "1546819200000",
          "description" : "Contient la date du texte si elle existe (!= null && != 2999-01-01) sinon contient la date de publication  pour les texte"
        },
        "resume" : {
          "type" : "string",
          "description" : "Résumé d'une directive européenne"
        },
        "resumeHtml" : {
          "type" : "string",
          "description" : "Texte HTML des résumés de directive européenne"
        },
        "siegeAppel" : {
          "type" : "string",
          "example" : "NANCY",
          "description" : "Siège d'appel"
        },
        "signataireKali" : {
          "description" : "Signataire convention collective",
          "$ref" : "#/definitions/SignataireKali"
        },
        "signataires" : {
          "type" : "string",
          "description" : "Signataires"
        },
        "signatairesHtml" : {
          "type" : "string",
          "description" : "Texte HTML des signataires"
        },
        "solution" : {
          "type" : "string",
          "description" : "Solution"
        },
        "sommaire" : {
          "type" : "array",
          "description" : "Liste des éléments de sommaire",
          "items" : {
            "$ref" : "#/definitions/TexteSommaire"
          }
        },
        "texte" : {
          "type" : "string",
          "description" : "Contenu du texte"
        },
        "texteHtml" : {
          "type" : "string",
          "description" : "Texte au format HTML"
        },
        "titre" : {
          "type" : "string",
          "description" : "Titre du texte"
        },
        "titreJo" : {
          "type" : "string",
          "description" : "Titre du JO lié"
        },
        "titreLoiDef" : {
          "type" : "string",
          "description" : "Titre de la loi déférée"
        },
        "titreLong" : {
          "type" : "string",
          "description" : "Titre long du texte"
        },
        "travauxPreparatoires" : {
          "type" : "string",
          "description" : "Travaux préparatoires"
        },
        "travauxPreparatoiresHtml" : {
[...]
