{
    "openapi": "3.0.0",
    "info": {
        "title": "CVEC",
        "description": "API controle des attestations",
        "version": "4.1.24"
    },
    "paths": {
        "/api/attestation/{code}": {
            "get": {
                "parameters": [
                    {
                        "name": "code",
                        "in": "path",
                        "description": "n°attestation + 5 premières lettres du nom de l'étudiant",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Contient l'attestation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CertificateDto"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "L'attestation n'a pas été trouvée.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CertificateErrorDto"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Le paramètre code est manquant.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CertificateErrorDto"
                                }
                            }
                        }
                    }
                }
            },
            "servers": [
                {
                    "url": "https://cvec-ctrl.etudiant.gouv.fr|cve-controle-prod.nuonet.fr|cve-2020-controle-prod.nuonet.fr"
                }
            ]
        }
    },
    "components": {
        "schemas": {
            "CertificateErrorDto": {
                "properties": {
                    "code": {
                        "type": "string"
                    },
                    "message": {
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "GrantNotificationErrorDto": {
                "properties": {
                    "code": {
                        "type": "string"
                    },
                    "libelle": {
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "CertificateDto": {
                "properties": {
                    "nom": {
                        "type": "string"
                    },
                    "prenom": {
                        "type": "string"
                    },
                    "sexe": {
                        "type": "string"
                    },
                    "dateNaissance": {
                        "type": "string"
                    },
                    "ine": {
                        "type": "string"
                    },
                    "crous": {
                        "type": "string"
                    },
                    "etat": {
                        "$ref": "#/components/schemas/StateDto"
                    },
                    "exoneration": {
                        "$ref": "#/components/schemas/ExonerationDto"
                    }
                },
                "type": "object"
            },
            "StateDto": {
                "properties": {
                    "code": {
                        "type": "string"
                    },
                    "libelle": {
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "ExonerationDto": {
                "properties": {
                    "active": {
                        "type": "boolean"
                    },
                    "motif": {
                        "type": "string"
                    }
                },
                "type": "object"
            }
        },
        "securitySchemes": {
            "Bearer": {
                "type": "http",
                "scheme": "bearer"
            }
        }
    }
}