/*
 * DSFR v1.0.0-rc1.0 | restricted use
 */
@charset "UTF-8";

/* ------------------------------------ *\
  CHECKBOXES
\* ------------------------------------ */

/**
 * L'input de type checkbox avec son label est contenu dans un groupe
 * Ce groupe contient également les textes de validation, d'erreur et d'aide (optionnels)
 */

.fr-checkbox-group {
  position: relative;
  /**
   * On cache l'input de type checkbox pour le styler via le label
   *//**
   * Dans le cas d'un fieldset, on supprime l'espacement du premier groupe
   *//**
   * Dans le cas d'un fieldset, on supprime l'espacement du dernier groupe
   *//**
   * Texte de validation et d'erreur
   *//**
   * Modificateur de taille sm
   *//**
   * Modificateur pour gérer l'état erreur
   *//**
   * Modificateur pour gérer l'état validé
   */
}

.fr-checkbox-group input[type="checkbox" i] {
  position: absolute;
  opacity: 0;
  /**
     * On applique un display grid sur le label afin de gérer le positionnement des élements
     */
}

.fr-checkbox-group input[type="checkbox" i] + label {
  position: relative;
  padding: 0.75rem 0;
  -webkit-tap-highlight-color: transparent;
  display: grid;
  display: -ms-grid;
  grid-row: 1;
  -ms-grid-row: 2;
  grid-column: 2;
  -ms-grid-column: 2;
  align-items: center;
  -ms-align-items: center;
  grid-template-columns: 1fr 2rem;
  -ms-grid-columns: 1fr 2rem;
  text-align: left;
  direction: rtl;
  /**
       * On ajoute l'icône check-line en taille sm via un pseudo element before
       *//**
       * Positionnement du texte d'aide
       */
}

.fr-checkbox-group input[type="checkbox" i] + label::before {
  font-family: icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.fr-checkbox-group input[type="checkbox" i] + label::before {
  font-size: 1rem;
  content: "";
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  border-radius: 0.25rem;
  grid-row: 1;
  -ms-grid-row: 1;
  grid-column: 2;
  -ms-grid-column: 2;
  -ms-align-items: center;
  transition: background-color 0.1s, color 0.1s;
}

.fr-checkbox-group input[type="checkbox" i] + label .fr-hint-text {
  margin: 0;
  grid-row: 2;
  grid-column: 1;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.fr-checkbox-group:first-child {
  margin-top: -0.75rem;
}

.fr-checkbox-group:last-child {
  margin-bottom: -0.75rem;
}

.fr-checkbox-group .fr-error-text, .fr-checkbox-group .fr-valid-text {
  margin-top: 0.25rem;
}

.fr-checkbox-group--sm input[type="checkbox" i] + label::before {
  width: 1rem;
  height: 1rem;
}

.fr-checkbox-group--sm input[type="checkbox" i] + label::after {
  left: 0;
}

.fr-checkbox-group--error input[type="checkbox" i] + label {
  color: var(--error);
}

.fr-checkbox-group--error::before {
  content: "";
  position: absolute;
  top: 0.75rem;
  left: -0.5rem;
  width: 2px;
  height: 1.5rem;
  background-color: var(--error);
}

.fr-checkbox-group--valid input[type="checkbox" i] + label {
  color: var(--success);
}

.fr-checkbox-group--valid::before {
  content: "";
  position: absolute;
  top: 0.75rem;
  left: -0.5rem;
  width: 2px;
  height: 1.5rem;
  background-color: var(--success);
}

/**
 * L'input de type checkbox avec son label est contenu dans un groupe
 * Ce groupe contient également les textes de validation, d'erreur et d'aide (optionnels)
 */

.fr-checkbox-group {
  /**
   * On cache l'input de type checkbox pour le styler via le label
   *//**
   * Modificateur pour gérer l'état erreur
   *//**
   * Modificateur pour gérer l'état validé
   */
}

.fr-checkbox-group input[type="checkbox" i] {
  /**
     * On applique les styles au pseudo élément before du label quand l'input présente
     * un état check ou active
     *//**
    * Mixins pour appliquer les styles correspondant au focus ainsi qu'à l'état disabled
    */
}

.fr-checkbox-group input[type="checkbox" i] + label::before {
  border: 1px solid var(--g800);
  color: var(--t-plain);
}

.fr-checkbox-group input[type="checkbox" i]:checked + label::before,
.fr-checkbox-group input[type="checkbox" i]:active + label::before {
  background-color: var(--bf500);
  color: var(--g100);
}

.fr-checkbox-group input[type="checkbox" i][disabled] + label,
.fr-checkbox-group input[type="checkbox" i]:disabled + label {
  color: var(--g600-g400);
}

.fr-checkbox-group input[type="checkbox" i][disabled] + label::before,
.fr-checkbox-group input[type="checkbox" i]:disabled + label::before {
  background-color: var(--g200);
  border: 1px solid var(--g400);
}

.fr-checkbox-group--error input[type="checkbox" i] + label {
  color: var(--error);
}

.fr-checkbox-group--error::before {
  background-color: var(--error);
}

.fr-checkbox-group--valid input[type="checkbox" i] + label {
  color: var(--success);
}

.fr-checkbox-group--valid::before {
  background-color: var(--success);
}
