/*
 * DSFR v1.0.0-rc1.0 | restricted use
 */
@charset "UTF-8";

/* ------------------------------------ *\
  FOOTER
\* ------------------------------------ */

.fr-footer {
  --is-link: false;
  --is-list: false;
  width: 100%;
  border-top: 2px solid var(--bf500);
  border-bottom: 1px solid var(--g400);
  padding-top: 2.5rem;
  /**
   * Conteneur du bloc marque, avec le logo principal et éventuellement
   * un logo opérateur
   *//**
   * On fixe une largeur maximale pour le logo opérateur
   *//**
 * La partie "content" représente les informations sous forme de texte rajoutées dans le footer
 * ainsi que les éventuels liens simples
 *//**
 * Contenu texte simple
 *//**
 * Liste des liens situés en dessous de la partie texte
 *//**
 * La partie "top" du footer est constituée de colonnes basées sur le système de grille du Design System
 * Ces colonnes sont constituées d’une catégorie (optionnel) et d'une liste verticale de liens
 *//**
 * Catégorie (optionnel)
 *//**
 * Style de la liste
 *//**
 * Style du lien
 *//**
 * La partie "bottom" du footer est constituée d'une liste de liens simples (ferrée à gauche)
 * ainsi que du copyright (ferré à droite)
 *//**
 * Liste de liens avec séparateur
 *//**
 * Style du lien de la liste
 *//**
 * Copyright
 *//**
 * La partie "partners" du footer est constituée de logos organisés
 * en partenaires principaux (ferré à gauche) et secondaires (ferrés à droite)
 *//**
 * Container des logos partenaires (principaux et secondaires)
 *//**
 * Container des logos partenaires principaux
 *//**
 * Container des logos partenaires secondaires
 */
}

.fr-footer__body {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.fr-footer__body + .fr-footer__bottom {
  margin-top: 1rem;
}

.fr-footer__brand {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-basis: 100%;
  /**
     * Si on ajoute un logo opérateur à côté du logo principal, on lui applique une marge à gauche
     * On prévoit que le logo soit encapsulé dans un <a>, ou bien directement en img ou en svg
     * (Eventuellement prévoir une classe pour pouvoir le mettre en background image)
     *//**
     * Styles quand un logo opérateur est présent
     */
}

.fr-footer__brand .fr-logo {
  font-size: 1.05rem;
  margin: -1em;
}

.fr-footer__brand .fr-logo::before {
  width: 2.75rem;
  height: 1rem;
  margin-bottom: 0.33333rem;
  background-size: 2.75rem 1.125rem, 2.75rem 1rem, 0;
  background-position: 0 -0.0625rem, 0 0, 0 0;
}

:root[data-fr-mourning] .fr-footer__brand .fr-logo::before {
  background-size: 2.75rem 1.125rem, 0, 2.75rem 1rem;
}

.fr-footer__brand .fr-logo::after {
  min-width: 2.625rem;
  background-size: 5.25rem 3.75rem;
  background-position: 0 calc(100% + 1.875rem);
  padding-top: 2.20833rem;
}

:root[data-fr-theme="dark" i] .fr-footer__brand .fr-logo::after {
  background-position: -2.625rem 100%;
}

.fr-footer__brand .fr-logo + .fr-footer__brand-link {
  margin-left: 1.5rem;
}

.fr-footer__body--operator .fr-footer__brand .fr-footer__brand-link + .fr-footer__brand-link .fr-footer__logo {
  width: auto;
  min-width: initial;
  max-height: 100px;
}

.fr-footer__body--operator .fr-footer__brand .fr-footer__logo {
  min-width: initial;
  max-width: 100%;
}

.fr-footer__logo {
  width: 200px;
  height: auto;
  max-height: 100%;
}

.fr-footer__content {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  margin-top: 1.5rem;
  /**
   * Si un logo opérateur est présent, on passe le content à 50% de la largeur disponible
   */
}

.fr-footer__body--operator .fr-footer__content {
  margin-top: 1.5rem;
}

.fr-footer__content-desc {
  --is-link:  ;
  margin: 0 0 0.5rem;
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.fr-footer__content-list {
  display: flex;
  flex-direction: row;
  align-self: center;
  flex-wrap: wrap;
}

.fr-footer__content-list > li {
  margin-right: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.fr-footer__content-list > li::before {
  content: none;
}

.fr-footer__content-list > li:last-child {
  margin-right: 0;
}

.fr-footer__content-link {
  display: inline-flex;
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.fr-footer__top {
  display: flex;
  margin: -2.5rem 0 1rem;
  padding: 2rem 0 1rem;
}

.fr-footer__top-cat {
  margin: 0 0 0.75rem;
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-align: left;
}

.fr-footer__top-list {
  margin: 0;
}

.fr-footer__top-link {
  display: block;
  font-size: 0.75rem;
  line-height: 1.25rem;
  margin-bottom: 0.75rem;
}

.fr-footer__bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2.5rem;
}

.fr-footer__bottom-list {
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  padding: 0.5rem 0 1rem;
  width: 100%;
  margin: 0;
}

.fr-footer__bottom-item {
  position: relative;
  margin: 0.5rem 0 0 0.25rem;
  display: inline;
}

.fr-footer__bottom-item::before {
  display: inline-block;
  content: "";
  vertical-align: middle;
  position: relative;
  width: 1px;
  height: 1rem;
  margin-right: 0.25rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.fr-footer__bottom-item:first-child {
  margin: 0.5rem 0 0;
}

.fr-footer__bottom-item:first-child::before {
  content: none;
}

.fr-footer__bottom-link {
  font-size: 0.75rem;
  line-height: 1.25rem;
}

.fr-footer__bottom-copy * {
  --is-link:  ;
  font-size: 0.75rem;
  line-height: 1.25rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

.fr-footer__partners {
  margin-top: 1rem;
  padding-top: 1rem;
  /**
   * Style des liens qui entourent les logos partenaires
   *//**
   * On surcharge le style du logo de base
   */
}

.fr-footer__partners a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 90px;
  box-shadow: none;
}

.fr-footer__partners .fr-footer__logo {
  width: auto;
  height: auto;
  max-width: 100%;
}

.fr-footer__partners + .fr-footer__bottom {
  margin-top: 0.5rem;
}

.fr-footer__partners-title {
  font-size: 0.875rem;
  line-height: 1.5rem;
  margin: 0;
  flex-basis: 100%;
  text-align: center;
}

.fr-footer__partners-logos {
  display: flex;
  flex-wrap: wrap;
}

.fr-footer__partners-main {
  flex-basis: 100%;
  padding-top: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.fr-footer__partners-main + .fr-footer__partners-sub {
  padding-top: 1rem;
}

.fr-footer__partners-sub {
  /**
   * On surcharge le style du lien pour les logos secondaires
   */
}

.fr-footer__partners-sub, .fr-footer__partners-sub > ul {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.fr-footer__partners-sub .fr-footer__partners-link {
  box-shadow: none;
  margin: 0;
  margin-bottom: 0.5rem;
}

.fr-footer {
  border-top: 2px solid var(--bf500);
  border-bottom: 1px solid var(--g400);
}

.fr-footer__content-link {
  color: var(--g800);
}

.fr-footer__top {
  background-color: var(--beige);
}

.fr-footer__top-link {
  color: var(--g600);
}

.fr-footer__bottom {
  border-top: 1px solid var(--g400);
}

.fr-footer__bottom-item::before {
  background-color: var(--g400);
}

.fr-footer__bottom-link {
  color: var(--g600);
  background-color: var(--t-plain);
}

.fr-footer__bottom-copy {
  color: var(--g600);
}

.fr-footer__partners {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid var(--g400);
}

.fr-footer__partners a {
  background: #fff;
}

@media (min-width: 36em) {
  .fr-footer__body--operator .fr-footer__brand .fr-footer__logo {
    max-width: 200px;
  }

  .fr-footer__content-list > li {
    margin-right: 1.5rem;
  }

  .fr-footer__partners-title {
    text-align: left;
  }

  .fr-footer__partners-main {
    flex-basis: auto;
    padding-top: 0;
    margin-top: 0.5rem;
  }

  .fr-footer__partners-sub {
    margin: 1rem -1rem 0;
  }

  .fr-footer__partners-sub, .fr-footer__partners-sub > ul {
    flex-direction: row;
  }

  .fr-footer__partners-sub .fr-footer__partners-link {
    margin: 0 0 0.5rem 1rem;
  }
}

@media (min-width: 48em) {
  .fr-footer__body {
    margin-bottom: 1.5rem;
  }

  .fr-footer__brand .fr-logo {
    font-size: 1.3125rem;
  }

  .fr-footer__brand .fr-logo::before {
    width: 3.4375rem;
    height: 1.25rem;
    margin-bottom: 0.41667rem;
    background-size: 3.4375rem 1.40625rem, 3.4375rem 1.25rem, 0;
    background-position: 0 -0.07812rem, 0 0, 0 0;
  }

  :root[data-fr-mourning] .fr-footer__brand .fr-logo::before {
    background-size: 3.4375rem 1.40625rem, 0, 3.4375rem 1.25rem;
  }

  .fr-footer__brand .fr-logo::after {
    min-width: 3.28125rem;
    background-size: 6.5625rem 4.6875rem;
    background-position: 0 calc(100% + 2.34375rem);
    padding-top: 2.76042rem;
  }

  :root[data-fr-theme="dark" i] .fr-footer__brand .fr-logo::after {
    background-position: -3.28125rem 100%;
  }

  .fr-footer__brand .fr-logo + .fr-footer__brand-link {
    margin-left: 3rem;
  }

  .fr-footer__brand {
    flex-basis: auto;
    padding-right: 1rem;
  }

  .fr-footer__content {
    margin-left: auto;
  }

  .fr-footer__top {
    margin: -2.5rem 0 2.5rem;
  }

  .fr-footer__bottom-item {
    margin: 0.5rem 0 0 0.75rem;
  }

  .fr-footer__bottom-item::before {
    margin-right: 0.75rem;
  }

  .fr-footer__bottom-item::before {
    margin-bottom: 0.25rem;
  }

  .fr-footer__bottom-item::before {
    margin-top: 0.25rem;
  }

  .fr-footer__partners-logos {
    flex-wrap: nowrap;
    margin: 0 -1rem;
  }

  .fr-footer__partners-main a {
    margin: 0 0 0 1rem;
  }

  .fr-footer__partners-main + .fr-footer__partners-sub {
    padding-left: 2rem;
    padding-top: 0;
  }

  .fr-footer__partners-main + .fr-footer__partners-sub > ul {
    justify-content: flex-end;
  }

  .fr-footer__partners-main + .fr-footer__partners-sub > ul > li {
    margin: 0 1rem 0 0;
  }

  .fr-footer__partners-main + .fr-footer__partners-sub > ul > li a {
    margin-left: 0;
  }

  .fr-footer__partners-sub {
    margin: 0.5rem 0 0 0;
  }
}

@media (min-width: 62em) {
  .fr-footer__body--operator .fr-footer__brand .fr-footer__logo {
    min-width: 200px;
    max-width: 100%;
  }

  .fr-footer__content {
    margin-top: 0;
    flex-basis: calc(100% - (100% / 2));
  }

  .fr-footer__body--operator .fr-footer__content {
    margin-top: 0;
    flex-basis: 50%;
  }
}
