/*
 * DSFR v1.0.0-rc1.0 | restricted use
 */
/* ------------------------------------ *\
  HIGHLIGHTS
\* ------------------------------------ */

.fr-highlight {
  padding-left: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

.fr-highlight p {
  margin-bottom: 0;
}

.fr-highlight {
  border-left: 0.25rem solid var(--bf500);
}

@media (min-width: 48em) {
  .fr-highlight {
    padding-left: 2rem;
    margin-left: 2rem;
  }
}
