/*
 * DSFR v1.0.0-rc1.0 | restricted use
 */
@charset "UTF-8";

/* ------------------------------------ *\
  LINKS
\* ------------------------------------ */

.fr-link {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

.fr-link[type=submit] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: inherit;
  border: none;
}

.fr-link {
  overflow: hidden;
  z-index: 1;
}

.fr-link {
  font-size: 1rem;
  line-height: 1.5rem;
  min-height: 2rem;
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
}

.fr-link--sm, .fr-link--close {
  font-size: 0.875rem;
  line-height: 1.5rem;
  min-height: 2rem;
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
}

.fr-link--lg {
  font-size: 1.25rem;
  line-height: 2rem;
  min-height: 3rem;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
}

.fr-link:not([class*="link--icon-"])[class^="fr-fi-"],
.fr-link:not([class*="link--icon-"])[class*=" fr-fi-"] {
  flex-direction: row;
  max-width: 2rem;
  max-height: 2rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.fr-link[class^="fr-fi-"]:not([class*="link--icon-"])::before,
.fr-link[class*=" fr-fi-"]:not([class*="link--icon-"])::before {
  margin-left: 0;
  margin-right: 0.25rem;
  font-size: 1.5rem;
}

.fr-link--align-on-content.fr-link:not([class*="link--icon-"])[class^="fr-fi-"],
.fr-link--align-on-content.fr-link:not([class*="link--icon-"])[class*=" fr-fi-"] {
  margin-left: -0.25rem;
  margin-right: -0.25rem;
}

.fr-link--sm:not([class*="link--icon-"])[class^="fr-fi-"],
.fr-link--sm:not([class*="link--icon-"])[class*=" fr-fi-"] {
  flex-direction: row;
  max-width: 2rem;
  max-height: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.fr-link--sm[class^="fr-fi-"]:not([class*="link--icon-"])::before,
.fr-link--sm[class*=" fr-fi-"]:not([class*="link--icon-"])::before {
  margin-left: 0;
  margin-right: 0.5rem;
  font-size: 1rem;
}

.fr-link--align-on-content.fr-link--sm:not([class*="link--icon-"])[class^="fr-fi-"],
.fr-link--align-on-content.fr-link--sm:not([class*="link--icon-"])[class*=" fr-fi-"] {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.fr-link--lg:not([class*="link--icon-"])[class^="fr-fi-"],
.fr-link--lg:not([class*="link--icon-"])[class*=" fr-fi-"] {
  flex-direction: row;
  max-width: 3rem;
  max-height: 3rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.fr-link--lg[class^="fr-fi-"]:not([class*="link--icon-"])::before,
.fr-link--lg[class*=" fr-fi-"]:not([class*="link--icon-"])::before {
  margin-left: 0;
  margin-right: 0.5rem;
  font-size: 2rem;
}

.fr-link--align-on-content.fr-link--lg:not([class*="link--icon-"])[class^="fr-fi-"],
.fr-link--align-on-content.fr-link--lg:not([class*="link--icon-"])[class*=" fr-fi-"] {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.fr-link--icon-left[class^="fr-fi-"], .fr-link--icon-left[class*=" fr-fi-"] {
  flex-direction: row;
}

.fr-link--icon-left[class^="fr-fi-"]::before,
.fr-link--icon-left[class*=" fr-fi-"]::before {
  margin-left: -0.25rem;
  margin-right: 0.5rem;
  font-size: 1rem;
}

.fr-link--align-on-content.fr-link--icon-left[class^="fr-fi-"],
.fr-link--align-on-content.fr-link--icon-left[class*=" fr-fi-"] {
  margin-left: -0.5rem;
  margin-right: -0.75rem;
}

.fr-link--sm.fr-link--icon-left[class^="fr-fi-"],
.fr-link--sm.fr-link--icon-left[class*=" fr-fi-"] {
  flex-direction: row;
}

.fr-link--sm.fr-link--icon-left[class^="fr-fi-"]::before,
.fr-link--sm.fr-link--icon-left[class*=" fr-fi-"]::before {
  margin-left: -0.25rem;
  margin-right: 0.5rem;
  font-size: 1rem;
}

.fr-link--align-on-content.fr-link--sm.fr-link--icon-left[class^="fr-fi-"],
.fr-link--align-on-content.fr-link--sm.fr-link--icon-left[class*=" fr-fi-"] {
  margin-left: -0.5rem;
  margin-right: -0.75rem;
}

.fr-link--lg.fr-link--icon-left[class^="fr-fi-"],
.fr-link--lg.fr-link--icon-left[class*=" fr-fi-"] {
  flex-direction: row;
}

.fr-link--lg.fr-link--icon-left[class^="fr-fi-"]::before,
.fr-link--lg.fr-link--icon-left[class*=" fr-fi-"]::before {
  margin-left: -0.375rem;
  margin-right: 0.5rem;
  font-size: 1.5rem;
}

.fr-link--align-on-content.fr-link--lg.fr-link--icon-left[class^="fr-fi-"],
.fr-link--align-on-content.fr-link--lg.fr-link--icon-left[class*=" fr-fi-"] {
  margin-left: -0.625rem;
  margin-right: -1rem;
}

.fr-link--icon-right[class^="fr-fi-"], .fr-link--icon-right[class*=" fr-fi-"],
.fr-link--close {
  flex-direction: row-reverse;
}

.fr-link--icon-right[class^="fr-fi-"]::before,
.fr-link--icon-right[class*=" fr-fi-"]::before, .fr-link--close::before {
  margin-right: -0.25rem;
  margin-left: 0.5rem;
  font-size: 1rem;
}

.fr-link--align-on-content.fr-link--icon-right[class^="fr-fi-"],
.fr-link--align-on-content.fr-link--icon-right[class*=" fr-fi-"] {
  margin-left: -0.75rem;
  margin-right: -0.5rem;
}

.fr-link--sm.fr-link--icon-right[class^="fr-fi-"],
.fr-link--sm.fr-link--icon-right[class*=" fr-fi-"], .fr-link--close {
  flex-direction: row-reverse;
}

.fr-link--sm.fr-link--icon-right[class^="fr-fi-"]::before,
.fr-link--sm.fr-link--icon-right[class*=" fr-fi-"]::before,
.fr-link--close::before {
  margin-right: -0.25rem;
  margin-left: 0.5rem;
  font-size: 1rem;
}

.fr-link--align-on-content.fr-link--sm.fr-link--icon-right[class^="fr-fi-"],
.fr-link--align-on-content.fr-link--sm.fr-link--icon-right[class*=" fr-fi-"],
.fr-link--close {
  margin-left: -0.75rem;
  margin-right: -0.5rem;
}

.fr-link--lg.fr-link--icon-right[class^="fr-fi-"],
.fr-link--lg.fr-link--icon-right[class*=" fr-fi-"] {
  flex-direction: row-reverse;
}

.fr-link--lg.fr-link--icon-right[class^="fr-fi-"]::before,
.fr-link--lg.fr-link--icon-right[class*=" fr-fi-"]::before {
  margin-right: -0.375rem;
  margin-left: 0.5rem;
  font-size: 1.5rem;
}

.fr-link--align-on-content.fr-link--lg.fr-link--icon-right[class^="fr-fi-"],
.fr-link--align-on-content.fr-link--lg.fr-link--icon-right[class*=" fr-fi-"] {
  margin-left: -1rem;
  margin-right: -0.625rem;
}

.fr-link {
  --is-link: false;
  margin: 0;
}

.fr-link--close {
  max-width: none;
  max-height: none;
  display: flex;
  margin-left: auto;
}

.fr-link--close::before {
  font-family: icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.fr-link--close::before {
  content: "";
}

.fr-link {
  color: var(--bf500);
  background-color: var(--t-plain);
}

:root:not([data-fr-theme="dark" i]) .fr-link {
  --color-hover: var(--block-color-hover);
  --color-active: var(--block-color-active);
}

:root:not([data-fr-theme="dark" i]) [class*="fr-scheme-light"] .fr-link,
:root:not([data-fr-theme="dark" i]) [class*="--scheme-light-"] .fr-link {
  --color-hover: var(--block-color-hover);
  --color-active: var(--block-color-active);
}

:root:not([data-fr-theme="dark" i]) [class*="fr-scheme-dark"] .fr-link,
:root:not([data-fr-theme="dark" i]) [class*="--scheme-dark-"] .fr-link {
  --color-hover: var(--block-color-hover);
  --color-active: var(--block-color-active);
}

:root[data-fr-theme="dark" i] .fr-link {
  --color-hover: var(--block-color-hover);
  --color-active: var(--block-color-active);
}

button.fr-link[disabled], a.fr-link:not([href]) {
  color: var(--g600-g400);
}

@media (hover: hover) and (pointer: fine) {
  .fr-link:not(a):not(:disabled):hover, a.fr-link[href]:hover {
    background-image: linear-gradient(0deg, var(--color-hover), var(--color-hover));
  }

  .fr-link:not(a):not(:disabled):active, a.fr-link[href]:active {
    background-image: linear-gradient(0deg, var(--color-active), var(--color-active));
  }
}
