/*
 * DSFR v1.0.0-rc1.0 | restricted use
 */
@charset "UTF-8";

/* ------------------------------------ *\
  PAGINATION
\* ------------------------------------ */

.fr-pagination__link, .fr-pagination__link--first, .fr-pagination__link--prev,
.fr-pagination__link--next, .fr-pagination__link--last {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

.fr-pagination__link, .fr-pagination__link--first, .fr-pagination__link--prev,
.fr-pagination__link--next, .fr-pagination__link--last {
  overflow: hidden;
  z-index: 1;
}

.fr-pagination__link, .fr-pagination__link--first, .fr-pagination__link--prev,
.fr-pagination__link--next, .fr-pagination__link--last {
  font-size: 1rem;
  line-height: 1.5rem;
  min-height: 2rem;
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
}

.fr-pagination__link--first, .fr-pagination__link--prev,
.fr-pagination__link--next, .fr-pagination__link--last {
  flex-direction: row;
  max-width: 2rem;
  max-height: 2rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.fr-pagination__link--first::before, .fr-pagination__link--prev::before,
.fr-pagination__link--next::before, .fr-pagination__link--last::before {
  margin-left: 0;
  margin-right: 0.25rem;
  font-size: 1.5rem;
}

.fr-pagination__link--first.fr-pagination__link--label,
.fr-pagination__link--prev.fr-pagination__link--label {
  flex-direction: row;
}

.fr-pagination__link--first.fr-pagination__link--label::before,
.fr-pagination__link--prev.fr-pagination__link--label::before {
  margin-left: -0.375rem;
  margin-right: 0.5rem;
  font-size: 1.5rem;
}

.fr-pagination__link--next.fr-pagination__link--label,
.fr-pagination__link--last.fr-pagination__link--label {
  flex-direction: row-reverse;
}

.fr-pagination__link--next.fr-pagination__link--label::before,
.fr-pagination__link--last.fr-pagination__link--label::before {
  margin-right: -0.375rem;
  margin-left: 0.5rem;
  font-size: 1.5rem;
}

.fr-pagination {
  --is-link: false;
  --is-list: false;
}

.fr-pagination__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.fr-pagination__list > *:first-child, .fr-pagination__list > *:first-child * {
  margin-left: 0;
}

.fr-pagination__list > *:last-child, .fr-pagination__list > *:last-child * {
  margin-right: 0;
}

.fr-pagination__link {
  --is-link: false;
  margin: 0;
  min-width: 2rem;
  margin-left: 0.125rem;
  margin-right: 0.125rem;
  margin-bottom: 1rem;
}

.fr-pagination__link[aria-current] {
  cursor: default !important;
}

.fr-pagination__link--first::before, .fr-pagination__link--prev::before,
.fr-pagination__link--next::before, .fr-pagination__link--last::before {
  font-family: icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.fr-pagination__link--first::before {
  content: "";
}

.fr-pagination__link--prev::before {
  content: "";
}

.fr-pagination__link--next::before {
  content: "";
}

.fr-pagination__link--last::before {
  content: "";
}

.fr-pagination__link--first, .fr-pagination__link--prev {
  margin-right: 0.875rem;
  margin-left: -0.625rem;
}

.fr-pagination__link--first.fr-pagination__link--label,
.fr-pagination__link--prev.fr-pagination__link--label {
  max-width: none;
  max-height: none;
}

.fr-pagination__link--next, .fr-pagination__link--last {
  margin-right: -0.625rem;
  margin-left: 0.875rem;
}

.fr-pagination__link--next.fr-pagination__link--label,
.fr-pagination__link--last.fr-pagination__link--label {
  max-width: none;
  max-height: none;
}

.fr-pagination {
  color: var(--g800);
}

.fr-pagination__link {
  background-color: var(--t-plain);
}

:root:not([data-fr-theme="dark" i]) .fr-pagination__link {
  --color-hover: var(--block-color-hover);
  --color-active: var(--block-color-active);
}

:root:not([data-fr-theme="dark" i]) [class*="fr-scheme-light"] .fr-pagination__link,
:root:not([data-fr-theme="dark" i]) [class*="--scheme-light-"] .fr-pagination__link {
  --color-hover: var(--block-color-hover);
  --color-active: var(--block-color-active);
}

:root:not([data-fr-theme="dark" i]) [class*="fr-scheme-dark"] .fr-pagination__link,
:root:not([data-fr-theme="dark" i]) [class*="--scheme-dark-"] .fr-pagination__link {
  --color-hover: var(--block-color-hover);
  --color-active: var(--block-color-active);
}

:root[data-fr-theme="dark" i] .fr-pagination__link {
  --color-hover: var(--block-color-hover);
  --color-active: var(--block-color-active);
}

.fr-pagination__link[aria-current] {
  background-color: var(--bf500);
  color: var(--w-bf500);
}

:root:not([data-fr-theme="dark" i]) .fr-pagination__link[aria-current] {
  --color-hover: rgba(0, 0, 221, 0.5);
  --color-active: rgba(41, 41, 255, 0.5);
}

:root:not([data-fr-theme="dark" i]) [class*="fr-scheme-light"] .fr-pagination__link[aria-current],
:root:not([data-fr-theme="dark" i]) [class*="--scheme-light-"] .fr-pagination__link[aria-current] {
  --color-hover: rgba(0, 0, 221, 0.5);
  --color-active: rgba(41, 41, 255, 0.5);
}

:root:not([data-fr-theme="dark" i]) [class*="fr-scheme-dark"] .fr-pagination__link[aria-current],
:root:not([data-fr-theme="dark" i]) [class*="--scheme-dark-"] .fr-pagination__link[aria-current] {
  --color-hover: rgba(71, 71, 255, 0.5);
  --color-active: rgba(0, 0, 243, 0.5);
}

:root[data-fr-theme="dark" i] .fr-pagination__link[aria-current] {
  --color-hover: rgba(71, 71, 255, 0.5);
  --color-active: rgba(0, 0, 243, 0.5);
}

button.fr-pagination__link:not([aria-current])[disabled],
a.fr-pagination__link:not([aria-current]):not([href]) {
  color: var(--g600-g400);
}

@media (min-width: 62em) {
  .fr-pagination__link--first.fr-pagination__link--lg-label,
  .fr-pagination__link--prev.fr-pagination__link--lg-label {
    font-size: 1rem;
    line-height: 1.5rem;
    min-height: 2rem;
    padding: 0.25rem 0.75rem;
    border-radius: 1rem;
    max-width: none;
    max-height: none;
    flex-direction: row;
  }

  .fr-pagination__link--first.fr-pagination__link--lg-label::before,
  .fr-pagination__link--prev.fr-pagination__link--lg-label::before {
    margin-left: -0.375rem;
    margin-right: 0.5rem;
    font-size: 1.5rem;
  }

  .fr-pagination__link--next.fr-pagination__link--lg-label,
  .fr-pagination__link--last.fr-pagination__link--lg-label {
    font-size: 1rem;
    line-height: 1.5rem;
    min-height: 2rem;
    padding: 0.25rem 0.75rem;
    border-radius: 1rem;
    max-width: none;
    max-height: none;
    flex-direction: row-reverse;
  }

  .fr-pagination__link--next.fr-pagination__link--lg-label::before,
  .fr-pagination__link--last.fr-pagination__link--lg-label::before {
    margin-right: -0.375rem;
    margin-left: 0.5rem;
    font-size: 1.5rem;
  }
}

@media (hover: hover) and (pointer: fine) {
  .fr-pagination__link:not(a):not(:disabled):hover,
  a.fr-pagination__link[href]:hover {
    background-image: linear-gradient(0deg, var(--color-hover), var(--color-hover));
  }

  .fr-pagination__link:not(a):not(:disabled):active,
  a.fr-pagination__link[href]:active {
    background-image: linear-gradient(0deg, var(--color-active), var(--color-active));
  }

  .fr-pagination__link[aria-current]:not(a):not(:disabled):hover,
  a.fr-pagination__link[aria-current][href]:hover {
    background-image: linear-gradient(0deg, var(--color-hover), var(--color-hover));
  }

  .fr-pagination__link[aria-current]:not(a):not(:disabled):active,
  a.fr-pagination__link[aria-current][href]:active {
    background-image: linear-gradient(0deg, var(--color-active), var(--color-active));
  }
}
