/*
 * DSFR v1.0.0-rc1.0 | restricted use
 */
/* ------------------------------------ *\
  TAGS
\* ------------------------------------ */

.fr-tag {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

.fr-tag {
  overflow: hidden;
  z-index: 1;
}

.fr-tag {
  font-size: 0.875rem;
  line-height: 1.5rem;
  min-height: 2rem;
  padding: 0.25rem 1rem;
  border-radius: 1rem;
}

.fr-tag--sm {
  font-size: 0.75rem;
  line-height: 1.25rem;
  min-height: 1.5rem;
  padding: 0.125rem 0.5rem;
  border-radius: 0.75rem;
}

.fr-tag--icon-left[class^="fr-fi-"], .fr-tag--icon-left[class*=" fr-fi-"] {
  flex-direction: row;
}

.fr-tag--icon-left[class^="fr-fi-"]::before,
.fr-tag--icon-left[class*=" fr-fi-"]::before {
  margin-left: -0.25rem;
  margin-right: 0.25rem;
  font-size: 1rem;
}

.fr-tag--sm.fr-tag--icon-left[class^="fr-fi-"],
.fr-tag--sm.fr-tag--icon-left[class*=" fr-fi-"] {
  flex-direction: row;
}

.fr-tag--sm.fr-tag--icon-left[class^="fr-fi-"]::before,
.fr-tag--sm.fr-tag--icon-left[class*=" fr-fi-"]::before {
  margin-left: -0.25rem;
  margin-right: 0.25rem;
  font-size: 1rem;
}

.fr-tag--icon-right[class^="fr-fi-"], .fr-tag--icon-right[class*=" fr-fi-"] {
  flex-direction: row-reverse;
}

.fr-tag--icon-right[class^="fr-fi-"]::before,
.fr-tag--icon-right[class*=" fr-fi-"]::before {
  margin-right: -0.25rem;
  margin-left: 0.25rem;
  font-size: 1rem;
}

.fr-tag--sm.fr-tag--icon-right[class^="fr-fi-"],
.fr-tag--sm.fr-tag--icon-right[class*=" fr-fi-"] {
  flex-direction: row-reverse;
}

.fr-tag--sm.fr-tag--icon-right[class^="fr-fi-"]::before,
.fr-tag--sm.fr-tag--icon-right[class*=" fr-fi-"]::before {
  margin-right: -0.25rem;
  margin-left: 0.25rem;
  font-size: 1rem;
}

.fr-tag {
  --is-link: false;
  margin: 0;
}

.fr-tags-group {
  --is-list: false;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
}

.fr-tags-group > li {
  display: inline-flex;
}

.fr-tags-group .fr-tag {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.fr-tags-group a.fr-tag, .fr-tags-group button.fr-tag {
  margin-right: 0.75rem;
  margin-bottom: 0.75rem;
}

.fr-tags-group a.fr-tag--sm, .fr-tags-group button.fr-tag--sm {
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
}

.fr-tag {
  color: var(--g-800);
  background-color: var(--g200);
}

a.fr-tag, button.fr-tag {
  color: var(--bf500-plain);
  background-color: var(--bf200-bf300);
}

:root:not([data-fr-theme="dark" i]) a.fr-tag,
:root:not([data-fr-theme="dark" i]) button.fr-tag {
  --color-hover: rgba(172, 172, 255, 0.5);
  --color-active: rgba(107, 107, 255, 0.5);
}

:root:not([data-fr-theme="dark" i]) [class*="fr-scheme-light"] a.fr-tag,
:root:not([data-fr-theme="dark" i]) [class*="fr-scheme-light"] button.fr-tag,
:root:not([data-fr-theme="dark" i]) [class*="--scheme-light-"] a.fr-tag,
:root:not([data-fr-theme="dark" i]) [class*="--scheme-light-"] button.fr-tag {
  --color-hover: rgba(172, 172, 255, 0.5);
  --color-active: rgba(107, 107, 255, 0.5);
}

:root:not([data-fr-theme="dark" i]) [class*="fr-scheme-dark"] a.fr-tag,
:root:not([data-fr-theme="dark" i]) [class*="fr-scheme-dark"] button.fr-tag,
:root:not([data-fr-theme="dark" i]) [class*="--scheme-dark-"] a.fr-tag,
:root:not([data-fr-theme="dark" i]) [class*="--scheme-dark-"] button.fr-tag {
  --color-hover: rgba(71, 71, 255, 0.5);
  --color-active: rgba(0, 0, 243, 0.5);
}

:root[data-fr-theme="dark" i] a.fr-tag, button.fr-tag {
  --color-hover: rgba(71, 71, 255, 0.5);
  --color-active: rgba(0, 0, 243, 0.5);
}

button.fr-tag[disabled], a.fr-tag:not([href]) {
  color: var(--g600-g400);
  background-color: var(--g200);
}

@media (hover: hover) and (pointer: fine) {
  a.fr-tag:not(a):not(:disabled):hover, a.fr-tag[href]:hover,
  button.fr-tag:not(a):not(:disabled):hover {
    background-image: linear-gradient(0deg, var(--color-hover), var(--color-hover));
  }

  a.fr-tag:not(a):not(:disabled):active, a.fr-tag[href]:active,
  button.fr-tag:not(a):not(:disabled):active {
    background-image: linear-gradient(0deg, var(--color-active), var(--color-active));
  }
}
