/*
 * DSFR v1.0.0-rc1.0 | restricted use
 */
@charset "UTF-8";

/* ------------------------------------ *\
  TOGGLES
\* ------------------------------------ */

.fr-toggle .fr-hint-text {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.75rem;
  line-height: 1.25rem;
}

.fr-toggle {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 1rem 0;
  /*
   * On utilise un input de type checkbox pour gérer le toggle
   * On reset ses styles afin de ne garder que son fonctionnement et son espacement
   * On l'utilisera égalemement pour afficher l'état du toggle (optionnel)
   *//*
   * Import des modificateurs (séparateur et label à gauche)
   *//*
 * Passage du label ferré à gauche, le toggle ferré à droite
 */
}

.fr-toggle__input {
  flex-shrink: 0;
  width: 2.5rem;
  height: 1.5rem;
  border: 0;
  border-radius: 2.5rem;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /*
     * On applique des styles aux pseudo-elements du label quand l'input est check.
     * On change l'ordre du texte d'état du label dans le content pour afficher
     * la valeur correspondant à l'état checked (optionnel).
     *//*
     * Hack pour IE11
     */
}

.fr-toggle__input:checked ~ .fr-toggle__label[data-fr-unchecked-label]::before,
.fr-toggle__input:checked ~ .fr-toggle__label[data-fr-checked-label]::before {
  content: attr(data-fr-checked-label) "\a" attr(data-fr-unchecked-label);
}

.fr-toggle__input:checked ~ .fr-toggle__label::after {
  transform: translateX(1rem);
  text-indent: 0;
  z-index: 2000;
}

.fr-toggle__input::-ms-check {
  display: none;
}

.fr-toggle__label {
  display: inline-flex;
  flex-basis: calc(100% - 2.5rem);
  min-height: 1.5rem;
  padding-left: 2rem;
  font-size: 1rem;
  line-height: 1.5rem;
  /*
     * Si les data attributes sont présents, on assigne un content au pseudo element before,
     * et on enlève le padding left du label.
     *//*
     * On prévoit un pseudo-élément pour afficher l'état du bouton( optionnel)
     * On récupère le text via l'attribut [data-fr-unchecked-label]
     *//*
     * On inclut l'icône check dans un pseudo-element after
     * On la cache via un text-indent quand l'input n'est pas check
     */
}

.fr-toggle__label[data-fr-unchecked-label],
.fr-toggle__label[data-fr-checked-label] {
  padding-left: 0;
}

.fr-toggle__label[data-fr-unchecked-label]::before,
.fr-toggle__label[data-fr-checked-label]::before {
  content: attr(data-fr-unchecked-label) "\a" attr(data-fr-checked-label);
}

.fr-toggle__label[data-fr-unchecked-label] + .fr-hint-text,
.fr-toggle__label[data-fr-checked-label] + .fr-hint-text {
  margin-top: 0.5rem;
}

.fr-toggle__label::before {
  flex-shrink: 0;
  min-width: 2.5rem;
  height: calc(1.25rem + 1px);
  margin-top: 1.5rem;
  margin-left: -2.5rem;
  margin-right: 1rem;
  font-size: 0.75rem;
  line-height: 1.25rem;
  white-space: pre-wrap;
  overflow: hidden;
  outline: none !important;
}

.fr-toggle__label::after {
  font-family: icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.fr-toggle__label::after {
  font-size: 1rem;
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 1rem;
  left: 0;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  text-indent: -9999px;
  z-index: 1;
}

.fr-toggle .fr-hint-text {
  flex-basis: 100%;
  margin-top: 1rem;
}

.fr-toggle--label-left .fr-toggle__input {
  order: 1;
  margin: 0 0 0 auto;
}

.fr-toggle--label-left .fr-toggle__input[data-fr-checked-label] ~ .fr-toggle__label {
  padding-left: 0;
  padding-right: 1rem;
}

.fr-toggle--label-left .fr-toggle__label {
  justify-content: space-between;
  padding-left: 0;
  width: calc(100% - 2.5rem);
}

.fr-toggle--label-left .fr-toggle__label::before {
  flex-shrink: 0;
  order: 1;
  margin-right: -2.5rem;
  margin-left: 1rem;
  text-align: right;
}

.fr-toggle--label-left .fr-toggle__label::after {
  left: auto;
  right: 1rem;
}

.fr-toggle--label-left .fr-hint-text {
  order: 2;
}

/*
 * Provisoire: à enlever quand fr-body sera en place
 */

/*
 * On surcharge les styles de base (provisoire)
 */

.fr-toggle__list {
  --is-list: false;
}

.fr-toggle {
  /*
  * Ajout d'un séparateur
  */
}

.fr-toggle__input {
  box-shadow: inset 0 0 0 1px var(--bf500);
}

input.fr-toggle__input[disabled], input.fr-toggle__input:disabled {
  color: var(--g600-g400);
  background-color: var(--g200);
  box-shadow: inset 0 0 0 1px var(--g400);
}

input.fr-toggle__input[disabled] + label,
input.fr-toggle__input:disabled + label {
  color: var(--g600-g400);
}

input.fr-toggle__input[disabled] + label::before,
input.fr-toggle__input:disabled + label::before {
  color: var(--g600-g400);
}

input.fr-toggle__input[disabled] + label::before::before,
input.fr-toggle__input:disabled + label::before::before {
  background-color: var(--g200);
}

input.fr-toggle__input[disabled] + label::after,
input.fr-toggle__input:disabled + label::after {
  color: var(--g600-g400);
  background-color: var(--g200);
  border: 1px solid var(--g400);
}

.fr-toggle__input:checked {
  background-color: var(--bf500);
}

.fr-toggle__label::before {
  color: var(--bf500);
}

.fr-toggle__label::after {
  color: var(--bf500);
  border: 1px solid var(--bf500);
  background-color: var(--w);
}

.fr-toggle .fr-hint-text {
  color: var(--g600);
}

.fr-toggle--border-bottom {
  box-shadow: inset 0 -1px 0 0 var(--g300);
}
