<a class="ui fluid card" href="{{ include.description.url }}">
	<div class="content">
    {% if include.description.logo %}
      <img class="right floated mini ui image" src="/img/{{ include.description.logo }}" alt="logo de {{ include.description.title }}"/>
    {% else %}
      <img class="right floated mini ui image" src="/img/{{ include.description.default_logo }}" alt="logo générique api.gouv"/>
    {% endif %}

		<div class="header">{{ include.description.title }}</div>
		<div class="meta">
			{% include owner.html owner=include.description.owner %}
		</div>

		<div class="description">
			{{ include.description.tagline }}
		</div>
	</div>
  <div class="extra content">
    {% for keywords in include.description.keywords %}
			<div class="ui tiny label">
				{{ keywords }}
			</div>
    {% endfor %}
	</div>
</a>
