<a class="ui fluid card" href="{{ site.baseurl }}{{ include.description.url }}">
	<div class="content">
		<img class="right floated mini ui image" src="{{ site.baseurl }}{{ include.description.logo }}" alt="logo de {{ include.description.title }}"/>

		<div class="header">{{ include.description.title }}</div>
		<div class="meta">
			{% include owner.html owner=include.description.owner %}
		</div>

		<div class="description">
			{{ include.description.tagline }}
		</div>
	</div>
	<div class="extra content">
		<div class="left floated">
			{%if include.description.contract %}
				{{ include.description.contract }}
			{% else%}
			<!-- le build fails -->
			{% include missing-contract.html %}
			{% endif %}
		</div>

		<div class="right floated">
			<div class="ui {{ include.description.category }} label">
				{% assign category = site.api_category | where:"id", include.description.category | first %}
			  <i class="{{ category.logo }} icon"></i> {{  category.name }}
			</div>
		</div>
	</div>
</a>
