<footer>
  <div class="ui container">
    <div class="ui stackable three column grid">
      <div class="row">
        <div class="column">
          <div class="ui list">
            <div class="item">
              <i class="add icon"></i>
              <div class="content">
                <a href="https://thibaut6.typeform.com/to/dfwyyt">Ajouter une API</a>
              </div>
            </div>
            <div class="item">
              <i class="rocket icon"></i>
              <div class="content">
                <a href="https://thibaut6.typeform.com/to/quiFdr">Ajouter une réutilisation</a>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="ui list">
            <div class="item">
              <i class="university icon"></i>
              <div class="content">
                <a href="https://beta.gouv.fr">Incubateur de services numériques</a>
              </div>
            </div>
            <div class="item">
              <i class="briefcase icon"></i>
              <div class="content">
                <a href="http://modernisation.gouv.fr/">Une mission du SGMAP</a>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="ui list">
            <div class="item">
              <i class="mail icon"></i>
              <div class="content">
                <a href="mailto:contact@api.gouv.fr">Nous contacter</a>
              </div>
            </div>
            <div class="item">
              <i class="edit icon"></i>
              <div class="content">
                <a href="https://github.com/sgmap/api.gouv.fr/edit/gh-pages/{{ page.path }}">Améliorer cette page</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
