<footer class="ui inverted vertical footer segment">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid">
      <div class="three wide column">
        <h4 class="ui inverted header">About</h4>
        <div class="ui inverted link list">
          <a href="http://semantic-ui.com/examples/homepage.html#" class="item">Sitemap</a>
          <a href="http://semantic-ui.com/examples/homepage.html#" class="item">Contact Us</a>
          <a href="http://semantic-ui.com/examples/homepage.html#" class="item">Religious Ceremonies</a>
          <a href="http://semantic-ui.com/examples/homepage.html#" class="item">Gazebo Plans</a>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header">Services</h4>
        <div class="ui inverted link list">
          <a href="http://semantic-ui.com/examples/homepage.html#" class="item">Banana Pre-Order</a>
          <a href="http://semantic-ui.com/examples/homepage.html#" class="item">DNA FAQ</a>
          <a href="http://semantic-ui.com/examples/homepage.html#" class="item">How To Access</a>
          <a href="http://semantic-ui.com/examples/homepage.html#" class="item">Favorite X-Men</a>
        </div>
      </div>
      <div class="seven wide column">
        <h4 class="ui inverted header">Footer Header</h4>
        <p>Extra space for a call to action inside the footer that could help re-engage users.</p>
      </div>
    </div>
  </div>
</footer>
