<footer>
  <div class="ui container">
    <div class="ui stackable four column grid">
      <div class="row">
        <div class="column">
          <div class="ui list">
            <div class="item">
              <i class="add icon"></i>
              <div class="content">
                <a href="{{ site.baseurl }}/ajouter-une-api.html">Ajouter une API</a>
              </div>
            </div>
            <div class="item">
              <i class="rocket icon"></i>
              <div class="content">
                <a href="{{ site.baseurl }}/ajouter-un-service.html">Ajouter un service</a>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="ui list">
            <div class="item">
              <i class="briefcase icon"></i>
              <div class="content">
                <a href="http://modernisation.gouv.fr/" target="_blank">Une mission du SGMAP</a>
              </div>
            </div>
            <div class="item">
              <i class="university icon"></i>
              <div class="content">
                <a href="http://etatplateforme.modernisation.gouv.fr/" target="_blank">Un site de l'État plateforme</a>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="ui list">
            <div class="item">
              <i class="mail icon"></i>
              <div class="content">
                <a href="mailto:contact@api.gouv.fr">Nous contacter</a>
              </div>
            </div>
            <div class="item">
              <i class="edit icon"></i>
              <div class="content">
                <a href="https://github.com/sgmap/api.gouv.fr/edit/gh-pages/{{ page.path }}" target="_blank">Améliorer cette page</a>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="ui list">
            <div class="item">
              <i class="cloud icon"></i>
              <div class="content">
                <a href="{{ site.baseurl }}/api/api-gouv">L'API d'api.gouv.fr</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="one column row">
        <p class="column incubateur">
          Fait avec &hearts; par <a href="https://beta.gouv.fr/" target="_blank">l'Incubateur de services numériques</a>
        </p>
      </div>
    </div>
  </div>
</footer>
