<div class="ui card">
	<div class="image">
		<div>
			<img src="{{ site.baseurl }}/img/{{ include.description.screenshot }}" alt="capture d'écran de {{ include.description.name }}">
		</div>
	</div>
	<div class="content">
		<a class="header" href="{{ site.baseurl }}/{{ include.description.url }}">{{ include.description.name }}</a>
		<div class="meta">
			{% for apiName in include.description.api %}
			{% assign apis = site.api | where: "name", apiName %}
			{% assign api = apis | first %}
				<a class="ui label" href="{{ site.baseurl }}/{{ api.url }}"> {{ api.name }}</a>
			{% endfor %}
		</div>
		<p class="description">
			{{ include.description.description }}
		</p>
	</div>
</div>
