<div class="ui card">
	<div class="image">
		<div>
			<a href="{{ site.baseurl }}{{ include.reuse.url }}">
				<img src="{{ site.baseurl }}/img/{{ include.reuse.screenshot }}" alt="">
			</a>
		</div>
	</div>
	<div class="content">
		<h3>
			<a class="header" href="{{ site.baseurl }}{{ include.reuse.url }}">{{ include.reuse.name }}</a>
		</h3>
		<div class="meta">
			{{ include.reuse.description }}
		</div>
	</div>
	<div class="extra content">
		{% for apiName in include.reuse.api %}
		{% assign api = site.api | where: "name", apiName | first %}
			<a class="ui label" href="{{ site.baseurl }}{{ api.url }}"> {{ api.name }}</a>
		{% endfor %}
	</div>
</div>
