<div class="ui card">
	<div class="content">
		<h3>
			<a class="header" href="{{ site.baseurl }}{{ include.service.url }}">{{ include.service.title }}</a>
		</h3>
		<div class="meta">
			{{ include.service.description }}
		</div>
	</div>
	<div class="image">
		<div>
			<a href="{{ site.baseurl }}{{ include.service.url }}">
				<img src="{{ site.baseurl }}/img/{{ include.service.screenshot }}" alt="">
			</a>
		</div>
	</div>
	<div class="extra content">
		API utilisée{% if include.service.api.size > 1 %}s{% endif %}&nbsp;:
		{% for apiName in include.service.api %}
		{% assign api = site.api | where: "title", apiName | first %}
			<a class="ui label" href="{{ site.baseurl }}{{ api.url }}"> {{ api.title }}</a>
		{% endfor %}
	</div>
</div>
