<div class="swagger-section">
   <div id="swagger-ui-container" class="swagger-ui-wrap"></div>
</div>

<script src="//cdn.rawgit.com/swagger-api/swagger-ui/v3.4.0/dist/swagger-ui-bundle.js"></script>
<script src="//cdn.rawgit.com/swagger-api/swagger-ui/v3.4.0/dist/swagger-ui-standalone-preset.js"></script>

<script type="text/javascript">
  var ui = SwaggerUIBundle({
    url: '{{ include.url }}',
    dom_id: '#swagger-ui-container',
    presets: [
      SwaggerUIBundle.presets.apis,
      SwaggerUIStandalonePreset
    ],
    plugins: [
      SwaggerUIBundle.plugins.DownloadUrl
    ],
    layout: "StandaloneLayout",
    validatorUrl: null,
    defaultModelExpandDepth: 0
  })

  window.ui = ui
</script>
