<div class="swagger-section">
   <div id="swagger-ui-container" class="swagger-ui-wrap"></div>
</div>



<script src="//cdn.jsdelivr.net/jquery.mb.browser/0.1/jquery.mb.browser.min.js"></script>
<script src="//cdn.rawgit.com/swagger-api/swagger-ui/v2.1.4/dist/lib/jquery.slideto.min.js"></script>
<script src="//cdn.rawgit.com/swagger-api/swagger-ui/v2.1.4/dist/lib/jquery.wiggle.min.js"></script>
<script src="//cdn.rawgit.com/swagger-api/swagger-ui/v2.1.4/dist/lib/jquery.ba-bbq.min.js"></script>
<script src="//cdn.rawgit.com/swagger-api/swagger-ui/v2.1.4/dist/lib/handlebars-2.0.0.js"></script>
<script src="//cdn.rawgit.com/swagger-api/swagger-ui/v2.1.4/dist/lib/underscore-min.js"></script>
<script src="//cdn.rawgit.com/swagger-api/swagger-ui/v2.1.4/dist/lib/backbone-min.js"></script>
<script src="//cdn.rawgit.com/swagger-api/swagger-ui/v2.1.4/dist/swagger-ui.min.js"></script>
<script src="//cdn.rawgit.com/swagger-api/swagger-ui/v2.1.4/dist/lib/highlight.7.3.pack.js"></script>
<script src="//cdn.rawgit.com/swagger-api/swagger-ui/v2.1.4/dist/lib/jsoneditor.min.js"></script>
<script src="//cdn.rawgit.com/swagger-api/swagger-ui/v2.1.4/dist/lib/marked.js"></script>
<script src="//cdn.rawgit.com/swagger-api/swagger-ui/v2.1.4/dist/lib/swagger-oauth.js"></script>
<script src="//cdn.rawgit.com/swagger-api/swagger-ui/v2.1.4/dist/lang/translator.js"></script>
<script src="//cdn.rawgit.com/swagger-api/swagger-ui/v2.1.4/dist/lang/fr.js"></script>
<script type="text/javascript">
 window.swaggerUi = new SwaggerUi({
  url: '{{ page.openapi_definition }}',
  dom_id: 'swagger-ui-container',
  onComplete: function(swaggerApi, swaggerUi){
    if(window.SwaggerTranslator) {
      window.SwaggerTranslator.translate();
    }
    $('pre code').each(function(i, e) {
      hljs.highlightBlock(e)
    });
  },
  docExpansion: 'list'
 });

 window.swaggerUi.load();
</script>
