.footer a {
  opacity: 0.4;
}

.footer a:hover,
.footer a:focus {
  opacity: 1;
}

.footer {
  background: #26353f;
  color: #fff;
  padding: 2em 0;
}

.footer .container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.footer ul {
  list-style-type: none;
  padding: 0;
}

.footer__social {
  margin-top: 1em;
}

.footer__social li {
  display: inline;
  margin-right: 1em;
}

.footer__social .icon {
  width: 35px;
  height: 35px;
  fill: #fff;
}

.footer__links {
  margin: 0;
  line-height: 2em;
}

.footer__links h2 {
  margin-top: 0;
  margin-bottom: 0.5em;
}

.footer__links a {
  color: #fff;
}

.footer__logo {
  width: 300px;
  height: auto;
}

.footer__logo img {
  width: 100%;
}

@media (max-width: 999px) {
  .footer .container {
    flex-direction: column;
  }
}

.footer .container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer .container h1:first-of-type {
  margin-top: 0;
}

.footer .article__container {
  max-width: 35em;
}

@media (min-width: 400px) {
  .footer .container {
    width: 85%;
    padding: 0;
  }
}

@media (min-width: 550px) {
  .footer .container {
    width: 80%;
  }
}
