#services {
  .ui.cards>.card>.image {
    div {
      overflow: hidden;
      margin: 3% 5%;
      height: 15em;
      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
}

a.header-anchor {
  font-size: .9em;
  float: left;
  margin-left: -.87em;
  padding-right: .23em;
  opacity: 0;
  text-decoration: none;
}

h1:hover .header-anchor,
h2:hover .header-anchor,
h3:hover .header-anchor,
h4:hover .header-anchor,
h5:hover .header-anchor,
h6:hover .header-anchor {
  opacity: 1;
}
