#services {
  h2 {
      max-width: 60em;
      margin: 1em auto;
      font-size: 150%;
  }
  h3 {
    margin-bottom: 0;
  }
  .ui.cards>.card>.image {
    div {
      overflow: hidden;
      margin: 3% 5%;
      height: 15em;
      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
}
