@import '../../constants/colors.scss';

.question-tree-wrapper {
  button {
    display: inline-block;
    background-color: $lightBlue;
    padding: 5px 10px;
    border-radius: 6px;
    margin: 5px 5px 0 0;
    border: 2px solid transparent;
    font-size: 1.1rem;
    line-height: 1.6rem;
    color: $darkestGrey;
    width: 240px;
    margin: 15px 15px 5px 5px;

    &.selected,
    &:hover {
      border-color: $blue;
    }
  }

  .choices {
    display: flex;
    flex-wrap: wrap;
    // flex-direction: column;
    align-content: baseline;

    @media (min-width: 768px) {
      max-height: 450px;
    }
  }

  .result {
    margin-top: 2rem;
  }

  .choice {
    margin: 0;
    text-align: left;
  }

  .margin-top {
    margin-top: 20px;
  }

  .small-margin-bottom {
    margin-bottom: 10px;
  }

 .button-copy {
    display: inline-block;
    background-color: $white;
    border-radius: 0px;
    border: 2px solid $blue;
    color: $blue;
    margin: 5px 5px 5px 20px;
    padding: 6px;
    font-size: small;
    > span {
      position: relative;
      top: 2px;
    }
    &:active {
      background-color: $lightBlue;
    }
  }

  ul.no-bullets {
    li::before {
      content: none;
    }
  }
}
