@import '../../constants/colors.scss';

.question-tree-wrapper {
  button {
    display: inline-block;
    background-color: $lightBlue;
    padding: 5px 10px;
    border-radius: 6px;
    margin: 5px 5px 0 0;
    border: 2px solid transparent;
    font-size: 1.1rem;
    line-height: 1.6rem;
    color: #373c42;

    &.selected,
    &:hover {
      border-color: $blue;
    }

    &.big {
      min-width: 200px;
      max-width: 240px;
      height: 100%;
      margin: 15px 15px 5px 5px;
    }

  }

  .choices {
    display: flex;
    flex-wrap: wrap;
    max-height: 450px;

    &.big {
      flex-direction: column;
    }
  }

  .result {
    margin-top: 2em;
  }

  .choice {
    margin: 0;
    text-align: left;
  }

  ul.list-links {
    > li::before { content: none; }

    > li {
      display: inline;
    }
  }

  a.outside-link {
    display: inline-block;
    text-decoration: none;
    background-color: $white;
    border-radius: 0px;
    border: 2px solid $blue;
    color: $blue;
    margin: 5px;
    padding: 5px;
  }
}

.margin-top {
  margin-top: 15px;
}
