section#homepage-mission-statement {
  padding: 70px 0 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h2 {
    margin-bottom: 1rem;
    max-width: 650px;
    text-align: center;
  }

  @media (max-width: 768px) {
    h1,
    h2 {
      text-align: left;
      width: 100%;
    }

    h2 {
      font-size: 1.5rem;
    }
    h1 {
      font-size: 2.4rem;
      height: 100px;
    }
  }
}
