@import '../../constants/colors.scss';

#documentation-left-column {
  background-color: #133675;
  color: #fff;
  width: 320px;
  flex-shrink: 0;
  flex-grow: 0;

  div.search-wrapper {
    height: 80px;
    padding: 0 20px;
    background-color: #5c729b;
    border-bottom: 2px solid #133675;
  }

  .documentation-api-list {
    height: calc(100vh - 200px);

    @media only screen and (min-width: 1px) and (max-width: 993px) {
      height: calc(100vh - 254px);
    }

    overflow: auto;

    > div,
    a {
      box-shadow: none;
      padding: 10px 20px;
      color: #eff6ff;
      text-decoration: none;
      font-weight: 400;
      display: flex;
      align-items: center;

      &:hover {
        background-color: #0b2a63;
        text-decoration: underline;
      }
      div.api-title {
        flex-grow: 1;

        span.swagger-label {
          background-color: $orange;
          color: #333;
          padding: 1px 4px;
          margin: 0 5px;
          font-size: 0.7rem;
          font-weight: bold;
          border-radius: 4px;
          text-transform: uppercase;
        }
      }
      span.is-open-label {
        flex-shrink: 0;
        padding: 2px;
        margin-right: 10px;
        text-transform: uppercase;
      }
    }
  }

  @media only screen and (min-width: 1px) and (max-width: 768px) {
    display: none;
  }
}
