@import '../constants/colors.scss';
@import '../constants/layout.scss';

body,
html {
  margin: 0;
  padding: 0;
}

a {
  color: #3a73c0;
}

#page-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background-color: #fff;

  > main {
    flex-grow: 1;
    margin-top: #{$headerHeight + 'px'};
  }

  section.page-baseline {
    margin: 30px auto;
    text-align: left;
  }

  section.page-body-container {
    padding: 35px 0 60px;
    background: $lightGrey;
  }

  .default-grid {
    display: grid;
    grid-template-columns: 31% 31% 31%;
    grid-gap: 30px 3%;

    @media only screen and (min-width: 550px) and (max-width: 920px) {
      grid-template-columns: 48% 48%;
      grid-gap: 30px 4%;
    }

    @media only screen and (min-width: 1px) and (max-width: 600px) {
      grid-template-columns: 100%;
      grid-gap: 30px 0%;
    }
  }

  .left-column-grid {
    display: grid;
    grid-template-columns: 25% 72%;
    grid-gap: 20px 3%;

    @media only screen and (min-width: 1px) and (max-width: 920px) {
      grid-template-columns: 100%;
      grid-gap: 0 0;

      &.desktop-only {
        > .left-column {
          display: none;
        }
      }
    }
    .sticky-column {
      position: sticky;
      overflow: hidden;
      padding-bottom: 15px;
    }
  }
}

a {
  text-decoration: underline;
  background-color: #0058ff00;
  border-radius: 4px;
  transition: background-color 120ms ease-in-out;
  padding: 2px;
  color: $blue;
}
a:not(.dont-apply-link-style):hover {
  background-color: #0058ff14;
  text-decoration: underline;
  color: $vividBlue;
}

.layout-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-container {
  margin-left: auto;
  margin-right: auto;

  @media only screen and (min-width: 1124px) {
    width: 1100px;
  }

  @media only screen and (min-width: 768px) and (max-width: 1124px) {
    width: calc(100% - 100px);
  }

  @media only screen and (min-width: 550px) and (max-width: 768px) {
    width: calc(100% - 80px);
  }

  @media only screen and (min-width: 1px) and (max-width: 600px) {
    width: calc(100% - 50px);
  }
}
.text-wrapper {
  margin: 80px auto;

  @media only screen and (min-width: 1124px) {
    width: 780px;
  }

  @media only screen and (min-width: 768px) and (max-width: 1124px) {
    width: calc(100% - 100px);
  }

  @media only screen and (min-width: 550px) and (max-width: 768px) {
    width: calc(100% - 80px);
  }

  @media only screen and (min-width: 1px) and (max-width: 600px) {
    width: calc(100% - 50px);
  }
}

.text-style {
  font-size: 1.1rem;
  line-height: 1.6rem;
  color: $darkestGrey;

  h1 {
    font-size: 2.5rem;
    line-height: 3.4rem;
    margin: 50px 0;
    color: $darkGrey;
  }

  h2 {
    font-size: 1.8rem;
    line-height: 2.2rem;
    margin: 40px 0 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    color: $darkestGrey;
  }

  h3 {
    font-size: 1.3rem;
    line-height: 1.9rem;
    margin: 25px 0 16px;
  }

  h4 {
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin: 20px 0 16px;
  }

  p {
    font-size: 1.1rem;
    line-height: 1.8rem;
    margin: 20px 0 25px;

    br {
      margin-bottom: 15px;
    }

    ul {
      list-style: none;
    }
  }

  ul {
    list-style-type: circle;
    margin-left: 20px;
  }
}

h1 {
  font-size: 2.8rem;
  line-height: 3.7rem;
  margin: 15px 0;
  color: $darkestGrey;
}

h2 {
  font-size: 1.5rem;
  line-height: 2.1rem;
  margin: 10px 0 16px;
  color: $darkestGrey;
}

h3 {
  font-size: 1.3rem;
  line-height: 1.9rem;
  margin: 12px 0 16px;
}

h4 {
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin: 12px 0 16px;
}

@media only screen and (min-width: 1px) and (max-width: 600px) {
  h1 {
    font-size: 2.2rem;
    line-height: 3.1rem;
    margin: 12px 0 15px;
    color: $darkestGrey;
  }

  h2 {
    font-size: 1.4rem;
    line-height: 1.9rem;
    margin: 12px 0 16px;

    color: $darkestGrey;
  }

  h3 {
    font-size: 1.2rem;
    line-height: 1.9rem;
    margin: 12px 0 16px;
  }

  h4 {
    font-size: 1.1rem;
    line-height: 1.9rem;
    margin: 12px 0 16px;
  }
}

form {
  display: flex;
  flex-direction: column;

  > label {
    line-height: 18px;
    font-weight: 600;
    color: $darkestGrey;
    font-size: 1rem;
  }

  > input,
  > textarea {
    font-size: 1rem;
    margin: 5px 0 10px;
    width: calc(100% - 20px);
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    transition: border-color 300ms ease-in-out;
    font-family: 'Source Sans Pro', sans-serif;

    &:focus {
      border-color: $blue;
    }
    &:invalid {
      outline: none;
    }
  }
  > textarea {
    resize: none;
    height: 130px;
  }

  > div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
