---
layout: default
---

<section id="mission-statement" class="ui vertical center aligned segment {{ page.type }}">

  <div class="ui container">
    <div class="ui grid">
      <div class="twelve wide centered column">
        <h1 class="ui inverted header">
          {% assign type = site.api_type | where:"id", page.type | first %}
          <i class="{{ type.logo }} icon"></i>{{ page.name }}
        </h1>
        <h2 class="ui inverted header">
          {{ page.tagline }}
        </h2>
        {% if page.doc_tech %}
        <a class="large ui secondary button" href="{{ page.doc_tech }}">
          Documentation technique &nbsp;&nbsp;<i class="code icon"></i>
        </a>
        {% else %}
        {% include missing-doc_tech.html %}
        {% endif %}
        {% if page.access_link %}
        <a class="large ui secondary button" href="{{ page.access_link }}">
          Demandez l'accès &nbsp;&nbsp;
          <i class="ticket icon"></i>
        </a>
        {% endif %}
      </div>
    </div>
  </div>

</section>

<div id="description" class="ui container">
  <div class="ui mobile reversed stackable grid">
    <div class="four wide column">
      <div class="ui segment">
        {% if page.experimentale %}
        <div class="ui yellow ribbon label" >
          <span class="tooltip" title="L'interface de l'API n'est pas stable">Expérimentale</span>
        </div>
        {% else %}
        <div class="ui green ribbon label">
          <span class="tooltip" title="L'interface de l'API est stable">Stable</span>
        </div>
        {% endif %}
        <div class="ui relaxed divided list">
          <div class="item">
            <div class="ui fluid image">
              <img src="{{ page.logo }}" alt="{{ page.name }}" />
            </div>
          </div>
          <div class="item">
            <div class="content">
              <div class="header">Conditions d'utilisation</div>
              <div class="description">
                {{ page.contract }}
              </div>
            </div>
          </div>
          {% if page.restriction %}
          <div class="item">
            <div class="content">
              <div class="header">Contraintes</div>
              <div class="description">
                {{ page.restriction }}
              </div>
            </div>
          </div>
          {% endif %}
          <div class="item">
            <div class="content">
              <div class="header">Clients cibles</div>
              <div class="description">
               {{ page.clients | join: ' &amp; ' }}
              </div>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <div class="header">Sources et partenaires</div>
              <div class="description">
                {{ page.partners | join: ' &amp; ' }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="twelve wide column">
      <div class="ui secondary pointing menu">
        <a class="item active" data-tab="funk">Description</a>
        <a class="item" data-tab="tech">Technique</a>
      </div>
      <div class="ui active tab" data-tab="funk">
        <section class="markdown-body">
          {{ content }}
        </section>
      </div>
      <div class="ui tab" data-tab="tech">
        {% if page.openapi %}
          <section class="ui container">
            {% include swagger.html %}
          </section>
        {% else %}
          <p>
            Vous pouvez retrouver la documentation technique sur <a href="{{ page.doc_tech }}">le site de l'API</a>
          </p>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% capture reUse %}
  {% for service in site.reutilisation %}
    {% if service.api contains page.name%}
      {% include reuse-card.html reuse=service %}
    {% endif %}
  {% endfor %}
{% endcapture %}
{% assign reUseWithoutSpace = reUse | strip_newlines | strip %}
{% if reUseWithoutSpace != "" %}
<section id="services" class="ui container">
  <h2 class="ui divider horizontal">Les réutilisations</h2>
  <div class="ui two stackable cards">
    {{ reUse }}
  </div>
</section>
{% endif %}


<script>
  $(function() {
    $('.menu .item').tab();
  });
</script>
