<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>

    <div id="wrapper">
      <div id="page">
        <nav class="nav">
          <div class="nav__container">
            <a href="/"><img class="nav__logo" src="/img/logo_api.svg" alt="Accueil de api.gouv.fr" /></a>

            <ul class="nav__links">
              <li><a href="/apis">Liste des API</a></li>
              <li><a href="/services">Liste des services</a></li>
            </ul>
          </div>
        </nav>
        <main>
          {{ content }}
        </main>
        {% include footer.html %}
      </div>
    </div>
    <script>
    $('.ui.dropdown').dropdown();
    </script>
    {% include analytics.html %}
  </body>
</html>
