<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>

    <div id="wrapper">
      <div id="page">
        <header>
          <nav class="ui secondary menu">
            <a class="header item" id="logo" href="/">api.gouv.fr</a>
            <a class="medium screen only item" href="/explorer/">Liste des API</a>
            <a class="medium screen only item" href="/services">Liste des services</a>
          </nav>
        </header>
        <main>
          {{ content }}
        </main>
        {% include footer.html %}
      </div>
    </div>
    <script>
    $('.ui.dropdown').dropdown();
    </script>
    {% include analytics.html %}
  </body>
</html>
