---
layout: default
---

<section id="mission-statement" class="ui vertical center aligned segment">

  <div class="ui text container">
    <h1 class="ui inverted header">
      <a class="header" href="{{ site.baseurl }}/{{ page.site }}">{{ page.name }}</a>

    </h1>
  </div>
</section>


<div class="ui container">
  <div class="ui grid">
    <div class="row">
      <div class="four wide column">
        <h2 class="ui divider horizontal">Les API utilisées</h2>

        <div class="ui list">
        {% for apiName in page.api %}
        {% assign api = site.api | where: "name", apiName | first %}
          <div class="item">
            <img class="ui avatar image" src="{{ site.baseurl }}/{{ api.logo }}" alt="logo {{ api.name }}">
            <div class="content">
              <a href="{{ site.baseurl }}/{{ api.url }}" class="header">{{ api.name }}</a>
              <div class="description">{{ api.tagline }}</div>
            </div>
          </div>
        {% endfor %}
        </div>
      </div>
      <div class="twelve wide column">
        <h2 class="ui divider horizontal">Le service</h2>
        <div class="ui segment">
          <h4>{{ page.description }}</h4>
          <div>
            <img class="ui bordered rounded fluid image" src="{{ site.baseurl }}/img/{{ page.screenshot }}" alt="screenshot {{ page.name }}">
          </div>
          <div class="markdown-body">
            {{ content }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
