---
layout: default
---

<section id="title" class="ui vertical center aligned segment">

  <div class="ui text container">
    <h1 class="ui inverted header">
      {{ page.title }}
    </h1>

    <h2 class="ui inverted header">
      {{ page.description }}
    </h2>

    <a class="large ui secondary button" href="{{ page.link }}" target="_blank">
      Accédez au service &nbsp;&nbsp;<i class="rocket icon"></i>
    </a>
  </div>
</section>


<div class="ui container content">
  <div class="ui grid">
    <div class="row">
      <div class="five wide column">
        <h3 class="ui divider horizontal">Les API utilisées</h3>
        <div class="ui segments">
          {% for apiName in page.api %}
          {% assign api = site.api | where: "title", apiName | first %}

          <div class="ui segment">
            <div class="ui grid">
              <div class="row">
                <div class="three wide column">
                  <img class="ui fluid image logoAPI" src="{{ site.baseurl }}{{ api.logo }}" alt="logo de {{ api.title }}">
                </div>
                <div class="thirteen wide column">
                  <h4>
                    <a href="{{ site.baseurl }}{{ api.url }}" class="header">{{ api.title }}</a>
                  </h4>
                  {{ api.tagline }}
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="eleven wide column">
        <div class="markdown-body">
          {{ content }}
        </div>
        <div>
          <img class="ui bordered rounded fluid image" src="{{ site.baseurl }}/img/{{ page.screenshot }}" alt="capture d'écran de {{ page.title }}">
        </div>
      </div>
    </div>
  </div>
</div>
