@import '../../constants/colors.scss';

a.api-card {
  display: block;
  height: auto;
  padding: 0;
  margin: 0;
  position: relative;

  background: #fff;
  text-decoration: none;
  border: none;
  border-radius: 0.28571429rem;
  overflow: hidden;

  text-decoration: none;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  transition: transform 200ms ease-in-out, box-shadow 200ms ease-in-out;
  display: flex;
  flex-direction: column;

  &:hover {
    transform: translateY(-8px);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  }

  > .content {
    flex-grow: 1;
    margin: 15px;
    position: relative;

    img {
      width: 35px;
      position: absolute;
      top: 0;
      right: 0;
    }

    > .header {
      font-weight: 700;
      font-size: 1.2rem;
      margin-bottom: 20px;
      color: $darkGrey;
      width: calc(100% - 35px);
    }
    > .description {
      font-size: 1rem;
      color: rgba(0, 0, 0, 0.68);
      flex-grow: 1;
    }
  }

  .card-extra {
    padding: 0.5em 1em;
    color: #222;
  }

  .card-footer {
    background-color: #fafafa;
    border-top: 1px solid #eaeaea;
    padding: 15px;
  }

  .badges {
    display: flex;
    align-items: center;
    flex-flow: wrap;
  }

  .badge {
    display: inline-flex;
    align-items: center;
    font-size: small;
  }

  .badge.filler {
    flex-grow: 1;
  }

  .contract div {
    margin-left: 0.5em;
  }
}
